 /*------------------------------------*\
    Buttons
\*------------------------------------*/

@include breakup-breakpoint( "medium" ) {

    h1 + .alternate {
        
        @include rem( font-size, $font-size-nav );
        
        margin: 0;
        
        position: absolute;
        @include rem( top, 24 );
        right: 0;
        
    }
    
}