/*------------------------------------*\
    Buttons
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    button {
        cursor: pointer;
    }

    .button {
    
        background: $color-blue;
        color: $color-white;
        @include box-shadow( $default-box-shadow );
    
        @include breakup-placeholder( small-caps );
        font-family: $font-stack-sansserif;
        font-weight: bold;
        text-align: center;

        border-width: 0;
        @include border-radius( 3px );
        display: inline-block;
        @include rem( padding, 10 40 );
    
        cursor: pointer;
    
        @include transition( background-color $default-transition, color $default-transition );
    
        &:hover,
        &:focus,
        &:active {

            background: $color-blue-dark;
            color: $color-white;

            border: 0;
        
        }
        // Shift down and right when clicked
        &:active {
            position: relative;
            top: 1px;
            left: 1px;
        }
    
        // Alt Pattern
        &--alt {
        
            background: $color-yellow;
            color: $color-brown;
        
            &:hover,
            &:focus,
            &:active {
                background: $color-yellow-dark;
                color: $color-brown;
            }
        }
    
        // Calendar version
        &--calendar {
        
            background: transparent;
            color: $color-link;
        
            padding: 0;
        
            &:hover,
            &:focus,
            &:active {

                background: transparent;
                color: $color-link-hover;

            }
        
        }
    
    }
}