/*------------------------------------*\
    Blog Entry
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    .entry {

        @include rem( margin, $margin-default );
        
        &__meta {
            color: $color-grey;
            @include rem( margin-top, $default-spacing / 2 );
        }
        
        &__footer {
            border-top: 1px solid $color-rule;
            @include rem( padding-top, $default-spacing );
        }
        
        &--teaser &__footer {
            border-top: 0;
            padding-top: 0;
        }

    }
    
}
