/*------------------------------------*\
    Blog Entry
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    .entry {

        @include rem( margin, $margin-default );
        
        &__meta {
            color: $color-grey;
            margin-top: 0;
        }

        &__jump-links {
            @include breakup-placeholder( delist );
            margin-top: 0;
        }

        &__jump {
            margin: 0;
        }
        
        &__footer {
            border-top: 1px solid $color-rule;
            @include rem( padding-top, $default-spacing );
        }
        
        &--teaser &__footer {
            border-top: 0;
            padding-top: 0;
        }
        
        &__footer &__meta {
            @include rem( margin-top, $default-spacing );
        }
        
        &__content hr {
            @include rem( max-width, 220 );
        }

    }
    
}

@include breakup-breakpoint( "full" ) {

    .entry {

        position: relative;

        &__header &__meta {

            @include rem( font-size, $font-size-small );
            
            border-left: 1px solid $color-grey-light;
            padding: .4em 1em;
            margin-left: 1em;
            @include rem( margin-top, $default-spacing );
            width: 25%;
            
            position: absolute;
            left: 100%;

        }

        &__title {
            width: 134%;
        }
        
    }
    
}
