/*------------------------------------*\
    Gist
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    div.gist {
        
        @include rem( font-size, $font-size-code );
        
        table {
            margin: 0;
        
            .line-numbers {
                width: 3em;
            }
        
            .line-numbers,
            .gist-meta {
                speak: none;
            }
        }
    
        table,
        tbody,
        div.file-data {
            font-size: 100%;
        }
    
    }
    
}