/*------------------------------------*\
    Gist
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    div.gist {
        
        @include rem( font-size, $font-size-code );
        @include rem( margin, $margin-default );
        
        table {
            margin: 0;
        
            .line-numbers {
                width: 3em;
            }
        
        }
    
        .line-numbers,
        .gist-meta {
            speak: none;
        }
        
        .line-number,
        .line,
        .gist-meta {
            margin-top: 0;
        }

        table,
        tbody,
        div.file-data {
            font-size: 100%;
        }
    
    }
    
}

// De-table on smaller screens
// (using staff directory as a gauge)
@include breakup-media( "(max-width: 770px)" ) {
    div.gist .line-numbers,
    div.gist .line-data {
        display: table-cell;
    }
}