/*------------------------------------*\
    Listing
\*------------------------------------*/

@include breakup-breakpoint( "default" ) {

    .listing {

        @include breakup-placeholder( delist );
        
        @include rem( margin, $margin-default );

        &__item {

            margin: 0;
            @include rem( padding, ( $default-spacing / 2 ) 0 );

            &:last-child {
                border-bottom-width: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            &__title {
                @include breakup-placeholder( h2 );
            }

            &__meta {
                color: $color-text-light;
                @include breakup-placeholder( small-caps );
            }
            
            :last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }

        }

    }
    
}

// photo comes in at medium
// @include breakup-breakpoint( "medium" ) {
// 
//     .listing__item {
//         
//         $photo-width: 142;
//         
//         &--with-photo {
// 
//             // make space for the photo
//             @include rem( padding-left, $photo-width + $default-spacing );
// 
//             // contain the photo
//             @include breakup-placeholder( clearfix );
// 
//         }
//         &--with-photo &__photo {
//         
//             @include box-shadow( $default-box-shadow );
// 
//             float: left;
//             max-width: $photo-width + 0px;
//             @include rem( margin-left, 0 - $photo-width - $default-spacing );
//         
//         }
//     }
// }

