/*------------------------------------*\
    Grid
\*------------------------------------*/

.listing {
    
    @include breakup-placeholder( delist );
    
    &__item {
        
        border-bottom: 1px solid $color-rule;
        @include rem( margin, $margin-default );
        @include rem( padding, $margin-default );
        
        &:last-child {
            border-bottom-width: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        
        &__title {
            @include breakup-placeholder( h2 );
        }
        
        &__meta {
            color: $color-text-light;
            @include breakup-placeholder( small-caps );
            // slide up 
            @include rem( margin-top, 0 - $default-spacing );
        }
        
        // Details are special
        &--collapsible {
            border-bottom-width: 0;
            @include rem( margin, $margin-default );
            padding: 0;

        	&[open] {
        		@include rem( padding-bottom, $table-spacing );
        	}

        	& + & {
        		border-top: 1px solid $color-rule;
        		@include rem( margin-top, 0 - $default-spacing );
        	}
        	& + p {
        	    @include rem( margin-top, 0 - $default-spacing );
        	}
        }
        &--collapsible &__title {
            @include breakup-placeholder( h3 );
        }
        
        
        // photo comes in at medium
        @include breakup-breakpoint( "medium" ) {

            $photo-width: 142;
            &--with-photo {

                // make space for the photo
                @include rem( padding-left, $photo-width + $default-spacing );

                // contain the photo
                @include breakup-placeholder( clearfix );

            }
            &--with-photo &__photo {
                @include box-shadow( $default-box-shadow );

                float: left;
                max-width: $photo-width + 0px;
                @include rem( margin-left, 0 - $photo-width - $default-spacing );
            }
            
        }

    }
    
}


.listing--faculty .listing__item {
    
    border-bottom: 0;
    padding-bottom: 0;
    
    // Math!
    // Goal: relatively conistent spacing where the bios only occupy a width
    // equivalent to 3 columns on a 12 column grid
    $max-cols: map-get( $grid-breakpoints, "full" );
    $col-occupied: 3;
    $max-modules: $max-cols / $col-occupied;
    $target-width: ( parseInt( span( $col-occupied of $max-cols fluid ) ) / 100 ) * $bp-full-em;
    $target-margin: ( parseInt( gutter( $max-cols fluid ) ) / 100 ) * $bp-full-em;
    
    // default to 100%
    width: 100%;
    
    // starting at 2 cols
    $curr-count: 2; 
    @while $curr-count < $max-modules
    {
        // calculate the width for the media query
        $curr-bp: ( $target-width * $curr-count ) + ( $target-margin * ( $curr-count - 1 ) );
        $next-bp: ( $target-width * ( $curr-count + 1 ) ) + ( $target-margin * $curr-count ) - .0001em;
        // how many cols should the instance grid have?
        $total-cols: $curr-count * $col-occupied;
        
        @include breakup-media( "only screen and (min-width: #{$curr-bp}) and (max-width: #{$next-bp})" ) {
            
            @include span( $col-occupied of $total-cols fluid );

            // wraps
            &:nth-child( #{$curr-count}n ) {
                margin-right: 0;
            }
            &:nth-child( #{$curr-count}n + 1 ) {
                clear: left;
            }

        }
        
        // next!
        $curr-count: $curr-count + 1;
    }
    
    @include breakup-breakpoint( "full" ) {
        
        @include span( $col-occupied of  $max-cols fluid );

        // wraps
        &:nth-child( 4n ) {
            margin-right: 0;
        }
        &:nth-child( 4n + 1 ) {
            clear: left;
        }

    }
        
}