/*------------------------------------*\
    Listing
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    .listing {

        @include breakup-placeholder( delist );
        
        &__item {

            &__title {
                @include rem( font-size, $font-size-body );
            }

            &__meta {
                color: $color-text-light;
                @include breakup-placeholder( small-caps );
                @include rem( margin, 2 0 0 );
            }
            
            &__description {
                margin: 0;
            }

        }
        
        &--links &__item {
            margin: 0;
        }

    }
    
}

// photo comes in at medium
// @include breakup-breakpoint( "medium" ) {
// 
//     .listing__item {
//         
//         $photo-width: 142;
//         
//         &--with-photo {
// 
//             // make space for the photo
//             @include rem( padding-left, $photo-width + $default-spacing );
// 
//             // contain the photo
//             @include breakup-placeholder( clearfix );
// 
//         }
//         &--with-photo &__photo {
//         
//             @include box-shadow( $default-box-shadow );
// 
//             float: left;
//             max-width: $photo-width + 0px;
//             @include rem( margin-left, 0 - $photo-width - $default-spacing );
//         
//         }
//     }
// }

