/*------------------------------------*\
    Webmentions
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {
    
    .video-embed {
        border: 1px solid $color-grey-light;

        height: 0;
        overflow: hidden;

        position: relative;
        
        &__video {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           
        }
        
        &--16x9 {
            padding-bottom:56.25%; /* 9/16*100 */
        }
        &--4x3 {
            padding-bottom:75%; /* 3/4*100 */
        }
        &--1x1 {
            padding-bottom:100%;
        }
        
        &__lazy-link:link,
        &__lazy-link:visited {

            background: $color-black center center no-repeat;
            background-size: cover;
            color: #DDD;

            text-decoration: none;
            text-align: left;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            vertical-align: top;
            
            display: inline-block;
            width:100%;
            height:100%;
            
            position: absolute;
            
            &:hover,
            &:focus {
                text-decoration:none;
                color:#FFF;
            }
        }
        
        &__lazy-div {
            width: 100%;
            height: 100%;
            background: url(/c/i/play-button.png) center center no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            
            &:hover {
                background-image: url(/c/i/play-button-hover.png);
            }
        }
        
        &__lazy-info {

            background: $color-black;
            background-color: rgba( $color-black, .9 );
            
            margin: 0;
            @include rem( padding, $default-spacing / 2 );

            position:absolute;
            top: -1px;
            left: -1px;
            right: -1px;
        }
        
    }
    
}