/*------------------------------------*\
    Body-level settings
\*------------------------------------*/

// CSS Device Adaptation
// http://dev.w3.org/csswg/css-device-adapt/
// ==========================================================================
@-moz-viewport{
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport{
    width: device-width;
    zoom: 1.0;
}
@-o-viewport{
    width: device-width;
    zoom: 1.0;
}
@-webkit-viewport{
    width: device-width;
    zoom: 1.0;
}
@viewport{
    width: device-width;
    zoom: 1.0;
}


// Basline element definitions
// ==========================================================================
@include establish-baseline;

html {
    @include baseline-guide;

    body {
    	@include breakup-placeholder( text );
    	// @include breakup-placeholder( font-smoothing );

    	background: $color-background url(/c/i/background.png) center center repeat;
    	color: $color-text;

        font-family: $font-stack-body;
        font-weight: $font-weight-sansserif-normal;
        @include nicer-font-display;

        margin: 0 auto;
    }

}

@include breakup-breakpoint( "full" ) {
    [role=main] {
        @include rem( min-height, 400 );
    }
}