@charset "UTF-8";
/*------------------------------------*\
    Main CSS
\*------------------------------------*/
/*------------------------------------*\
    $VENDORS
	Other people’s code
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
	SASS Tools
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
/*	Debug controls
	========================================================================== */
/*	CDN
	========================================================================== */
/*	Breakpoint Management
	========================================================================== */
/*	Grid Management
	========================================================================== */
/*	Legacy support
	========================================================================== */
/*	Typography
	========================================================================== */
/*	Colors
	========================================================================== */
/*	Images
	========================================================================== */
/*	Defaults
	========================================================================== */
/*------------------------------------*\
    Functions
\*------------------------------------*/
/*------------------------------------*\
    Mixins
\*------------------------------------*/
/*------------------------------------*\
    Placeholders
\*------------------------------------*/
/*------------------------------------*\
    $BASE
	Global element styles
\*------------------------------------*/
/*------------------------------------*\
    Body-level settings
\*------------------------------------*/
/*------------------------------------*\
    Heading Levels
\*------------------------------------*/
/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
@media only screen and (min-width: 43.125em) {
  blockquote,
  dl {
    padding: 0 22px;
    padding: 0 1.375rem;
  }
}
@media only screen and (min-width: 60em) {
  blockquote,
  dl {
    padding: 0 44px;
    padding: 0 2.75rem;
  }
}
/*------------------------------------*\
    Lists
\*------------------------------------*/
/*------------------------------------*\
    Links
\*------------------------------------*/
/*------------------------------------*\
    Text-level semantics
\*------------------------------------*/
/*------------------------------------*\
    Code styles
\*------------------------------------*/
/*------------------------------------*\
    Media Elements
\*------------------------------------*/
@media only screen and (min-width: 43.125em) {
  .media-container--right {
    float: right;
    max-width: 250px;
    margin-left: 22px;
    margin-left: 1.375rem;
    margin-right: 0;
  }
}
/*------------------------------------*\
    Tables
\*------------------------------------*/
@media only screen and (max-width: 770px) {
  .layout-container__primary table {
    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
  }
  .layout-container__primary table caption {
    display: block;
  }
  .layout-container__primary table thead {
    display: none;
  }
  .layout-container__primary table tbody,
  .layout-container__primary table tr,
  .layout-container__primary table th,
  .layout-container__primary table td {
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
  }
  .layout-container__primary table tr {
    margin: 0 0 22px;
    margin: 0 0 1.375rem;
  }
  .layout-container__primary table th[data-title]:before,
  .layout-container__primary table td[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: bold;
  }
  .layout-container__primary table th:not([data-title]) {
    font-weight: bold;
  }
  .layout-container__primary table td:empty {
    display: none;
  }
}
@media only screen and (min-width: 43.125em) {
  table.striped {
    background: #fff;
  }
  table.striped thead {
    background: #DDD;
    border-bottom: 0;
  }
  table.striped tbody tr {
    background: #fff;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  table.striped tbody tr:nth-child(even) {
    background: #413d3a;
  }
  table.striped tbody tr:hover {
    background: #fff;
  }
  table.striped th,
  table.striped td {
    border: 1px solid #DDD;
    padding: 15px;
    padding: 0.9375rem;
  }
}
/*------------------------------------*\
    Form Styles
\*------------------------------------*/
@media only screen and (min-width: 43.125em) {
  input,
  textarea {
    width: 80%;
  }

  .fields__note {
    width: 80%;
  }
}
/*------------------------------------*\
    Animations
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
	Page layout
\*------------------------------------*/
/*------------------------------------*\
    Grid
\*------------------------------------*/
@media only screen and (min-width: 28.75em) {
  .layout-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .layout-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media only screen and (min-width: 43.125em) {
  .layout-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .layout-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media only screen and (min-width: 60em) {
  .layout-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 920px;
    max-width: 57.5rem;
  }
  .layout-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media only screen and (min-width: 43.125em) {
  .layout-container__primary {
    width: 61.53846%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media only screen and (min-width: 60em) {
  .layout-container__primary {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media only screen and (min-width: 43.125em) {
  .layout-container__secondary {
    width: 35.89744%;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }
  .layout-container__secondary > :last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 60em) {
  .layout-container__secondary {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 43.125em) {
  .layout-container--alt .layout-container__primary {
    width: 61.53846%;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 60em) {
  .layout-container--alt .layout-container__primary {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 43.125em) {
  .layout-container--alt .layout-container__secondary {
    width: 35.89744%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media only screen and (min-width: 60em) {
  .layout-container--alt .layout-container__secondary {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media only screen and (min-width: 43.125em) {
  .layout-container--split .layout-container__primary {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    padding-right: 6px;
    padding-right: 0.375rem;
  }
}
@media only screen and (min-width: 60em) {
  .layout-container--split .layout-container__primary {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media only screen and (min-width: 43.125em) {
  .layout-container--split .layout-container__secondary {
    width: 48.71795%;
    float: right;
    margin-right: 0;
    padding-left: 6px;
    padding-left: 0.375rem;
    margin-right: 0;
  }
}
@media only screen and (min-width: 60em) {
  .layout-container--split .layout-container__secondary {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }
}

/*------------------------------------*\
    Header
\*------------------------------------*/
/*------------------------------------*\
    Main
\*------------------------------------*/
/*------------------------------------*\
    Footer
\*------------------------------------*/
/*------------------------------------*\
    $COMPONENTS
	Interface patterns
\*------------------------------------*/
/*------------------------------------*\
    Media Query Watcher (for JS)
\*------------------------------------*/
@media only screen and (min-width: 20em) {
  #getActiveMQ-watcher {
    font-family: "tiny";
  }
}
@media only screen and (min-width: 28.75em) {
  #getActiveMQ-watcher {
    font-family: "small";
  }
}
@media only screen and (min-width: 43.125em) {
  #getActiveMQ-watcher {
    font-family: "medium";
  }
}
@media only screen and (min-width: 60em) {
  #getActiveMQ-watcher {
    font-family: "full";
  }
}
/*------------------------------------*\
    Modules
\*------------------------------------*/
/*------------------------------------*\
    Listing
\*------------------------------------*/
/*------------------------------------*\
    Media Elements
\*------------------------------------*/
/*------------------------------------*\
    Embeds
\*------------------------------------*/
/*------------------------------------*\
    Webmentions
\*------------------------------------*/
/*------------------------------------*\
    Footnotes
\*------------------------------------*/
/*------------------------------------*\
    Events
\*------------------------------------*/
/*------------------------------------*\
    Blog Entry
\*------------------------------------*/
/*------------------------------------*\
    Gist
\*------------------------------------*/
/*------------------------------------*\
    Rules
\*------------------------------------*/
@media only screen and (min-width: 43.125em) {
  .rule--optional {
    display: none;
  }
}
/*------------------------------------*\
    Post
\*------------------------------------*/
/*------------------------------------*\
    Webmentions
\*------------------------------------*/
/*------------------------------------*\
    Hero Shot
\*------------------------------------*/
/*------------------------------------*\
    $PAGES
	Page-specific styles
	(use sparingly)
\*------------------------------------*/
/*------------------------------------*\
    Homepage
\*------------------------------------*/
/*------------------------------------*\
    Speaking Engagements
\*------------------------------------*/
.listing--events {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media only screen and (min-width: 43.125em) {
  .event {
    width: 46%;
  }
}
@media only screen and (min-width: 60em) {
  .event {
    width: 30%;
  }
}
.event--future:nth-last-child(2):first-child, .event--future:nth-last-child(2):first-child ~ .event--future {
  width: 46%;
}
