@charset "UTF-8";
/*------------------------------------*\
    Main CSS
\*------------------------------------*/
/*------------------------------------*\
    $VENDORS
	Other people’s code
\*------------------------------------*/
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*------------------------------------*\
    Google Custom Search overrides
\*------------------------------------*/
div.gsc-input-box {
  height: auto;
}

.gsc-search-box tr {
  border-width: 0;
}

.gsc-above-wrapper-area-container {
  margin-bottom: 0;
}

.gsc-resultsHeader {
  display: none;
}

td.gsib_a {
  padding: 4px 6px 6px;
}

td.gsib_b {
  padding: 0;
}

.gsc-webResult div.gsc-result {
  padding: 20px;
}

.gsc-table-result {
  margin: 0;
}
.gsc-table-result tr {
  border-width: 0;
}
.gsc-table-result th, .gsc-table-result td {
  padding: 0;
}

div.gsc-thumbnail-inside,
div.gsc-url-top {
  padding: 0;
}

/*------------------------------------*\
    $HELPERS
	SASS Tools
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
/*	Debug controls
	========================================================================== */
/*	URLs
	========================================================================== */
/*	Breakpoint Management
	========================================================================== */
/*	Grid Management
	========================================================================== */
/*	Legacy support
	========================================================================== */
/*	Typography
	========================================================================== */
/*	Colors
	========================================================================== */
/*	Images
	========================================================================== */
/*	Defaults
	========================================================================== */
/*------------------------------------*\
    Functions
\*------------------------------------*/
/*------------------------------------*\
    Mixins
\*------------------------------------*/
/*------------------------------------*\
    Placeholders
\*------------------------------------*/
html body {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.4;
}
.wf-active html body, html .wf-active body {
  word-spacing: 2px;
}
nav ol, nav
ul, .fields, .listing, .entry__jump-links {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.hidden, object[data^="#"], .webmention--author-starts .h-card .p-name {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
html body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
table thead, .listing__item__meta {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  letter-spacing: 2px 	;
  text-transform: uppercase;
  word-spacing: 1px;
}
/*------------------------------------*\
    $BASE
	Global element styles
\*------------------------------------*/
/*------------------------------------*\
    Body-level settings
\*------------------------------------*/
@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}
html {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #FF6BA6), color-stop(1px, transparent));
  background: -webkit-linear-gradient(#FF6BA6 1px, transparent 1px);
  background: linear-gradient(#FF6BA6 1px, transparent 1px);
  background-size: 100% .75;
}
html body {
  background: #fff;
  color: #2c2825;
  font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

/*------------------------------------*\
    Heading Levels
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "quatro-slab", Georgia, serif;
  font-weight: 500;
  line-height: 1.1;
}
.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6 {
  word-spacing: 2px;
}
h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 11px;
  margin-top: 0.6875rem;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}

section > h1,
h2 {
  font-size: 32px;
  font-size: 2rem;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
* {
  margin-top: 0;
  margin-bottom: 0;
}

* + * {
  margin-top: 22px;
  margin-top: 1.375rem;
}

blockquote {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  padding: 0 22px;
  padding: 0 1.375rem;
  max-width: 700px;
  max-width: 43.75rem;
}

.blockquote__attribution {
  font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding-left: 44px;
  padding-left: 2.75rem;
}
.blockquote__attribution cite {
  font-style: normal;
}

p {
  font-weight: normal;
  line-height: 1.4;
}
.wf-active p {
  word-spacing: 2px;
}

[aria-hidden="true"] {
  display: none;
}

hr {
  border: 0;
  border-top: 1px solid #DDD;
  height: 0;
  margin: 22px auto;
  margin: 1.375rem auto;
}

/*------------------------------------*\
    Lists
\*------------------------------------*/
ol,
ul {
  line-height: 1.4;
  margin-left: 22px;
  margin-left: 1.375rem;
  padding-left: 0;
}
nav ol, nav
ul {
  margin: 0;
}
nav ol li, nav
ul li {
  margin: 0;
}

li + li {
  margin-top: 11px;
  margin-top: 0.6875rem;
}

dl {
  margin-left: auto;
  margin-right: auto;
  padding: 0 22px;
  padding: 0 1.375rem;
  max-width: 700px;
  max-width: 43.75rem;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}

/*------------------------------------*\
    Links
\*------------------------------------*/
a {
  text-decoration: none;
}
a:link, a:visited {
  color: #34AD23;
  border-bottom: 1px dotted;
  border-bottom-color: rgba(52, 173, 35, 0.25);
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
  transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
}
a:hover, a:focus, a:active {
  color: #27831a;
  border-bottom-color: #27831a;
}
a[href^=mailto], a[href^=tel] {
  white-space: nowrap;
}
a.email, a.tel {
  white-space: nowrap;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom-width: 0;
}
h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active, h3 a:hover, h3 a:focus, h3 a:active, h4 a:hover, h4 a:focus, h4 a:active, h5 a:hover, h5 a:focus, h5 a:active, h6 a:hover, h6 a:focus, h6 a:active {
  border-bottom-width: 1px;
}
a[rel="full-article"]::after {
  content: "\00A0\2192";
}
a[rel="original-article"]::after {
  content: "\00A0\2192";
  display: inline-block;
  -webkit-transform: translateX(-0.25em) rotate(-45deg) translateY(0.25em);
  -ms-transform: translateX(-0.25em) rotate(-45deg) translateY(0.25em);
  transform: translateX(-0.25em) rotate(-45deg) translateY(0.25em);
}

@supports (background-image: linear-gradient(black, white)) {
  a:link,
  a:visited {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(1px, transparent), color-stop(1px, #34AD23), color-stop(2px, #34AD23), color-stop(2px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 1px, #34AD23 1px, #34AD23 2px, transparent 2px);
    background-image: linear-gradient(bottom, transparent, transparent 1px, #34AD23 1px, #34AD23 2px, transparent 2px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  h1 a:link, h1
  a:visited {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(6px, transparent), color-stop(6px, #34AD23), color-stop(7px, #34AD23), color-stop(7px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 6px, #34AD23 6px, #34AD23 7px, transparent 7px);
    background-image: linear-gradient(bottom, transparent, transparent 6px, #34AD23 6px, #34AD23 7px, transparent 7px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

  a:hover,
  a:focus {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(1px, transparent), color-stop(1px, #27831a), color-stop(2px, #27831a), color-stop(2px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 1px, #27831a 1px, #27831a 2px, transparent 2px);
    background-image: linear-gradient(bottom, transparent, transparent 1px, #27831a 1px, #27831a 2px, transparent 2px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  h1 a:hover, h1
  a:focus {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(6px, transparent), color-stop(6px, #27831a), color-stop(7px, #27831a), color-stop(7px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 6px, #27831a 6px, #27831a 7px, transparent 7px);
    background-image: linear-gradient(bottom, transparent, transparent 6px, #27831a 6px, #27831a 7px, transparent 7px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

  a.footnote {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  html.wf-active a:link,
  html.wf-active a:visited {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(2px, transparent), color-stop(2px, #34AD23), color-stop(3px, #34AD23), color-stop(3px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 2px, #34AD23 2px, #34AD23 3px, transparent 3px);
    background-image: linear-gradient(bottom, transparent, transparent 2px, #34AD23 2px, #34AD23 3px, transparent 3px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  html.wf-active h1 a:link,
  html.wf-active h1 a:visited {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(8px, transparent), color-stop(8px, #34AD23), color-stop(9px, #34AD23), color-stop(9px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 8px, #34AD23 8px, #34AD23 9px, transparent 9px);
    background-image: linear-gradient(bottom, transparent, transparent 8px, #34AD23 8px, #34AD23 9px, transparent 9px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  html.wf-active a:hover,
  html.wf-active a:focus {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(2px, transparent), color-stop(2px, #27831a), color-stop(3px, #27831a), color-stop(3px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 2px, #27831a 2px, #27831a 3px, transparent 3px);
    background-image: linear-gradient(bottom, transparent, transparent 2px, #27831a 2px, #27831a 3px, transparent 3px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  html.wf-active h1 a:hover,
  html.wf-active h1 a:focus {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(8px, transparent), color-stop(8px, #27831a), color-stop(9px, #27831a), color-stop(9px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 8px, #27831a 8px, #27831a 9px, transparent 9px);
    background-image: linear-gradient(bottom, transparent, transparent 8px, #27831a 8px, #27831a 9px, transparent 9px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
  html.wf-active a.footnote {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/*------------------------------------*\
    Text-level semantics
\*------------------------------------*/
abbr {
  cursor: help;
  border: 0;
}
abbr[title] {
  border: 0;
}

mark {
  background: transparent;
  color: #2c2825;
  color: inherit;
  font-weight: normal;
  font-weight: inherit;
  font-style: normal;
  font-style: inherit;
}

b {
  font-weight: inherit;
}

i {
  font-style: inherit;
}

sub, sup {
  font-size: 12px;
  font-size: 0.75rem;
  font-style: inherit;
  font-weight: inherit;
  position: relative;
}

sub {
  bottom: -1em;
}

sup {
  bottom: 1em;
}

time {
  white-space: nowrap;
}

/*------------------------------------*\
    Code styles
\*------------------------------------*/
code,
kbd {
  background-color: #F9F9F9;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #2c2825;
  font-style: normal;
  padding: .05em .25em;
  white-space: nowrap;
}

pre {
  background-color: #F9F9F9;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #2c2825;
  font-style: normal;
  white-space: prewrap;
  margin-left: auto;
  margin-right: auto;
  padding: .05em .25em;
  max-width: 700px;
  max-width: 43.75rem;
}
pre code {
  background: transparent;
  border: 0;
  padding: 0;
  white-space: normal;
}

/*------------------------------------*\
    Media Elements
\*------------------------------------*/
object[data*="svg"] {
  pointer-events: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
img[style] {
  width: 100% !important;
  height: auto !important;
}

picture {
  display: block;
}

.noscript-picture {
  margin: 0;
  padding: 0;
}

.media-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: 11px;
  margin-top: 0.6875rem;
}

footer ~ noscript img {
  width: 1px;
  height: 1px;
}

/*------------------------------------*\
    Tables
\*------------------------------------*/
table {
  border-collapse: collapse;
  margin: 0 0 22px;
  margin: 0 0 1.375rem;
  width: 100%;
  min-width: 100px;
}
table thead {
  border-bottom: 3px solid #DDD;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}
table thead th {
  font-weight: bold;
}
table thead th p {
  font-weight: bold;
  display: inline;
  margin: 0;
}
table tbody {
  font-size: 24px;
  font-size: 1.5rem;
}
table tr {
  border-top: 1px solid #DDD;
}
table td,
table th {
  font-weight: normal;
  text-align: left;
  padding: 15px;
  padding: 0.9375rem;
  padding-left: 0;
}
table td:last-child,
table th:last-child {
  padding-right: 0;
}
table td :last-child,
table th :last-child {
  margin-bottom: 0;
}
table td[colspan],
table th[colspan] {
  font-weight: bold;
}

/*------------------------------------*\
    Form Styles
\*------------------------------------*/
form {
  margin: 0 0 22px;
  margin: 0 0 1.375rem;
}
form ul,
form ol {
  list-style: none;
}
form li {
  margin-bottom: .5em;
}

.fields__group {
  margin: 0 0 22px;
  margin: 0 0 1.375rem;
}
.fields__group:last-child {
  margin: 0;
}
.fields__group label {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  display: block;
}
.fields__group input,
.fields__group select,
.fields__group textarea {
  color: #DDD;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  margin: 5px 0;
  margin: 0.3125rem 0;
  padding: 5px;
  padding: 0.3125rem;
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.fields__group input,
.fields__group textarea {
  background: #fff;
  color: #2c2825;
  display: block;
  width: 100%;
}
.fields__group input[type=search] {
  -webkit-appearance: textfield;
}
.fields__group select {
  font-size: 24px;
  font-size: 1.5rem;
  max-width: 100%;
}
.fields__group__note {
  font-size: 14px;
  font-size: 0.875rem;
}
.fields__required {
  color: #f00;
  font-weight: normal;
}
.fields .validation-error input,
.fields .validation-error select,
.fields .validation-error textarea {
  color: #f00;
}

@-moz-document url-prefix() {
  .fields select {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
/*------------------------------------*\
    Animations
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
	Page layout
\*------------------------------------*/
/*------------------------------------*\
    Grid
\*------------------------------------*/
.layout-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 1% 	;
  padding: 0 20px;
  padding: 0 1.25rem;
  position: relative;
}
.layout-container:after {
  content: " ";
  display: block;
  clear: both;
}
.layout-container__primary, .layout-container__secondary {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------*\
    Header
\*------------------------------------*/
.banner {
  text-align: center;
}
.banner * + * {
  margin: 0;
}
.banner .layout-container {
  max-width: 100%;
  padding: 0;
}

.site-title {
  font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  text-transform: uppercase;
}
.site-title a {
  background: #666;
  color: #DDD;
  border: 0;
  padding: 8px 22px;
  padding: 0.5rem 1.375rem;
  display: block;
}
.site-title a:hover, .site-title a:focus {
  background: #34AD23;
  color: #fff;
}

.alert {
  background: #2c2825;
  color: #fff;
  margin: 0 0 22px;
  margin: 0 0 1.375rem;
  padding: 7px 5px;
  padding: 0.4375rem 0.3125rem;
  text-align: center;
}
.alert a {
  border-color: inherit;
  color: inherit;
}
.alert strong {
  font-weight: normal;
}
.alert + header {
  margin-top: 0;
}
.alert + header .site-title,
.alert + header .site-subtitle {
  margin-bottom: 11px;
  margin-bottom: 0.6875rem;
}

@supports (background-image: linear-gradient(black, white)) {
  #aaron-gustafson_com .site-title a {
    background-image: none;
    text-shadow: none;
  }

  #aaron-gustafson_com .alert a {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(2px, transparent), color-stop(2px, #fff), color-stop(3px, #fff), color-stop(3px, transparent));
    background-image: -webkit-linear-gradient(bottom, transparent, transparent 2px, #fff 2px, #fff 3px, transparent 3px);
    background-image: linear-gradient(bottom, transparent, transparent 2px, #fff 2px, #fff 3px, transparent 3px);
    border-bottom-width: 0;
    text-shadow: -1px -1px 0 #2c2825, 1px -1px 0 #2c2825, -1px 1px 0 #2c2825, 1px 1px 0 #2c2825;
  }
}
/*------------------------------------*\
    Main
\*------------------------------------*/
/*------------------------------------*\
    Navigation
\*------------------------------------*/
[role=navigation] {
  text-align: center;
  padding-bottom: 22px;
  padding-bottom: 1.375rem;
}
[role=navigation] p {
  margin: 0;
}
[role=navigation] a {
  font-size: 18px;
  font-size: 1.125rem;
  display: block;
  padding: .5em 1em;
}

#aaron-gustafson_com .main-navigation__link {
  background-image: none;
  text-shadow: none;
}
.main-navigation__link:hover, .main-navigation__link:focus, .main-navigation__link:active, mark .main-navigation__link {
  background-color: #27831a;
  color: #fff;
}
[role=navigation] .main-navigation__link--search {
  display: none;
}

.form--search [type=search] {
  font-size: 18px;
  font-size: 1.125rem;
  appearance: none;
  border: 1px solid;
  border-radius: 3px;
  margin: 0 5px 0 0;
  margin: 0 0.3125rem 0 0;
}
.form--search button {
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875rem;
}

@supports (display: flex) {
  [role=search] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}
/*------------------------------------*\
    Footer
\*------------------------------------*/
.footer {
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  padding-bottom: 22px;
  padding-bottom: 1.375rem;
}
.footer p {
  margin: 0;
}
.footer::before {
  content: "";
  display: block;
  border: 0;
  border-top: 1px solid #DDD;
  height: 0;
  margin: 22px auto;
  margin: 1.375rem auto;
}

/*------------------------------------*\
    Print Layout stuff
\*------------------------------------*/
/*------------------------------------*\
    $COMPONENTS
	Interface patterns
\*------------------------------------*/
/*------------------------------------*\
    Media Query Watcher (for JS)
\*------------------------------------*/
#getActiveMQ-watcher {
  font-family: "global";
}

/*------------------------------------*\
    Modules
\*------------------------------------*/
.module__title {
  font-size: 24px;
  font-size: 1.5rem;
}
.module * + * {
  margin-top: 11px;
  margin-top: 0.6875rem;
}

/*------------------------------------*\
    Buttons
\*------------------------------------*/
button,
.button {
  cursor: pointer;
  background: #666;
  color: #fff;
  text-shadow: none;
  border: 1px solid #2c2825;
  border-radius: 3px;
  padding: 5px 10px;
  padding: 0.3125rem 0.625rem;
}
button:hover, button:focus,
.button:hover,
.button:focus {
  background: #1b5812;
}

/*------------------------------------*\
    Listing
\*------------------------------------*/
.listing__item__title {
  font-size: 20px;
  font-size: 1.25rem;
}
.listing__item__meta {
  color: #666;
  margin: 2px 0 0;
  margin: 0.125rem 0 0;
}
.listing__item__description {
  margin: 0;
}
.listing--links .listing__item {
  margin: 0;
}
.listing--links .listing__item--link {
  margin-bottom: 11px;
  margin-bottom: 0.6875rem;
}

/*------------------------------------*\
    Media Elements
\*------------------------------------*/
.figure {
  margin: 22px auto;
  margin: 1.375rem auto;
}

/*------------------------------------*\
    Embeds
\*------------------------------------*/
.embed {
  margin-left: auto;
  margin-right: auto;
}
.embed.tweet {
  max-width: 502px;
  max-width: 31.375rem;
}

/*------------------------------------*\
    Webmentions
\*------------------------------------*/
.video-embed {
  border: 1px solid #DDD;
  height: 0;
  overflow: hidden;
  position: relative;
}
.video-embed__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-embed--16x9 {
  padding-bottom: 56.25%;
  /* 9/16*100 */
}
.video-embed--4x3 {
  padding-bottom: 75%;
  /* 3/4*100 */
}
.video-embed--1x1 {
  padding-bottom: 100%;
}
.video-embed__lazy-link:link, .video-embed__lazy-link:visited {
  background: #2c2825 center center no-repeat;
  background-size: cover;
  color: #DDD;
  text-decoration: none;
  text-align: left;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.video-embed__lazy-link:link:hover, .video-embed__lazy-link:link:focus, .video-embed__lazy-link:visited:hover, .video-embed__lazy-link:visited:focus {
  text-decoration: none;
  color: #FFF;
}
.video-embed__lazy-div {
  width: 100%;
  height: 100%;
  background: url(/c/i/play-button.png) center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.video-embed__lazy-div:hover {
  background-image: url(/c/i/play-button-hover.png);
}
.video-embed__lazy-info {
  background: #2c2825;
  background-color: rgba(44, 40, 37, 0.9);
  margin: 0;
  padding: 11px;
  padding: 0.6875rem;
  text-shadow: none;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
}

/*------------------------------------*\
    Footnotes
\*------------------------------------*/
.footnotes ol {
  font-size: 14px;
  font-size: 0.875rem;
  margin-left: 0;
  padding-left: 2em;
}
.footnotes a[rev=footnote] {
  margin-left: .5em;
}
.footnotes * + * {
  margin-top: 0;
}

/*------------------------------------*\
    Events
\*------------------------------------*/
.event__content {
  margin-top: 2px;
  margin-top: 0.125rem;
}
.event__location {
  display: block;
  margin-top: 0;
}

/*------------------------------------*\
    Blog Entry
\*------------------------------------*/
.entry {
  margin: 0 0 22px;
  margin: 0 0 1.375rem;
}
.entry__meta {
  color: #666;
  padding: 0;
}
.entry__header .entry__meta {
  font-size: 14px;
  font-size: 0.875rem;
}
.entry__jump-links {
  margin-top: 0;
}
.entry__jump {
  margin: 0;
}
.entry__footer {
  border-top: 1px solid #DDD;
  padding-top: 22px;
  padding-top: 1.375rem;
}
.entry--teaser .entry__footer {
  border-top: 0;
  padding-top: 0;
}
.entry__content hr {
  max-width: 220px;
  max-width: 13.75rem;
}

@supports (column-count: 2) or (-webkit-column-count: 2) or (-moz-column-count: 2) {
  .entry__meta {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 22px;
    -moz-column-gap: 22px;
    column-gap: 22px;
    -webkit-column-gap: 1.375rem;
    -moz-column-gap: 1.375rem;
    column-gap: 1.375rem;
  }
}
/*------------------------------------*\
    Gist
\*------------------------------------*/
div.gist {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0 0 22px;
  margin: 0 0 1.375rem;
}
div.gist table {
  margin: 0;
}
div.gist table tr {
  border: 0;
}
div.gist table .line-numbers {
  width: 3em;
}
div.gist a {
  background: transparent;
}
div.gist .line-numbers,
div.gist .gist-meta {
  speak: none;
}
div.gist .line-number,
div.gist .line,
div.gist .gist-meta {
  margin-top: 0;
}
div.gist table,
div.gist tbody,
div.gist div.file-data {
  font-size: 100%;
}
div.gist .blob-wrapper {
  padding: 4px 0;
}
div.gist .blob-code {
  padding: 2px 10px !important;
}

/*------------------------------------*\
    Rules
\*------------------------------------*/
.rule {
  max-width: 220px;
  max-width: 13.75rem;
}

/*------------------------------------*\
    Page
\*------------------------------------*/
.page__title {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}
.page__footer {
  border-top: 1px solid #DDD;
  padding-top: 22px;
  padding-top: 1.375rem;
}

/*------------------------------------*\
    Webmentions
\*------------------------------------*/
.webmentions {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 11px;
  margin-top: 0.6875rem;
}
.webmentions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.webmentions__item {
  clear: both;
  border-top: 1px solid #DDD;
  margin: 0;
  padding: 22px 0 22px 70px;
  padding: 1.375rem 0 1.375rem 4.375rem;
  min-height: 48px;
  min-height: 3rem;
  position: relative;
}
.webmentions__item:first-child {
  border-top: 0;
}

.webmention__author {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
}
.webmention__author__photo {
  border-radius: 3px;
  display: block;
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
  position: absolute;
  top: 22px;
  top: 1.375rem;
  left: 0;
}
.webmention__title, .webmention__content, .webmention__meta {
  margin: 0;
}
.webmention__meta {
  color: #666;
  font-size: 14px;
  font-size: 0.875rem;
}
.webmention--activity .webmention__author, .webmention--activity .webmention__title {
  display: inline;
}

/*------------------------------------*\
    Hero Shot
\*------------------------------------*/
.hero-shot {
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
}

/*------------------------------------*\
    Subsections
\*------------------------------------*/
.subsection__header {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
}
.subsection__header::before, .subsection__header::after {
  font-size: 0.75em;
  position: relative;
  bottom: 0.125em;
}
.subsection__header::before {
  content: '\2726\00A0\2726\00A0\2726\00A0\00A0';
}
.subsection__header::after {
  content: '\00A0\00A0\2726\00A0\2726\00A0\2726';
}

/*------------------------------------*\
    Pullquotes
\*------------------------------------*/
.quotable {
  display: block;
  font-size: 1.25em;
  margin: 33px 0 22px;
  margin: 2.0625rem 0 1.375rem;
  padding: 22px 0;
  padding: 1.375rem 0;
  border: solid #DDD;
  border-width: 2px 0;
  position: relative;
  margin-right: -25%;
}
.quotable:before, .quotable:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  height: .9em;
  font-size: 2em;
}
.quotable:before {
  content: '\201C';
  top: -.5em;
}
.quotable:after {
  content: '\201D';
  bottom: -.5em;
}

/*------------------------------------*\
    Pagination
\*------------------------------------*/
.pagination {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
  text-align: center;
}
.pagination__pages {
  margin: 0 22px;
  margin: 0 1.375rem;
}
#aaron-gustafson_com .pagination a {
  background: #666;
  color: #fff;
  text-shadow: none;
  border: 1px solid #2c2825;
  border-radius: 3px;
  padding: 0 5px;
  padding: 0 0.3125rem;
}
#aaron-gustafson_com .pagination a:hover, #aaron-gustafson_com .pagination a:focus {
  background: #1b5812;
}

/*------------------------------------*\
    $PAGES
	Page-specific styles
	(use sparingly)
\*------------------------------------*/
/*------------------------------------*\
    Homepage
\*------------------------------------*/
/*------------------------------------*\
    Speaking Engagements
\*------------------------------------*/
.speaking-engagements .listing--events {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 20px auto 0;
  margin: 1.25rem auto 0;
}
.speaking-engagements .listing__item__meta {
  color: #F9F9F9;
}
.speaking-engagements .event {
  background: #1b5812;
  color: #F9F9F9;
  text-shadow: 1px 1px 1px #1b5812;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  padding: 1.25rem;
  margin: 0 0 20px 0;
  margin: 0 0 1.25rem 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  position: relative;
  overflow: hidden;
}
#aaron-gustafson_com .speaking-engagements .event a {
  color: #fff;
  border-bottom: none;
  text-shadow: none;
}
.speaking-engagements .event .listing__item__title,
.speaking-engagements .event .listing__item__meta {
  position: relative;
  z-index: 1;
}
.speaking-engagements .event .listing__item__title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
.speaking-engagements .event .listing__item__title--future .listing__item__title {
  font-size: 24px;
  font-size: 1.5rem;
}
.speaking-engagements .event__location-picture {
  background: transparent center center no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 50px 7px #1b5812;
  box-shadow: inset 0 0 50px 7px #1b5812;
  opacity: .45;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s linear;
  transition: opacity .5s ease-in-out, transform .5s linear;
}
.speaking-engagements .event a:focus .event__location-picture, .speaking-engagements .event:hover .event__location-picture {
  opacity: .05;
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
}
.speaking-engagements .event--future {
  border-color: #00799d;
  background: #00799d;
  -webkit-box-shadow: inset 0 0 50px 7px #00799d;
  box-shadow: inset 0 0 50px 7px #00799d;
  text-shadow: 1px 1px 1px #00799d;
}

/*------------------------------------*\
    $BASE
	Global element styles
\*------------------------------------*/
/*------------------------------------*\
    Body-level settings
\*------------------------------------*/
/*------------------------------------*\
    Heading Levels
\*------------------------------------*/
@media print {
  h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  h1 a[href]:after, h2 a[href]:after, h3 a[href]:after, h4 a[href]:after, h5 a[href]:after, h6 a[href]:after {
    display: block;
    margin-left: 0;
    margin-bottom: 10pt;
  }
  h1 a[href^="#"]:after,
  h1 a[href^="mailto:"]:after,
  h1 a[href^="tel:"]:after, h2 a[href^="#"]:after,
  h2 a[href^="mailto:"]:after,
  h2 a[href^="tel:"]:after, h3 a[href^="#"]:after,
  h3 a[href^="mailto:"]:after,
  h3 a[href^="tel:"]:after, h4 a[href^="#"]:after,
  h4 a[href^="mailto:"]:after,
  h4 a[href^="tel:"]:after, h5 a[href^="#"]:after,
  h5 a[href^="mailto:"]:after,
  h5 a[href^="tel:"]:after, h6 a[href^="#"]:after,
  h6 a[href^="mailto:"]:after,
  h6 a[href^="tel:"]:after {
    display: none;
  }
}
/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
@media print {
  p, ol, ol, dl {
    orphans: 3;
    widows: 3;
  }
}
/*------------------------------------*\
    Lists
\*------------------------------------*/
/*------------------------------------*\
    Links
\*------------------------------------*/
@media print {
  a {
    text-decoration: none;
  }
  a[href]:after {
    content: "(" attr(href) ")";
    font-size: 10pt;
    margin-left: 9pt;
  }
  a[href^="/"]:after {
    content: " (http://www.aaron-gustafson.com" attr(href) ")";
  }
  a[href^="#"]:after, a[href^="mailto:"]:after, a[href^="tel:"]:after {
    display: none;
  }
}
/*------------------------------------*\
    Text-level semantics
\*------------------------------------*/
/*------------------------------------*\
    Code styles
\*------------------------------------*/
/*------------------------------------*\
    Media Elements
\*------------------------------------*/
/*------------------------------------*\
    Tables
\*------------------------------------*/
@media only screen and (max-width: 770px) {
  .layout-container__primary table {
    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
  }
  .layout-container__primary table caption {
    display: block;
  }
  .layout-container__primary table thead {
    display: none;
  }
  .layout-container__primary table tbody,
  .layout-container__primary table tr,
  .layout-container__primary table th,
  .layout-container__primary table td {
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
  }
  .layout-container__primary table tr {
    margin: 0 0 22px;
    margin: 0 0 1.375rem;
  }
  .layout-container__primary table th[data-title]:before,
  .layout-container__primary table td[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: bold;
  }
  .layout-container__primary table th:not([data-title]) {
    font-weight: bold;
  }
  .layout-container__primary table td:empty {
    display: none;
  }
}
/*------------------------------------*\
    Form Styles
\*------------------------------------*/
/*------------------------------------*\
    Animations
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
	Page layout
\*------------------------------------*/
/*------------------------------------*\
    Grid
\*------------------------------------*/
/*------------------------------------*\
    Header
\*------------------------------------*/
/*------------------------------------*\
    Main
\*------------------------------------*/
/*------------------------------------*\
    Navigation
\*------------------------------------*/
/*------------------------------------*\
    Footer
\*------------------------------------*/
/*------------------------------------*\
    Print Layout stuff
\*------------------------------------*/
@media print {
  @page {
    margin: .75in;
    padding: 0;
  }
  * {
    background: transparent;
  }

  body {
    background: #fff;
    color: #2c2825;
    font-size: 12pt;
    margin: 0;
    position: relative;
  }

  section,
  [role="contentinfo"] {
    border-top: 1px solid;
    margin: 2em 0 0;
    padding: 2em 0 0;
  }

  nav,
  button,
  .button,
  .nav-jump,
  .pagination,
  .footer__fork-me,
  .footer__copyright b {
    display: none;
  }

  b#license {
    display: block;
  }

  input[type=submit] {
    display: none;
  }
}
/*------------------------------------*\
    $COMPONENTS
	Interface patterns
\*------------------------------------*/
/*------------------------------------*\
    Media Query Watcher (for JS)
\*------------------------------------*/
@media print {
  #getActiveMQ-watcher {
    font-family: "print";
  }
}
/*------------------------------------*\
    Modules
\*------------------------------------*/
/*------------------------------------*\
    Buttons
\*------------------------------------*/
/*------------------------------------*\
    Listing
\*------------------------------------*/
/*------------------------------------*\
    Media Elements
\*------------------------------------*/
/*------------------------------------*\
    Embeds
\*------------------------------------*/
/*------------------------------------*\
    Webmentions
\*------------------------------------*/
/*------------------------------------*\
    Footnotes
\*------------------------------------*/
/*------------------------------------*\
    Events
\*------------------------------------*/
/*------------------------------------*\
    Blog Entry
\*------------------------------------*/
/*------------------------------------*\
    Gist
\*------------------------------------*/
@media (max-width: 770px) {
  div.gist .line-numbers,
  div.gist .line-data {
    display: table-cell;
  }
}
/*------------------------------------*\
    Rules
\*------------------------------------*/
/*------------------------------------*\
    Page
\*------------------------------------*/
/*------------------------------------*\
    Webmentions
\*------------------------------------*/
/*------------------------------------*\
    Hero Shot
\*------------------------------------*/
/*------------------------------------*\
    Subsections
\*------------------------------------*/
/*------------------------------------*\
    Pullquotes
\*------------------------------------*/
/*------------------------------------*\
    Pagination
\*------------------------------------*/
/*------------------------------------*\
    $PAGES
	Page-specific styles
	(use sparingly)
\*------------------------------------*/
/*------------------------------------*\
    Homepage
\*------------------------------------*/
/*------------------------------------*\
    Speaking Engagements
\*------------------------------------*/
