@charset "UTF-8";
/*------------------------------------*\
    CSS for IE < 9
\*------------------------------------*/
/*------------------------------------*\
    $VENDORS
	Other people’s code
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
	SASS Tools
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
/*	Debug controls
	========================================================================== */
/*	CDN
	========================================================================== */
/*	Breakpoint Management
	========================================================================== */
/*	Grid Management
	========================================================================== */
/*	Legacy support
	========================================================================== */
/*	Typography
	========================================================================== */
/*	Colors
	========================================================================== */
/*	Images
	========================================================================== */
/*	Defaults
	========================================================================== */
/*------------------------------------*\
    Functions
\*------------------------------------*/
/*------------------------------------*\
    Mixins
\*------------------------------------*/
/*------------------------------------*\
    Placeholders
\*------------------------------------*/
/*------------------------------------*\
    $BASE
	Global element styles
\*------------------------------------*/
/*------------------------------------*\
    Body-level settings
\*------------------------------------*/
/*------------------------------------*\
    Heading Levels
\*------------------------------------*/
/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
blockquote {
  padding: 0 22px;
  padding: 0 1.375rem;
}

blockquote {
  padding: 0 44px;
  padding: 0 2.75rem;
}

/*------------------------------------*\
    Lists
\*------------------------------------*/
/*------------------------------------*\
    Links
\*------------------------------------*/
/*------------------------------------*\
    Text-level semantics
\*------------------------------------*/
/*------------------------------------*\
    Media Elements
\*------------------------------------*/
/*------------------------------------*\
    Tables
\*------------------------------------*/
table.striped {
  background: #fff;
}
table.striped thead {
  background: #DDD;
  border-bottom: 0;
}
table.striped tbody tr {
  background: #fff;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
table.striped tbody tr:nth-child(even) {
  background: #413d3a;
}
table.striped tbody tr:hover {
  background: #fff;
}
table.striped th,
table.striped td {
  border: 1px solid #DDD;
  padding: 15px;
  padding: 0.9375rem;
}

/*------------------------------------*\
    Form Styles
\*------------------------------------*/
input,
textarea {
  width: 80%;
}

.fields__note {
  width: 80%;
}

/*------------------------------------*\
    Animations
\*------------------------------------*/
