/*
Error: Undefined mixin 'breakup-create-placeholder'.
        on line 20 of /Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/_placeholders.scss, in `breakup-create-placeholder'
        from line 20 of /Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/_placeholders.scss
        from line 9 of /Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/__helpers.scss
        from line 6 of ./print.scss

15:     background: transparent;
16: }
17: body {
18:     background: $color-background;
19:     color: $color-text;
20: 	font-size: 12pt;
21: 	margin: 0;
22: 	position: relative;
23: }
24: section,
25: [role="contentinfo"] {

Backtrace:
/Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/_placeholders.scss:20:in `breakup-create-placeholder'
/Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/_placeholders.scss:20
/Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/__helpers.scss:9
./print.scss:6
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:98:in `with_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195@global/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/sass:23:in `load'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/sass:23:in `<main>'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/ruby_executable_hooks:15:in `eval'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'breakup-create-placeholder'.\A         on line 20 of /Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/_placeholders.scss, in `breakup-create-placeholder'\A         from line 20 of /Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/_placeholders.scss\A         from line 9 of /Users/aaron/Sites/aaron-gustafson.com/source/_styles/helpers/__helpers.scss\A         from line 6 of ./print.scss\A \A 15:     background: transparent;\A 16: }\A 17: body {\A 18:     background: $color-background;\A 19:     color: $color-text;\A 20: 	font-size: 12pt;\A 21: 	margin: 0;\A 22: 	position: relative;\A 23: }\A 24: section,\A 25: [role=\"contentinfo\"] {"; }
