/*
Error: Undefined mixin 'breakup-create-placeholder'.
        on line 20 of /Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/_placeholders.scss, in `breakup-create-placeholder'
        from line 20 of /Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/_placeholders.scss
        from line 9 of /Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/__helpers.scss
        from line 6 of ./print.scss

15:     background: transparent;
16: }
17: body {
18:     background: $color-background;
19:     color: $color-text;
20: 	font-size: 12pt;
21: 	margin: 0;
22: 	position: relative;
23: }
24: section,
25: [role="contentinfo"] {

Backtrace:
/Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/_placeholders.scss:20:in `breakup-create-placeholder'
/Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/_placeholders.scss:20
/Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/__helpers.scss:9
./print.scss:6
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:331:in `block in visit_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:98:in `with_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:329:in `visit_mixin'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:79:in `with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:308:in `block (2 levels) in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:308:in `map'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:308:in `block in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:88:in `with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:79:in `with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:308:in `block (2 levels) in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:308:in `map'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:308:in `block in visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:88:in `with_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:115:in `with_frame'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/stack.rb:79:in `with_base'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/plugin/compiler.rb:208:in `each'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/exec/base.rb:40:in `parse'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/lib/sass/exec/base.rb:19:in `parse!'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.4.0.rc.3/bin/sass:13:in `<top (required)>'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/sass:23:in `load'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/sass:23:in `<main>'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/ruby_executable_hooks:15:in `eval'
/Users/aaron/.rvm/gems/ruby-2.0.0-p195/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'breakup-create-placeholder'.\A         on line 20 of /Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/_placeholders.scss, in `breakup-create-placeholder'\A         from line 20 of /Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/_placeholders.scss\A         from line 9 of /Users/aaron/Sites/aaron-gustafson.new/source/_styles/helpers/__helpers.scss\A         from line 6 of ./print.scss\A \A 15:     background: transparent;\A 16: }\A 17: body {\A 18:     background: $color-background;\A 19:     color: $color-text;\A 20: 	font-size: 12pt;\A 21: 	margin: 0;\A 22: 	position: relative;\A 23: }\A 24: section,\A 25: [role=\"contentinfo\"] {"; }
