{% unless page.show_posts == false %}
	<section class="module module--promotional">
		<h1 class="module__title">Recent Posts</h1>
		<ul class="listing listing--links">
			{% for post in site.posts limit:site.recent_posts %}
				{% if ! post.ref_url %}
					<li class="listing__item listing__item--{{ forloop.index }}">
						<a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
{% endunless %}