---
layout: page
title: The Speaking Engagements of
description: "I’ve spoken at my fair share of events over the years. Here’s a collection of them."
body_class: speaking-engagements
show_title: false
show_events: false
footer: true
sidebars: [asides/about.html,asides/speaking.html]
sharing: false
---

<h1 class="page__title">A Complete List of My Conferences &amp; Workshops</h1>

<p>{{ site.data.microcopy.speaking_engagements.intro_pre_count }}
{% for event in site.data.events-past %}
	{% if forloop.index == 1 %}
		{{ forloop.length }}
	{% endif %}
{% endfor %}
{{ site.data.microcopy.speaking_engagements.intro_post_count }}</p>

{{ site.data.microcopy.speaking_engagements.contact | markdownify }}

<section class="subsection">

	<h2 id="future-events" class="subsection__header">In the Future</h2>

	{% unless site.data.events-future %}
		{{ site.data.microcopy.speaking_engagements.no_upcoming | markdownify }}
	{% endunless %}

	{% for event in site.data.events-future %}
		{% if forloop.first %}
			<ul class="listing listing--events">
		{% endif %}

		<li class="listing__item listing__item--{{ forloop.index }} event event--future">
			{% if event.url %}
				<a href="{{ event.url }}">
			{% endif %}
			
			<h3 class="listing__item__title event__title">{{ event.title }}</h3>
			<p class="listing__item__meta">
				<b class="event__date">{{ event.date | date: "%B %Y" }}</b>
				<b class="event__location">{{ event.location }}</b>
			</p>
			
			{% for city in site.data.cities %}
				{% if city.name == event.location %}
					<p class="event__location-picture" style="background-image:url({{ city.photo }})" title="Photo by {{ city.credit_name }}, {{ city.credit_url }}"></p>
				{% endif %}
			{% endfor %}
			
			{% if event.url %}
				</a>
			{% endif %}
		</li>

		{% if forloop.last %}
			</ul>
		{% endif %}
	{% endfor %}

</section>

<section class="subsection">

	<h2 id="past-events" class="subsection__header">In the Past</h2>

	<ul class="listing listing--events">
		{% for event in site.data.events-past %}
			<li class="listing__item listing__item--{{ forloop.index }} event event--past">
				
				{% if event.url %}
					<a href="{{ event.url }}">
				{% endif %}

				<h3 class="listing__item__title event__title">{{ event.title }}</h3>
				<p class="listing__item__meta">
					<b class="event__date">{{ event.date | date: "%B %Y" }}</b>
					<b class="event__location">{{ event.location }}</b>
				</p>

				{% for city in site.data.cities %}
					{% if city.name == event.location %}
						<p class="event__location-picture" style="background-image:url({{ city.photo }})" title="Photo by {{ city.credit_name }}, {{ city.credit_url }}"></p>
					{% endif %}
				{% endfor %}
			
				{% if event.url %}
					</a>
				{% endif %}
				
				{% comment %}

					{% if event.keynotes or event.talks or event.panels or event.workshops %}
						<details class="listing__extra">
							<summary class="listing__extra__title">Details</summary>
							{% if event.keynotes %}
								<p class="event__content">
									{% for keynote in event.keynotes %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Keynote{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										{% if keynote.slides %}<a class="event__presentation-title" href="{{ keynote.slides }}">{{ keynote.title }}</a>{% else %}
										<b class="event__presentation-title">{{ keynote.title }}</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},{% endif %}
									{% endfor %}
								</p>
							{% endif %}
							{% if event.talks %}
								<p class="event__content">
									{% for talk in event.talks %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Talk{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										{% if talk.slides %}<a class="event__presentation-title" href="{{ talk.slides }}">{{ talk.title }}</a>{% else %}
										<b class="event__presentation-title">{{ talk.title }}</b>{% endif %}{% if talk.with %}
										<b class="event__presentation-with">(with {{ talk.with }})</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},
										{% endif %}
									{% endfor %}
								</p>
							{% endif %}
							{% if event.panels %}
								<p class="event__content">
									{% for panel in event.panels %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Panel{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										{% if panel.slides %}<a class="event__presentation-title" href="{{ panel.slides }}">{{ panel.title }}</a>{% else %}
										<b class="event__presentation-title">{{ panel.title }}</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},{% endif %}
									{% endfor %}
								</p>
							{% endif %}
							{% if event.workshops %}
								<p class="event__content">
									{% for workshop in event.workshops %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Workshop{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										<b class="event__presentation-title">{{ workshop.title }}</b>{% if workshop.with %} <b class="event__presentation-with">(with {{ workshop.with }})</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},
										{% endif %}
									{% endfor %}
								</p>
							{% endif %}
						</details>
					{% endif %}
				{% endcomment %}
			</li>
		{% endfor %}
	</ul>

</section>