/*------------------------------------*\
    $BASE
	Global element styles
\*------------------------------------*/

// Body element (global fonts & such)
@import "body";

// Flow-level semantics
@import "headings";
@import "blocks";
@import "lists";

// Text-level semantics
@import "links";
@import "text";

// Specifics
@import "code";
@import "media";
@import "tables";
@import "forms";

// Animations
@import "animations";