/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
@include breakup-breakpoint( "global" ) {
    
    * {
        @include rem( margin-top, 0 );
	    @include rem( margin-bottom, 0 );
    }
    
    * + * {
	    @include rem( margin-top, $default-spacing );
    }
    
	blockquote {

	    @include rem( font-size, $font-size-default );
	    font-family: $font-stack-sansserif;
	    font-style: italic; 
	    
	    @include rem( margin, $default-spacing auto );
        @include rem( padding, 0 $default-spacing );
        @include rem( max-width, 700 );
        
        & > :first-child:not([class]):before {
            content: "\201C";
            @include rem( margin-left, -8 );
        }
        
        & > :last-child {
            margin: 0;
        }
        
	}

	.blockquote__attribution {

	    font-family: $font-stack-sansserif;

	    margin: 0;
	    @include rem( padding-left, 2 * $default-spacing );

	    cite {
	        font-style: normal;
	    }

	}

	p {
    	font-weight: normal;
    	line-height: $line-height-default;

    	.wf-active & {
        	word-spacing: 2px;
    	}
	}

	[aria-hidden="true"] {
	    display: none;
	}

}

@include breakup-breakpoint( "medium" ) {
	blockquote {
        @include rem( padding, 0 ( 1 * $default-spacing ) );
	}
}

@include breakup-breakpoint( "full" ) {
	blockquote {
        @include rem( padding, 0 ( 2 * $default-spacing ) );
    }
}