/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
@include breakup-breakpoint("default") {

	blockquote {

	    @include rem( font-size, 18 );
	    font-family: $font-stack-sansserif;
	    font-style: italic; 
	    
	    border-top: 1px solid $color-rule;
	    border-bottom: 1px solid $color-rule;
	    @include rem( margin, $default-spacing auto );
        @include rem( padding, $default-spacing );
        @include rem( max-width, 700 );
        
        & > :first-child:not([class]):before {
            content: "\201C";
            @include rem( margin-left, -8 );
        }
        
        & > :last-child {
            margin: 0;
        }
        
	}

	.blockquote__attribution {

	    font-family: $font-stack-sansserif;

	    margin: 0;
	    @include rem( padding-left, 2 * $default-spacing );

	    cite {
	        font-style: normal;
	    }

	}

	p {
	    @include breakup-placeholder( text );
	    @include rem( margin, $margin-default );
	}

	[aria-hidden="true"] {
	    display: none;
	}
	
	hr {
	    border: 0;
	    border-top: 1px solid $color-rule;
	    @include rem( margin, $default-spacing auto );
	    max-width: 200px;
	}

}

@include breakup-breakpoint( "medium" ) {
	blockquote {
        @include rem( padding, $default-spacing ( 1 * $default-spacing ) );
	}
}

@include breakup-breakpoint( "full" ) {
	blockquote {
        @include rem( padding, $default-spacing ( 2 * $default-spacing ) );
    }
}