/*------------------------------------*\
    Heading Levels
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    h1, h2, h3, h4, h5, h6 {

    	font-family: $font-stack-serif;
    	font-weight: $font-weight-serif;
    	line-height: 1.25;
    	
    	.wf-active & {
        	word-spacing: 2px;
    	}
    	
    	& + * {
    	    @include rem( margin-top, $default-spacing / 2 );
    	}

    }

    h1 {
        @include rem( font-size, $font-size-h1 );
    }

    section > h1,
    h2 {
        @include rem( font-size, $font-size-h2 );
    }

    h3 {
        @include rem( font-size, $font-size-h3 );
    }

}