/*------------------------------------*\
    Lists
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    ol,
    ul {
        line-height: $line-height-default;
        @include rem( margin-left, $default-spacing);
        
        nav & {
            @include breakup-placeholder( delist );
            margin: 0;
            
            li {
                margin: 0;
            }
        }
    }

    dl {
        
        @include breakup-placeholder( text );

        dt,
        dd {
            @include breakup-placeholder( text );
            font-weight: normal;
        }

    }

}