/*------------------------------------*\
    Media Elements
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    object[data*="svg"] {
        pointer-events: none;
    }
    object[data^="#"] {
        @include breakup-placeholder( hidden );
    }

    // Responsive images
    img {
    
        display: block;
    	width: 100%;
    	height: auto;
	
    	&[style] {
        	width: 100% !important;
        	height: auto !important;
    	}
	
    }
    picture {
    	display: block;
    }
    // Noscript fallback for picture
    .noscript-picture {
    	margin: 0;
    	padding: 0;
    }
    
    .media-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
}