/*------------------------------------*\
    Media Elements
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    object[data*="svg"] {
        pointer-events: none;
    }
    object[data^="#"] {
        @include breakup-placeholder( hidden );
    }

    // Responsive images
    img {
    
        display: inline-block;
    	max-width: 100%;
    	height: auto;
	
    	&[style] {
            width: auto !important;
        	max-width: 100% !important;
        	height: auto !important;
    	}
	
    }
    picture {
    	display: block;
    }
    // Noscript fallback for picture
    .noscript-picture {
    	margin: 0;
    	padding: 0;
    }
    
    .media-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    figure {
        text-align: center;
    }
    
    figcaption {
        @include rem( font-size, $font-size-caption );
	    font-family: $font-stack-sansserif;
	    font-style: italic;
	    text-align: center;
	    
        @include rem( margin-top, $default-spacing / 2 );
    }

    footer ~ noscript img {
        width:1px;
        height:1px;
    }
}

@include breakup-breakpoint( "medium" ) {

    .media-container--right {
        float: right;
        max-width: 250px;
        @include rem( margin-left, $default-spacing );
        margin-right: 0;
    }

}