# Misc
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.vscode
.sass-cache
.env
.cache
.ssh

# Node modules and output
node_modules
dist
src/_includes/css
src/static/j
src/static/c
src/static/serviceworker*

# old jekyll stuff
todo

# Local Netlify cache folder
.netlify/cache
