[build]
command = "npm run build"
functions = ".netlify/functions"
edge_functions = ".netlify/edge-functions"

[dev]
framework = "eleventy"
publish = "dist"

[[plugins]]
package = "netlify-plugin-cache-folder"

#[[plugins]]
#	package = "./plugins/persist-static-directory"

[[plugins]]
package = "netlify-plugin-webmentions"
[plugins.inputs]
baseUrl = "https://www.aaron-gustafson.com"
feedPath = "/feeds/all.xml"
limit = 5

[[plugins]]
package = "netlify-plugin-github-dispatch"
[plugins.inputs]
repo = "aarongustafson/aaron-gustafson.com"
token = "${GITHUB_ACCESS_TOKEN}"
event = "netlify-deploy-succeeded"

# Deploy notifications for syndication
[build.environment]
# This helps with function execution
NODE_VERSION = "20"

# Post-deploy hook for social media syndication
[[build.processing]]
skip_processing = false

[[redirects]]
from = "/notebook/20*/:slug"
to = "/notebook/:slug"
status = 301
force = true
[[redirects]]
from = "/articles/"
to = "/publications/#articles"
status = 301
force = true
[[redirects]]
from = "/books/"
to = "/publications/#books"
status = 301
force = true
[[redirects]]
from = "/events/"
to = "/speaking-engagements/"
status = 301
force = true
[[redirects]]
from = "/speaking-engagements/:year/:event/:file"
to = "https://github.com/aarongustafson/talks-and-workshops/raw/main/:year/:event/:file"
status = 301
force = true
[[redirects]]
from = "/*"
to = "/404.html?url=:splat"
status = 404
force = false

[[headers]]
for = "*"
[headers.values]
X-Content-Type-Options = "nosniff"
Cache-Control = "public"
[[headers]]
for = "/*.svgz"
[headers.values]
Content-Encoding = "gzip"
[[headers]]
for = "/*.html"
[headers.values]
Content-Security-Policy = "default-src *; script-src 'self' 'unsafe-inline' webmention.io platform.twitter.com syndication.twitter.com cdn.syndication.twimg.com *.vimeo.com *.vimeocdn.com *.codepen.io archive.org; style-src * 'unsafe-inline' *.vimeocdn.com; img-src * data: res.cloudinary.com syndication.twitter.com; connect-src 'self' *.imgur.com *.gravatar.com res.cloudinary.com webmention.io api.github.com *.twitter.com; child-src 'self' www.youtube.com *.twitter.com *.vimeo.com *.vimeocdn.com codepen.io *.slideshare.net *.msdn.com; upgrade-insecure-requests; block-all-mixed-content; frame-src 'self' *.aaron-gustafson.com *.noti.st codepen.io platform.twitter.com www.youtube-nocookie.com *.youtube.com *.slideshare.net *.vimeo.com; report-to default"
Report-To = "{'group':'default','max_age':31536000,'endpoints':[{'url':'https://aarongustafson.report-uri.com/a/d/g'}],'include_subdomains':true}"
Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
Timing-Allow-Origin = "*"
Upgrade-Insecure-Requests = "1"
X-UA-Compatible = "ie=edge,chrome=1"
X-XSS-Protection = "1; mode=block"
Link = [
	"</c/default.min.css>;as=style;rel=preload",
	"</c/advanced.min.css>;as=style;rel=preload",
	"</serviceworker.min.js>;as=script;rel=preload",
	"</j/main.min.js>;as=script;rel=preload",
	"</j/post.min.js>;as=script;rel=preload",
]
[[headers]]
for = "/*.css"
[headers.values]
Cache-Control = "max-age=604800"
[[headers]]
for = "/*.js"
[headers.values]
Cache-Control = "max-age=604800"
[[headers]]
for = "/serviceworker.min.js"
[headers.values]
Cache-Control = "max-age=0"
[[headers]]
for = "/*.json"
[headers.values]
X-Content-Type-Options = "nosniff"
Content-Type = "application/json; charset=utf-8"
[[headers]]
for = "/feeds/*.json"
[headers.values]
Access-Control-Allow-Origin = "*"
Access-Control-Allow-Methods = "GET,HEAD,OPTIONS,POST"
Access-Control-Allow-Headers = "Accept,X-Requested-With,Content-Type,Cache-Control,mode"
Cache-Control = "no-cache"

# Temporarily disabled due to timeout issues
# [functions."deploy-succeeded"]
#	included_files = ["_cache/*.*"]

[functions]
deno_import_map = "./.netlify/edge-functions/import_map.json"

[[edge_functions]]
path = "/api/latest-links"
function = "latest-links"

[[edge_functions]]
path = "/api/og-image"
function = "og-image"
