{% capture the_url %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
{% capture this_url %}{% if page.ref_source %}{{ the_url | replace:"notebook/","notebook/links/" }}{% else %}{{ the_url }}{% endif %}

<p class="entry__sharing">If you liked this, would you mind sharing it?
	<a class="share_link share_link--twitter" href="https://twitter.com/intent/tweet?original_referer={{ this_url }}&amp;source=tweetbutton&amp;text={{ page.title | replace: ' ', '+' }}&amp;url={{ this_url }}">Share on Twitter</a>
	<a class="share_link share_link--facebook" href="http://www.facebook.com/sharer.php?u={{ this_url }}">Post on Facebook</a>
	<a class="share_link share_link--linkedin" href="https://www.linkedin.com/cws/share?url={{ this_url }}&amp;original_referer={{ this_url }}">Share on LinkedIn</a>
	<a class="share_link share_link--googleplus" href="https://plus.google.com/share?url={{ this_url }}">Share on Google+</a>
</p>