---
layout: null
sitemap: false
---
<!DOCTYPE html>
<html id="aaron-gustafson_com" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Linky Poo | Aaron Gustafson</title>
    <meta name="revisit-after" content="7 days">
    <meta name="ROBOTS" content="noindex,nofollow">
    <meta name="robots" content="noindex">
    <link href="https://www.aaron-gustafson.com/favicon.png" rel="icon">
    <link rel="stylesheet" href="/c/default.min.css" media="all">
    <link rel="stylesheet" href="/c/advanced.min.css" media="only screen">
    <style>
      fieldset > legend + ul {
        margin-top: 0;
      }
      #p_tweet {
        height: 100px;
      }
      #go {
        font-size: 1.5em;
      }
      #setup {
        font-size: .75em;
      }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <link rel="dns-prefetch" href="https://api.github.com">
    <link rel="preconnect" href="https://api.github.com">
  </head>
  <body class="linky-poo">
    <section id="linky-poo" class="section section--linky-poo">
      <div class="layout-container">
        <div id="messages" tabindex="-1">
        {% if site.github.repo == none %}
          <div class="alert alert-danger" role="alert"><code>github.repo</code> is not set.</div>
        {% endif %}
        {% if site.github.branch == none %}
          <div class="alert alert-danger" role="alert"><code>github.branch</code> is not set.</div>
        {% endif %}
        </div>

        <form class="contact-form" accept-charset="UTF-8" method="post">
          <fieldset>
            <legend>Link Info</legend>
            <ul class="fields">
              <li class="fields__group fields__group--text">
                <label for="p_title">Title</label>
                <input id="p_title">
              </li>
              <li class="fields__group fields__group--url">
                <label for="p_link">URL</label>
                <input type="url" id="p_link">
              </li>
              <li class="fields__group fields__group--text">
                <label for="p_source">Source</label>
                <input id="p_source">
              </li>
              <li class="fields__group fields__group--textarea">
                <label for="p_body">Want to tweet something specific?</label>
                <textarea id="p_tweet" maxlength="200"></textarea>
              </li>
              <li class="fields__group fields__group--textarea">
                <label for="p_body">What do you want to say?</label>
                <textarea id="p_body"></textarea>
              </li>
              <li class="fields__group fields__group--text">
                <label for="p_tags">How would you tag this?</label>
                <input id="p_tags">
              </li>
            </ul>
          </fieldset>
          <fieldset>
            <legend>Did you find this link via someone?</legend>
            <ul class="fields">
              <li class="fields__group fields__group--text">
                <label for="p_via_name">Name</label>
                <input id="p_via_name">
              </li>
              <li class="fields__group fields__group--url">
                <label for="p_via_url">URL</label>
                <input type="url" id="p_via_url">
              </li>
            </ul>
          </fieldset>
          <p>
            <button class="button" id="go">Save It</button>
          </p>
          <details id="setup">
            <summary>Setup</summary>
            <ul class="fields">
              <li class="fields__group fields__group--text">
                <label for="username">Username</label>
                <input id="username" name="username">
              </li>
              <li class="fields__group fields__group--password">
                <label for="password">Token</label>
                <input type="password" id="password" name="password">
              </li>
              <li class="fields__group fields__group--buttons">
                <button type="submit">Save your credentials</button>
              </li>
            </ul>
            <p>Drag this link to your bookmarks, to post from any webpage: <a href="javascript:(function(){var title = document.getElementsByTagName('title')[0].innerHTML;title = encodeURIComponent(title);var selection = '';if (window.getSelection) {selection = window.getSelection().toString();} else if (document.selection &amp;&amp; document.selection.type != 'Control') {selection = document.selection.createRange().text;}selection = encodeURIComponent(selection);new_window=window.open('{{ "linky/poo/" | prepend: site.baseurl | prepend: site.url }}?title='+title+'&amp;selection='+selection+'&amp;url='+encodeURIComponent(document.location.href),'JekyllPopup','resizable,scrollbars,status=0,toolbar=0,menubar=0,titlebar=0,width=640,height=600,location=0');})();">Linky</a></p>
          </details>
        </form>
      </div>
    </section>
    <script>
      function get_query(){
        var url = document.location.href;
        if (url.indexOf('?') == -1) return false ;
        var qs = url.substring(url.indexOf('?') + 1).split('&');
        for(var i = 0, result = {}; i < qs.length; i++){
          qs[i] = qs[i].split('=');
          result[qs[i][0]] = decodeURIComponent(qs[i][1].replace(/\+/g, '%20'));
        }
        return result;
      }
      
      function postFile( title )
      {
        var d = new Date(),
            dd = d.getDate(),
            mm = d.getMonth()+1,
            yyyy = d.getFullYear(),
            filename;
        
        if ( dd < 10 ) dd = '0' + dd;
        if ( mm < 10 ) mm = '0' + mm;
        filename = yyyy+'-'+mm+'-'+dd;
        
        if ( ! title )
        {
          filename = filename + '-' + +d.getTime() ;
        }
        else
        {
          var slugified = title.toLowerCase().replace(/\W+/g, '-') ;
          if ( slugified != '-' )
          {
            filename = filename + '-' + slugified;
          }
          else
          {
            filename = filename + '-' + d.getTime();
          }
        }
        return filename
      }
      
      function getDate() {
        var d = new Date()
        return d.toISOString()
      }

      function getTags() {
        var tags = document.getElementById('p_tags').value.split(','),
            t = tags.length;
        while ( t-- )
        {
          tags[t] = tags[t].trim();
        }
        return '["' + tags.join('", "') + '"]';
      }
      
      var API_NEW_POST = 'https://api.github.com/repos/{{ site.github.repo }}/contents/_links/',
          $go = document.getElementById('go'),
          $messages = document.getElementById('messages'),
          $title = document.getElementById('p_title'),
          $link = document.getElementById('p_link'),
          $content =  document.getElementById('p_body'),
          $via_url = document.getElementById('p_via_url');

      function toYamlFrontmatter(yaml)
      {
        var front_matter = [];

        front_matter.push('---');
        for ( key in yaml )
        {
          if ( yaml[key].constructor == String )
          {
            if ( key == 'title' ||
                key == 'twitter_text' ||
                key == 'ref_source' )
            {
              front_matter.push( key + ': "' + yaml[key] + '"'  );
            }
            else
            {
              front_matter.push( key + ': ' + yaml[key]  );
            }
          }
          else if ( yaml[key].constructor == Array )
          {
            front_matter.push( key + ': ["' + yaml[key].join('", "') + '"]' );
          }
          else if ( yaml[key].constructor == Object )
          {
            front_matter.push( key + ':' );
            for ( nested in yaml[key] )
            {
              front_matter.push( '  ' + nested + ': "' +  yaml[key][nested] + '"' );
            }
          } 
        }
        front_matter.push('---');

        return front_matter.join('\n');
      }

      function linkComplete()
      {
        $messages.innerHTML = '<p>Link successfully posted!</p>';
        $messages.focus();
        setTimeout(function(){
          window.close();
        }, 500);
      }

      function linkFailed(request, status, error)
      {
        var responseText = JSON.decode( request.responseText );
        $messages.innerHTML = '<div role="alert"><strong>' + request.status + '</strong>: ' + responseText.message +
                              '<br>If you are using two-factor-auth, you will have to create ' +
                              '<a href="https://github.com/settings/tokens">a personal access token</a> ' +
                              ' with “repo” permissions and use this instead of your password.</div>';
        $messages.focus();
      }

      function linkCanceled()
      {
        $messages.innerHTML = '<p>Link canceled!</p>';
        $messages.focus();
      }

      function submitLink(e)
      {
        e.cancel;
        e.preventDefault();

        var link     = $link.value,
            tweet    = document.getElementById('p_tweet').value,
            source   = document.getElementById('p_source').value,
            via_name = document.getElementById('p_via_name').value,
            via_url  = document.getElementById('p_via_url').value,
            yaml     = {},
            XHR      = new XMLHttpRequest(),
            p_body;
        
        yaml.title       = $title.value.replace('&nbsp;', ' ');
        yaml.date        = getDate();
        yaml.tags        = getTags();
        yaml.ref_url     = link;
        yaml.in_reply_to = link;
        if ( tweet != '' )
        {
          yaml.twitter_text = tweet;
        }
        if ( source != '' )
        {
          yaml.ref_source = source;
        }
        if ( via_name != '' )
        {
          yaml.via = {
            name: via_name,
            url:  via_url
          };
        }

        p_body = toYamlFrontmatter(yaml) + '\n\n' + $content.value

        XHR.open(
          'put',
          API_NEW_POST + postFile(yaml.title) + '.markdown',
          true
        );
        XHR.responseType = 'json';
        XHR.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        XHR.setRequestHeader('Authorization', 'Basic ' + btoa(document.getElementById('username').value + ":" + document.getElementById('password').value))
        XHR.addEventListener('load', linkComplete);
        XHR.addEventListener('error', linkFailed);
        XHR.addEventListener('abort', linkCanceled);
        XHR.send(
          JSON.stringify({
            content: btoa(unescape(encodeURIComponent(p_body))),
            message: 'Posted from the Web',
            committer: {
              name: "Aaron Gustafson",
              email: "aaron@easy-designs.net"
            }
          })
        );

      };

      function isValidURL( str )
      {
        var a  = document.createElement('a');
        a.href = str;
        return (a.host && a.host != window.location.host);
      }
      
      $go.addEventListener('click', submitLink, false);

      var query_params = get_query()
          body_param = query_params['body'],
          src_body = '',
          referrer = document.referrer;
      
      if (query_params) {
        if (query_params['title']) {
          var src_title = query_params['title'];
          $title.value = src_title;
        }
        if (query_params['selection']) {
          src_body += '> ' + query_params['selection'];
        }
        if (body_param) {
          if ( isValidURL( body_param ) )
          {
            $link.value = body_param;
          }
          else
          {
            src_body += body_param;
          }
          
        }
        if (query_params['url']) {
          $link.value = query_params['url'];
        }
        $content.value = src_body;
      }

      if ( referrer != "" )
      {
        $via_url = referrer;
      }
    </script>
  </body>
</html>