{% unless page.show_events == false %}
	{% for event in site.data.events-future limit:4 %}

		{% if forloop.first %}
			<section>
				<h1>Let’s Meet Up</h1>
				<ul id="listing listing--events">
		{% endif %}

		<li class="listing__item listing__item--{{ forloop.index }} event event--future">
			<h3 class="listing__item__title event__title">
				{% if event.url %}
					<a href="{{ event.url }}">{{ event.title }}</a>
				{% else %}
					{{ event.title }}
				{% endif %}
			</h3>
			<p class="listing__item__meta">
				<b class="event__date">{{ event.date | date: "%B %Y" }}</b>
				<b class="event__location">{{ event.location }}</b>
			</p>
		</li>
	
		{% if forloop.last %}
					<li class="more"><a href="/events/#future-events">See More<b class="hidden"> Events</b></a></li>
				</ul>
			</section>
		{% endif %}
	
	{% endfor %}
{% endunless %}