/*------------------------------------*\
    Main CSS
\*------------------------------------*/

@import "vendors/_vendors";
@import "vendors/html5doctor-css-reset/reset";
@import "vendors/gse/gse";
@import "helpers/_helpers";

// Breakup Configuration
// https://github.com/BPScott/breakup
$breakup-included-blocks: ( "global" );
$breakup-naked: true;
$breakup-breakpoints-allow-naked: ( "global" );

@import "base/_base";
@import "layout/_layout";
@import "components/_components";
@import "pages/_pages";

// Print
$breakup-included-blocks: ( "print" );
$breakup-naked: false;

@import "base/_base";
@import "layout/_layout";
@import "components/_components";
@import "pages/_pages";