@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

 /*------------------------------------*\
		Buttons
\*------------------------------------*/

@include breakup.breakup-breakpoint( "medium" ) {

		h1 + .alternate {
				
				@include mixins.rem( font-size, variables.$font-size-nav );

				margin: 0;

				position: absolute;
				@include mixins.rem( top, 24 );
				@include mixins.rem( right, variables.$default-spacing );

				@supports (margin-block: 1em) {
					@include mixins.unset( top right );
					@include mixins.rem( inset-block-start, 24, false );
					@include mixins.rem( inset-inline-end, variables.$default-spacing, false );
				}

		}
		
}

@include breakup.breakup-breakpoint( "full" ) {

		h1 + .alternate {
				right: 0;

				@supports (margin-block: 1em) {
					right: unset;
					inset-inline-end: 0;
				}
		}
		
}