@use "../helpers/_helpers" as *;

/*------------------------------------*\
		Buttons
\*------------------------------------*/

@media screen and (min-width: #{$bp-medium-em}) {
	h1 + .alternate {
		@include rem(font-size, $font-size-nav);

		margin: 0;

		position: absolute;
		@include rem(top, 24);
		@include rem(right, $default-spacing);

		@supports (margin-block: 1em) {
			@include unset(top right);
			@include rem(inset-block-start, 24, false);
			@include rem(inset-inline-end, $default-spacing, false);
		}
	}
}

@media screen and (min-width: #{$bp-full-em}) {
	h1 + .alternate {
		right: 0;

		@supports (margin-block: 1em) {
			right: unset;
			inset-inline-end: 0;
		}
	}
}
