@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Anchorable
\*------------------------------------*/

@use 'sass:math';

@include breakup.breakup-breakpoint( "global" ) {
	
	@keyframes fade-out {
		0% {
				opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.anchorable {
		font-family: variables.$font-stack-body;
		position: relative;
		
		&__icon {
			vertical-align: top;
			
			display: inline-block;
			@include mixins.rem( padding, math.div( variables.$default-spacing, 2 ) );
			@include mixins.rem( width, 15 );
			@include mixins.rem( height, 15 );

			@supports (margin-block: 1em) {
				@include mixins.unset( width height );
				@include mixins.rem( inline-size, 15 );
				@include mixins.rem( block-size, 15 );
			}
			
			path {
				fill: variables.$color-background;
				transition: fill .5s;
			}
		}
		
		&__anchor__text {
			@include breakup.breakup-placeholder( hidden );
			left: 0;
			bottom: 0;

			@supports (margin-block: 1em) {
				@include mixins.unset( left bottom );
				@include mixins.rem( inline-start, 0 );
				@include mixins.rem( inset-block-end, 0 );
			}
		}
		
		&__anchor {
				background: variables.$color-white;
				
				text-decoration: none;
				@include mixins.rem( line-height, 15 );

				border: 0;
				display: inline-block;
				margin: 0;
				padding: 0;
				
				// hide on small screens (will still be accessible though)
				position: absolute;
				left: -999em;

				@supports (margin-block: 1em) {
					left: unset;
					inset-inline-start: -999em;
				}
				
				&:hover path,
				&:focus path {
					fill: variables.$color-black;
					transition: fill .5s;
				}
				
		}
		
		&:hover path,
		&:focus path {
				fill: variables.$color-black;
				transition: fill .5s;
		}
		
		&__alert {
			font-weight: normal;
			color: variables.$color-grey;
			@include mixins.rem( font-size, variables.$font-size-tiny );
			@include mixins.rem( line-height, 15 );
			
			display: block;
			margin: 0;
			
			&--fading {
					animation: 2.2s linear 0s 1 fade-out;
			}
		}
	}
	
	@supports (background-image:linear-gradient(black,white)) {
		
		.anchorable__anchor:link,
		.anchorable__anchor:visited,
		.anchorable__anchor:hover,
		.anchorable__anchor:focus,
		html.wf-active .anchorable__anchor:link,
		html.wf-active .anchorable__anchor:visited,
		html.wf-active .anchorable__anchor:hover,
		html.wf-active .anchorable__anchor:focus {
			background: variables.$color-background;
		}

	}
}

@include breakup.breakup-breakpoint( "medium" ) {
	.anchorable__anchor {
		top: 0;
		left: auto;
		@include mixins.rem( margin-left, 5 );

		@supports (margin-block: 1em) {
			@include mixins.unset( top left margin-left );
			inset-block-start: 0;
			inset-inline-start: auto;
			@include mixins.rem( margin-inline-start, 5 );
		}
	}
}

@include breakup.breakup-tweakpoint( '(min-width: 64em)', 'full' ) {
	.anchorable__anchor {
		left: auto;
		right: 100%;
		margin-left: 0;
		@include mixins.rem( margin-right, 5 );

		@supports (margin-block: 1em) {
			@include mixins.unset( left right margin-left margin-right );
			inset-inline-start: auto;
			inset-inline-end: 100%;
			margin-inline-start: 0;
			@include mixins.rem( margin-inline-end, 5 );
		}
	}
}
