@use "sass:color";
@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
Buttons
\*------------------------------------*/

@include breakup.breakup-breakpoint( "global" ) {
	
	button,
	.button,
	.button:link,
	.button:visited {
		
		cursor: pointer;
		user-select: none;
		
		background: variables.$color-dark-teal;
		color: variables.$color-white;
		text-decoration: none;
		
		border: 1px solid variables.$color-text;
		border-radius: 3px;
		@include mixins.rem( padding, 10 15 );
		
		@include mixins.rem( font-size, variables.$font-size-default );
		font-weight: bold;

		transition: background-color variables.$default-transition, color variables.$default-transition;

		@supports (margin-block: 1em) {
			@include mixins.unset( padding );
			padding-block: 10px;
			padding-inline: 15px;
		}
		
		&:hover,
		&:focus {
			background: color.adjust( variables.$color-dark-teal, $lightness: -10 );
		}
		
		&:focus-visible {
			outline: 5px solid #062909
		}

		svg {
			display: inline-block;
			height: 1em;
			margin-left: .15em;
			
			path {
				fill: variables.$color-white;
			}

			@supports (margin-block: 1em) {
				@include mixins.unset( height margin-left );
				margin-inline-start: .15em;
				block-size: 1em;
			}
		}

		&[disabled] {
			background: variables.$color-grey-light;
			border-color: color.adjust( variables.$color-grey-light, $lightness: -30 );
			color: color.adjust( variables.$color-grey-light, $lightness: -30 );
			cursor: default;

			svg path {
				fill: color.adjust( variables.$color-grey-light, $lightness: -30 );
			}
		}

		html.dark-mode & {
			background-color: variables.$color-link-dark-hover;
			color: variables.$color-background-dark;

			svg path {
				fill: variables.$color-background-dark;
			}

			&:hover,
			&:focus {
				background-color: variables.$color-link-dark;
			}
		}
		
	}
	
}