/*------------------------------------*\
Buttons
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {
	
	button,
	.button {
		
		cursor: pointer;
		user-select: none;
		
		background: $color-dark-teal;
		color: $color-white;
		text-shadow: none;
		
		border: 1px solid $color-text;
		border-radius: 3px;
		@include rem( padding, 10 15 );
		
		@include rem( font-size, $font-size-default );
		font-weight: bold;

		transition: background-color $default-transition, color $default-transition;
		
		&:hover,
		&:focus {
			background: darken( $color-dark-teal, 10 );
		}

		&[disabled] {
			background: $color-text-light;
			cursor: default;
		}

		@media (prefers-color-scheme: dark) {
			background-color: $color-link-dark-hover;
			color: $color-background-dark;

			&:hover,
			&:focus {
				background-color: $color-link-dark;
			}
		}
		
	}
	
}