@use "../helpers/mixins";
@use "../helpers/variables";

.collection__summary {
	@include mixins.rem( margin-bottom, variables.$default-spacing );

	p, ul, li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	li:first-child::before {
		content: ' ';
	}
	li::after {
		content: ', ';
	}
	li:last-child::after {
		content: '';
	}
	li:last-child::before {
		content: 'and ';
	}
}