/*------------------------------------*\
Blog Entry
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {
  
  .entry {
    
    @include rem( margin, $margin-default );
    
    &__meta {
      @include rem( font-size, $font-size-small );
      color: $color-grey;
      padding: 0;

      @media (prefers-color-scheme: dark) {
        color: $color-grey-light;
      }

      dl {
        padding: 0;
      }

      dt {
        font-family: $font-stack-serif;
        @include rem( font-size, $font-size-nav );
        line-height: 1.3;
        break-inside: avoid-column;
      }

      button {
        @include rem( margin-top, 6 );
      }
    }
    
    &__jump-links {
      @include breakup-placeholder( delist );
      margin-top: 0;
    }
    
    &__jump {
      margin: 0;
    }
    
    &__content aside,
    &__footer {
      border-top: 1px solid $color-rule;
      @include rem( padding-top, $default-spacing );
    }
    
    &--teaser &__title {
      width: auto;
    }
    
    &--teaser &__footer {
      border-top: 0;
      padding-top: 0;
    }
    
    &__content hr {
      @include rem( max-width, 220 );
    }
    
    &__sharing {
      text-align: center;
    }

    &__related &:first-of-type {
      @include rem( margin-top, $default-spacing );
    }

    &__series {
      @include rem( font-size, $font-size-small );
    }
    
    &--excerpt &__meta {
      display: none;
    }

    &--page {
      display: flex;
      flex-direction: column;

      .entry__header {
        order: 1;
      }
      .entry__content {
        order: 2;
      }
      & > .entry__meta {
        order: 3;
        border-top: 1px solid $color-rule;
        @include rem( padding-top, $default-spacing );
      }
      .entry__footer {
        order: 4;
      }
      aside {
        order: 5;
      }
    }

    &--teaser {
      display: flex;
      align-items: top;
      
      & + & {
        @include rem(margin-top, $default-spacing * 2);
      }

      .entry__type {
        background-color: $color-green-dark;
        
        border-radius: 100%;
        width: 24px;
        height: 24px;
        padding: 10px;
        
        path {
          fill: $color-white;
        }
      }
      
      .entry__details {
        @include rem( margin, 0 0 0 $table-spacing );
      }

      .entry__meta {
        @include rem( font-size, $font-size-caption );

        column-count: 1;
        margin-top: 0;
        
        position: absolute;
      }
    }
    
  }
  
  @supports (background-image:linear-gradient(black,white)) {
    
    .entry__meta a:link,
    .entry__meta a:visited {
      @include underline( $color-link, 0px );

      @media (prefers-color-scheme: dark) {
        @include underline( $color-link-dark, 0px, 1px, $color-background-dark );
      }
    }
    
  }
  
  @supports (column-count:2) or (-webkit-column-count:2) or (-moz-column-count:2) {
    .entry__meta {
      column-count: 2;
      @include rem( column-gap, $default-spacing );
      
      dd + dt {
        margin-top: 0;
      }
      dd {
        @include rem( padding-bottom, $default-spacing );
      }
    }
  }
  
}

@include breakup-breakpoint( "full" ) {
  
  .entry {
    
    position: relative;

    &--page {
      display: block;

      & > .entry__meta {
        border-top: 0;

        border-left: 1px solid $color-grey-light;
        padding: .2em 1em;
        margin-left: 1em;
        @include rem( margin-top, $default-spacing );
        width: 25%;
        
        position: absolute;
        left: 106%;
      }
    }
    
    &--excerpt &__meta {
      display: block;
    }

    &__title {
      width: 134%;
    }
    
    & + .rule {
      position: relative;
      left: 68%;
      margin-left: -110px;
    }

    &__content--excerpt {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      p {
        margin-top: 0;
      }
    }
    &__content &__thumbnail {
      margin-right: 0;
    }
    
  }
  
  @supports (column-count:2) or (-webkit-column-count:2) or (-moz-column-count:2) {
    .entry__meta {
      column-count: 1;
      
      dd + dt {
        @include rem( margin-top, $default-spacing );
      }
      dd {
        padding-bottom: 0;
      }
    }
  }
  
}
