/*------------------------------------*\
Gist
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {
  
  .gist {
    border: 1px solid $color-border;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;

    @include rem( font-size, $font-size-code );
    margin: 0;
    padding: .25em .5em;
  }
  .gist_link {
    background: $color-text;
    color: $color-background;
    
    border: 1px solid transparent;
    border-radius: 0 0 3px 3px;
    
    @include rem( font-size, $font-size-small );
    
    margin-top: 0;
    padding: .25em .5em;
    text-align: right;

    a {
      color: $color-background;
      text-decoration-color: $color-background;
    }
  }

}