/*------------------------------------*\
		Icons
\*------------------------------------*/

@include breakup-breakpoint("global") {
	.icon {
		@include breakup-placeholder(overflow-hide);

		background-size: contain;

		display: inline-block;
		vertical-align: baseline;

		height: 0.75em;
		width: 0.75em;

		@include rem(margin-right, 7);

		@supports (margin-block: 1em) {
			@include unset(height width margin-right);
			inline-size: 0.75em;
			block-size: 0.75em;
			@include rem(margin-inline-end, 7);
		}
	}
}
