/*------------------------------------*\
    Interviews
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

	.interview {

		&__attribution {
				font-weight: bold;
		}
	
	}
}