/*------------------------------------*\
  Listing
\*------------------------------------*/

@use 'sass:math';

@include breakup-breakpoint( "global" ) {
  
  .listing {
    
    @include breakup-placeholder( delist );
    
    &__item {
      
      &__title {
        @include rem( font-size, $font-size-body );
      }
      
      &__meta {
        color: $color-text-light;
        @include breakup-placeholder( small-caps );
        @include rem( margin, 2 0 0 );

				@supports (margin-block: 1em) {
					margin: unset;
					@include rem( margin-block, 2 0, false );
					margin-inline: 0;
				}

        html.dark-mode & {
          color: $color-text-dark-light;
        }
      }
      
      &__description {
        margin: 0;
      }
      
      &__content,
      &__link {
        margin-top: 0;

				@supports (margin-block: 1em) {
					margin-top: unset;
					margin-block-start: 0;
				}
      }
      
    }
    
    &--links &__item {
      margin: 0;
    }
    
    &--links &__item--link {
      @include rem( margin-bottom, math.div( $default-spacing, 2 ) );

			@supports (margin-block: 1em) {
				margin-bottom: unset;
				@include rem( margin-block-end, math.div( $default-spacing, 2 ), false );
			}
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      @include rem( grid-gap, $default-spacing );
    }

    &--minigrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      @include rem( grid-gap, $default-spacing );
    }
    
    &--icons &__item {
      display: grid;
      grid-template-areas: "icon title" "icon meta";
      grid-template-columns: 3.5rem 1fr;

      & + .listing__item {
        @include rem( margin-top, $default-spacing );

				@supports (margin-block: 1em) {
					margin-top: unset;
					@include rem( margin-block-start, $default-spacing, false );
				}
      }
      .listing__item__type {
        grid-area: icon;
        svg { 
          width: 24px;
          height: auto;
					max-height: 24px;

					@supports (margin-block: 1em) {
						@include unset( width height max-height );
						inline-size: 24px;
						block-size: auto;
						max-block-size: 24px;
					}
        }
      }
      .listing__item__title {
        grid-area: title;
        margin-top: 0;

				@supports (margin-block: 1em) {
					margin-top: unset;
					margin-block-start: 0;
				}
      }
      .listing__item__meta {
        grid-area: meta;
      }
    }
    
  }
  
}

// photo comes in at medium
@include breakup-breakpoint( "medium" ) {
  
  .listing {
    
    &--gallery {
      
      // Flexbox!
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      
      figcaption {
        margin-top: 0;

				@supports (margin-block: 1em) {
					margin-top: unset;
					margin-block-start: 0;
				}
      }
    }
    
    &--gallery &__item {
      /* 1/3 width with a 20px gap (fudged) */
      flex: 0 0 calc( 100% / 2 - 0.875rem );
      
      @include rem( margin-bottom, $default-spacing );
      margin-top: 0;
      
      &:nth-child(2n+1) {
        @include rem( margin-right, $default-spacing );
      }

			@supports (margin-block: 1em) {
				@include unset( margin-bottom margin-top );
				@include rem( margin-block, $default-spacing 0, false );

				&:nth-child(2n+1) {
					margin-right: unset;
					@include rem( margin-inline-end, $default-spacing, false );
				}
			}
    }
    
  }
}

// photo comes in at medium
@include breakup-breakpoint( "full" ) {
  
  .listing--gallery,
  .listing--grid,
  .listing--minigrid,
  .listing--icons {
    @include rem( margin, 20 -56 0 );

		@supports (margin-block: 1em) {
			@include unset( margin );
			@include rem( margin-block, 20 0, false );
			@include rem( margin-inline, -56, false );
		}
  }

}

