/*------------------------------------*\
		More
\*------------------------------------*/

@include breakup.breakup-breakpoint( "global" ) {

	.more {

		@include breakup.breakup-placeholder( small-caps );
		font-weight: bold;
		white-space: nowrap;

		a {
			border: 0;
		}

	}

}