/*------------------------------------*\
    Pagination
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

  .pagination {
    
    @include rem( margin-bottom, $default-spacing );
    
    text-align: center;

    user-select: none;

    &__pages {
      @include rem( margin, 0 $default-spacing );
    }

  }

}

@include breakup-breakpoint( "medium" ) {

  .pagination {
    margin-left: 33%;
  }

}