@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Page
\*------------------------------------*/

@include breakup.breakup-breakpoint( "global" ) {

	.page {

		&__title {
			@include mixins.rem( margin-bottom, variables.$default-spacing );

			@supports (margin-block: 1em) {
				margin-bottom: unset;
				@include mixins.rem( margin-block-end, variables.$default-spacing, false );
			}
		}
		
		&__footer {
			border-top: 1px solid variables.$color-rule;
			@include mixins.rem( padding-top, variables.$default-spacing );

			@supports (margin-block: 1em) {
				@include mixins.unset( border-top padding-top );
				border-block-start: 1px solid variables.$color-rule;
				@include mixins.rem( padding-block-start, variables.$default-spacing, false );
			}
		}

	}
	
}

@include breakup.breakup-breakpoint( "medium" ) {

	@supports (display:flex) {

		body {
			display: flex;
			flex-direction: column;
		}
		.alert,
		[role=banner] {
				order: 1;
		}
		[role=navigation] {
				order: 2;
		}
		[role=main] {
				order: 3;
				flex: 2;
		}
		[role=contentinfo] {
				order: 4;
		}

	}

}