@use "../helpers/_helpers" as *;

/*------------------------------------*\
		Promo
\*------------------------------------*/

@use "sass:math";
@use "sass:color";

$promo-image-width: 110;
$promo-image-height: 170;
$promo-background-color: color.scale(#7fb843, $lightness: 45%);

.promo {
	background: $promo-background-color;
	border: 1px solid color.scale($promo-background-color, $lightness: -5%);
	@include rem(margin, ($default-spacing * 2) -19);
	@include rem(padding, $default-spacing);

	@supports (margin-block: 1em) {
		@include unset(margin padding);
		@include rem(margin-block, $default-spacing * 2, false);
		@include rem(margin-inline, -19, false);
		@include rem(padding-block, $default-spacing, false);
		@include rem(padding-inline, $default-spacing, false);
	}

	html.dark-mode & {
		background: $color-green-dark;
		border-color: color.scale($color-green-dark, $lightness: -5%);
	}

	a:link,
	a:visited {
		color: #14440e;

		html.dark-mode & {
			color: $color-green-light;
		}
	}

	p:has(+ .social-links) {
		text-align: center;
	}

	// Image variant
	&--image {
		@include rem(padding-right, ($default-spacing * 2) + $promo-image-width);
		position: relative;

		@supports (margin-block: 1em) {
			padding-right: unset;
			@include rem(
				padding-inline-end,
				($default-spacing * 2) + $promo-image-width,
				false
			);
		}
	}

	&__image {
		display: block;
		width: 110px;
		height: 170px;

		transform: rotate(5deg);
		position: absolute;
		@include rem(right, $default-spacing);
		top: 50%;
		margin-top: #{0 - (math.div($promo-image-height, 2))}px;

		@supports (margin-block: 1em) {
			@include unset(margin-top right top width height);
			block-size: 170px;
			inline-size: 110px;
			@include rem(inset-inline-end, $default-spacing, false);
			inset-block-start: 50%;
			margin-block-start: #{0 - (math.div($promo-image-height, 2))}px;
		}
	}

	&__copy {
		margin: 0;
	}

	& + hr {
		display: none;
	}
}

@media screen and (min-width: #{$bp-full-em}) {
	.promo {
		@include rem(margin, ($default-spacing * 2) (0 - $default-spacing));

		@supports (margin-block: 1em) {
			@include unset(margin);
			@include rem(margin-block, $default-spacing * 2, false);
			@include rem(margin-inline, (0 - $default-spacing), false);
		}
	}
}
