/*------------------------------------*\
    Promo
\*------------------------------------*/

@use 'sass:math';

$promo-image-width: 110;
$promo-image-height: 170;
$promo-background-color: lighten( #7FB843, 45% );

@include breakup-breakpoint( "global" ) {

  .promo {
      background: $promo-background-color;
      border: 1px solid darken( $promo-background-color, 5% );
      @include rem( margin, ( $default-spacing * 2 ) -19 );
      @include rem( padding, $default-spacing );

      html.dark-mode & {
        background: $color-green-dark;
        border-color: darken( $color-green-dark, 5% );
      }

      a:link,
      a:visited {
        color: #14440E;

				html.dark-mode & {
					color: $color-green-light;
				}
      }
    
      // Image variant
      &--image {
        @include rem( padding-right, ( $default-spacing * 2 ) + $promo-image-width );
        position: relative;
      }

      &__image {
        
        display: block;
        width: 110px;
        height: 170px;
        
        transform: rotate(5deg);
        position: absolute;
        @include rem( right, $default-spacing );
        top: 50%;
        margin-top: #{ 0 - ( math.div( $promo-image-height, 2 ) ) }px;
        
      }

      &__copy {
        margin: 0;
      }

      & + hr {
        display: none;
      }

    }

}

@include breakup-breakpoint("full") {
  .promo {
    @include rem( margin, ( $default-spacing * 2 ) ( 0 - $default-spacing ) );
  }
}