@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Pullquotes
\*------------------------------------*/

@include breakup.breakup-breakpoint( "global" ) {

	.quotable {
		// unhide
		display: block;
		font-size: 1.25em;

		@include mixins.rem( margin, 33 0 variables.$default-spacing );
		@include mixins.rem( padding, variables.$default-spacing 0 );
		border: solid variables.$color-grey-light;
		border-width: 2px 0;

		position: relative;
		margin-right: -25%;

		@supports (margin-block: 1em) {
			@include mixins.unset( margin padding border-width margin-right );
			@include mixins.rem( margin-block, 33 variables.$default-spacing, false );
			margin-inline: 0 -25%;
			@include mixins.rem( padding-block, variables.$default-spacing, false );
			padding-inline: 0;
			border-block-width: 2px;
			border-inline-width: 0;
		}

		p::first-letter {
			text-transform: capitalize;
		}

		&::before,
		&::after {
			display: block;
			position: absolute;
			left: 0;
			right:0;
			text-align: center;
			height: .9em;
			font-size: 2em;

			@supports (margin-block: 1em) {
				@include mixins.unset( left right height );
				inset-inline: 0;
				inset-block-start: -.5em;
				block-size: .9em;
			}
		}
		&::before {
			content: '\201C';
		}
		&::after {
			content: '\201D';
		}
	}

}

@include breakup.breakup-breakpoint( "medium" ) {

	.quotable {
		float: right;
		@include mixins.rem( margin-left, variables.$default-spacing );
		width: 50%;

		@supports (margin-block: 1em) {
			@include mixins.unset( margin-left width );
			float: inline-end;
			margin-inline-start: variables.$default-spacing;
			inline-size: 50%;
		}
	}

}