@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Search
\*------------------------------------*/

@include breakup.breakup-breakpoint( "global" ) {

  search {
    height: 0;
    display: block;
    margin: 0;
  }

	.form--search {

		width: 95vw;

		@supports (margin-block: 1em) {
			width: unset;
			inline-size: 95vw;
		}
		
		[type=search] {
			@include mixins.rem( font-size, variables.$font-size-nav );

			appearance: none;
			border: 1px solid;
			border-radius: 3px;
			@include mixins.rem( margin, 0 5 0 0 );
			@include mixins.rem( padding, 5 10 );
			width: 100%;

			@supports (margin-block: 1em) {
				@include mixins.unset( padding width );
				margin: 0;
				@include mixins.rem( margin-inline-end, 5, false );
				@include mixins.rem( padding-block, 5, false );
				@include mixins.rem( padding-inline, 10, false );
				inline-size: 100%;
			}
		}

		button {
			font-weight: bold;
			@include mixins.rem( font-size, variables.$font-size-small );
			@include mixins.rem( padding, 7 15 );

			@supports (margin-block: 1em) {
				padding: unset;
				@include mixins.rem( padding-block, 7, false );
				@include mixins.rem( padding-inline, 15, false );
			}
		}

	}

	.form-control--search {
		width: 70%;

		@supports (margin-block: 1em) {
			width: unset;
			inline-size: 70%;
		}
	}

	// Better layout: Flexbox
	@supports (display: flex) {
		.form--search {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;
			@include mixins.rem( gap, variables.$default-spacing );

			@supports (margin-block: 1em) {
				width: unset;
				inline-size: 100%;
			}
		} 
	}
	
}

@include breakup.breakup-media("screen and (max-width: #{variables.$bp-medium-em})") {
	#search {
		display: block;
		background: none;
		border-width: 0;
		position: relative;
		width: auto;
		height: auto;
		padding: 0;
    margin-top: 1rem;

		@supports (margin-block: 1em) {
			@include mixins.unset( width height margin-top );
			inline-size: auto;
			block-size: auto;
      margin-block-start: 1rem;
		}
	}
}

@include breakup.breakup-breakpoint( "medium" ) {

		.form--search {
			background: rgba( variables.$color-white,.9 );
			
			box-sizing: content-box;
			margin: 0;
			
			z-index: 1;

			width: 80vw;

			@supports (margin-block: 1em) {
				width: unset;
				inline-size: 80vw;
			}
	
			html.dark-mode & {
				background: rgba( variables.$color-background-dark, .9 );
			}

			button {
				@include mixins.rem( font-size, 22 );
				@include mixins.rem( padding, 10 15 );

				@supports (margin-block: 1em) {
					padding: unset;
					@include mixins.rem( padding-block, 10, false );
					@include mixins.rem( padding-inline, 15, false );
				}
			}
		}

		.form-control--search {
				
			@include mixins.rem( margin, 0 5 0 0 );
			width: 100%;
			
			input[type=search] {
				@include mixins.rem( font-size, variables.$font-size-h2 );
				box-sizing: border-box;
				width: 100%;
				margin: 0;
			}

			@supports (margin-block: 1em) {
				@include mixins.unset( margin width );
				margin: 0;
				@include mixins.rem( margin-inline-end, 5, false );
				inline-size: 100%;

				input[type=search] {
					width: unset;
					inline-size: 100%;
				}
			}

		}

		/*
		// Better layout: Flexbox
		@supports (display: flex) {
				
				.form--search {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				
				[role=search] {
						flex-direction: column;
						width: 70%;
						
						.form-control--search {
								margin: 0;
								width: auto;
								
								input[type=search] {
										@include rem( font-size, $font-size-h2 );
										
										box-sizing: border-box;
										@include rem( padding, 5 10 );
										width: 100%;
								}
						}
						
						button {
								@include rem( font-size, $font-size-h2 );
								@include rem( margin-top, $default-spacing );
						}
						
				} 
				
		}
		*/
}