@use "../helpers/_helpers" as *;

/*------------------------------------*\
		Share Links
\*------------------------------------*/

@use "sass:math";
@use "sass:color";
@use "sass:map";

$social-buttons: (
	facebook: (
		color: #306199,
		size: 21,
		offset: 3,
	),
	linkedin: (
		color: #007bb6,
		size: 22,
		offset: 3,
	),
	pinterest: (
		color: #b81621,
		size: 22,
		offset: 2,
	),
	twitter: (
		color: #26c4f1,
		size: 21,
		offset: 4,
	),
	hacker-news: (
		color: #f60,
		size: 23,
		offset: 2,
	),
	notist: (
		color: #000,
		size: 20,
		offset: 4,
	),
	devto: (
		color: #000,
		size: 20,
		offset: 4,
	),
	discogs: (
		color: #333,
		size: 20,
		offset: 4,
	),
	github: (
		color: #24292f,
		size: 20,
		offset: 3,
	),
	instagram: (
		color: #fa383e,
		size: 20,
		offset: 4,
	),
	mastodon: (
		color: #5c4ee4,
		size: 20,
		offset: 4,
	),
	lastfm: (
		color: #b90000,
		size: 20,
		offset: 4,
	),
	youtube: (
		color: #fe0002,
		size: 20,
		offset: 4,
	),
	bandcamp: (
		color: #1da0c3,
		size: 20,
		offset: 4,
	),
	polywork: (
		color: #2f1193,
		size: 20,
		offset: 4,
	),
	imdb: (
		color: #f6c700,
		icon: #000,
		size: 20,
		offset: 4,
	),
	academiaedu: (
		color: #000,
		size: 20,
		offset: 4,
	),
);

.social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.5rem 0 0;
	padding: 0;
	list-style: none;
	gap: 0.5rem;

	@supports (margin-block: 1em) {
		margin: unset;
		margin-block: 0.5rem 0;
		margin-inline: 0;
	}

	&--share {
		justify-content: flex-start;
		gap: 0;
	}

	&__item {
		margin: 0;
	}
}

.social-link {
	background-color: $color-green;
	@include rem(border-radius, 6);

	display: inline-block;
	margin: 0 0.25em;
	@include rem(margin-top, math.div($default-spacing, 2));
	padding: 4px 8px;

	@supports (margin-block: 1em) {
		@include unset(margin margin-top padding);
		@include rem(margin-block, math.div($default-spacing, 2) 0, false);
		margin-inline: 0.25em;
		padding-block: 4px;
		padding-inline: 8px;
	}

	&:link,
	&:visited,
	&:hover,
	&:focus,
	&:active {
		color: $color-white;
	}

	@each $site, $config in $social-buttons {
		&--#{$site} {
			background-color: map.get($config, "color");
			transition: background-color 0.5s;

			&:hover,
			&:focus,
			&:active {
				background: color.scale(map.get($config, "color"), $lightness: -20%);
			}
		}

		&--#{$site} &__icon {
			@include rem(width, map.get($config, "size"));
			@include rem(height, map.get($config, "size"));
			@include rem(margin-top, map.get($config, "offset"));

			@supports (margin-block: 1em) {
				@include unset(width height margin-top);
				@include rem(inline-size, map.get($config, "size"), false);
				@include rem(block-size, map.get($config, "size"), false);
				@include rem(margin-block, map.get($config, "offset"), false);
			}

			@if (map.get($config, "icon")) {
				path,
				circle {
					fill: map.get($config, "icon");
				}
			}
		}
	}

	.entry__meta & {
		display: inline-block;
		height: 80%;
		margin: 0;
		padding: 4px 6px;
		transform: scale(0.75);

		@supports (margin-block: 1em) {
			padding: unset;
			padding-block: 4px;
			padding-inline: 6px;
		}
	}

	&__icon {
		vertical-align: top;
		display: inline-block;

		path,
		circle {
			fill: $color-white;
		}
	}

	&__text {
		@extend %hidden;
	}
}
