@use "../helpers/_helpers" as *;

/*------------------------------------*\
		Subsections
\*------------------------------------*/

.subsection {

  &__header {

    @include rem( font-size, 18 );
    text-align: center;
    text-transform: uppercase;

    &::before,
    &::after {
      font-size: 0.75em;
      display: block;
    }

    &::before {
      content: '\2726\00A0\2726\00A0\2726';
      @include rem( margin, 0 0 $table-spacing );

      @supports (margin-block: 1em) {
        margin: 0;
        @include rem( margin-block-end, $table-spacing, false );
      }
    }

    &::after {
      content: '\2726\00A0\2726\00A0\2726';
      @include rem( margin, $table-spacing 0 0 );

      @supports (margin-block: 1em) {
        margin: 0;
        @include rem( margin-block-start, $table-spacing, false );
      }
    }

    b {
      white-space: nowrap;
    }

  }


	@media screen and (min-width: #{$bp-medium-em}) {
		&__header::before,
		&__header::after {
			display: inline;
			position: relative;
			bottom: 0.125em;
			margin: 0;

			@supports (margin-block: 1em) {
				bottom: unset;
				inset-block-end: 0.125em;
			}
		}

		&__header::before {
			content: '\2726\00A0\2726\00A0\2726\00A0\00A0';
		}
		&__header::after {
			content: '\00A0\00A0\2726\00A0\2726\00A0\2726';
		}
	}
}