@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Anchorable
\*------------------------------------*/

@use 'sass:math';

@include breakup.breakup-breakpoint( "global" ) {
	.talk {
		&__event {
			
			& + & {
				@include mixins.rem(margin-top, math.div(variables.$default-spacing, 2));

				@supports(margin-block:1em){
					margin-top: unset;
					@include mixins.rem(margin-block-start, math.div(variables.$default-spacing, 2));
				}
			}

			&__title {
				display: block;
				font-weight: bold;
			}

			&__with {
				display: block;
				margin: 0;
			}

		}

		.subsection__header {
			@include mixins.rem(margin-top, (variables.$default-spacing * 3));

				@supports(margin-block:1em){
					margin-top: unset;
					@include mixins.rem(margin-block-start, (variables.$default-spacing * 3));
				}
		}

		&__slides {
			@include mixins.rem(margin-bottom, (variables.$default-spacing * 3));

				@supports(margin-block:1em){
					margin-bottom: unset;
					@include mixins.rem(margin-block-end, (variables.$default-spacing * 3));
				}
		}
	}
}
