/*------------------------------------*\
    Webmentions
\*------------------------------------*/

@use 'sass:math';

@include breakup-breakpoint( "global" ) {
    
    $avatar-width: 48;
    
    .webmentions {
        @include rem( font-size, $font-size-default );
        @include rem( margin-top, math.div( $default-spacing, 2 ) );
        
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        &__item {
            clear: both;

            border-top: 1px solid $color-border;
            margin: 0;
            @include rem( padding, $default-spacing 0 $default-spacing ( $avatar-width + $default-spacing ) );
            @include rem( min-height, $avatar-width );

            position: relative;

            &:first-child {
                border-top: 0;
            }
        }
    }
    
    .webmention {

        &__author {
            @include rem( font-size, $font-size-small );
            font-weight: $font-weight-sansserif-bold;
        }
        
        &--author-starts .h-card .p-name {
            @include breakup-placeholder( hidden );
        }
        
        &__author__photo {
            border-radius: 3px;

            display: block;
            @include rem( width, $avatar-width );
            @include rem( height, $avatar-width );

            position: absolute;
            @include rem( top, $default-spacing );
            
            left: 0;
        }
        
        &__title,
        &__content,
        &__meta {
            margin: 0;
        }
        
        &__meta {
            color: $color-grey;
            @include rem( font-size, $font-size-small );
        }

        &--activity &__author,
        &--activity &__title {
            display: inline;
        }

        &--like,
        &--repost {

            border: 0;
            display: inline;
            margin: 0 5px 0 0;
            padding: 0;

            .webmention__author {
                display: inline;

                &__photo {
                    border: 1px solid;
                    border-radius: 50%;
                    
                    display: inline;
                    max-width: 48px;
                    margin: 0;
                    
                    position: static;
                }

                a {
                    background-image: none !important;
                }
            }
        }
    }

}
