---
layout: index
title: The Notebook of
show_title: false
display_title: Notes from the Internets
footer: true
comments: false
sharing: false
is_index: true
body_class: notebook
---

{% for post in paginator.posts reverse %}

	{% unless post.external-url %}

		<article class="entry entry--teaser">
  			{% include entry_teaser.html %}
		</article>

		{% unless forloop.last %}
			<hr class="rule">
		{% endunless %}

	{% endunless %}

{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<a class="prev" href="/{{ site.pagination_dir }}/{% if paginator.previous_page != 1 %}pg-{{ paginator.previous_page }}{% endif %}">&larr; Prev</a>
		{% endif %}
		<span class="pagination__pages">
			page
			<span class="pagination__pages__current">{{ paginator.page }}</span>
			of
			<span class="pagination__pages__current">{{ paginator.total_pages }}</span>
		</span>
		{% if paginator.next_page %}
			<a class="prev" href="/{{ site.pagination_dir }}/pg-{{ paginator.next_page }}">Next &rarr;</a>
		{% endif %}
	</div>
{% endif %}