<div id="wcb" class="carbonbadge wcb-d"></div>
<script>
  if ( MutationObserver )
  {
    var wcb = document.getElementById('wcb')
    var mutationObserver = new MutationObserver(function(){
      if ( wcb.innerText.indexOf("No results") > -1 )
      {
        wcb.remove();
        mutationObserver.disconnect();
      }
    });
    mutationObserver.observe( wcb, { childList:true, subtree:true });
  }
</script>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
