<aside class="promo promo--book promo--image">
  <img class="promo__image" src="https://adaptivewebdesign.info/2nd-edition/cover-320.jpg" width="110" alt="" loading="lazy">
  <div class="promo__copy">Like what you’re reading? You might dig my book
    <a href="https://adaptivewebdesign.info/2nd-edition/"><cite>Adaptive Web Design, Second Edition</cite></a>. You can grab a copy on 
    <a href="http://www.amazon.com/gp/product/0134216148/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0134216148&amp;linkCode=as2&amp;tag=easydesign-20&amp;linkId=7EDENIS3P4XL7LIT">Amazon</a>,
    <a href="http://www.anrdoezrs.net/links/7941166/type/dlg/http://www.barnesandnoble.com/w/adaptive-web-design-aaron-gustafson/1102101792?ean=9780134216140">Barnes &amp; Noble</a>,
    <a href="http://click.linksynergy.com/deeplink?id=ksYXFf8a/VY&amp;mid=24808&amp;murl=http%3A%2F%2Fwww.informit.com%2Ftitle%2F9780134216140">Pearson</a>, or anywhere web design books are sold.
  </div>
</aside>