@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Footer
\*------------------------------------*/

@include breakup.breakup-breakpoint( "global" ) {

	.footer {

		@include mixins.rem( font-size, variables.$font-size-small );
		text-align: center;

		@include mixins.rem( padding-bottom, variables.$default-spacing );

		@supports (margin-block: 1em) {
			padding-bottom: unset;
			@include mixins.rem( padding-block-end, variables.$default-spacing, false );
		}

		p {
				margin: 0;
		}

		&::before {
			content: "";

			display: block;
			border: 0;
			border-top: 1px solid variables.$color-rule;
			height: 0;
			@include mixins.rem( margin, variables.$default-spacing auto );

			@supports (margin-block: 1em) {
				@include mixins.unset( margin border-top height );
				@include mixins.rem( margin-block, variables.$default-spacing, false );
				margin-inline: auto;
				border-block-start: 1px solid variables.$color-rule;
				block-size: 0;
			}
		}

	}

}

@include breakup.breakup-breakpoint( "full" ) {

	.footer .layout-container {
		max-width: 100%;

		@supports (margin-block: 1em) {
			max-width: unset;
			max-inline-size: 100%;
		}
	}

}