@use "../helpers/functions";
@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Grid
\*-------
-----------------------------*/

.layout-container {
		
		@include breakup.breakup-breakpoint( "global" ) {
			max-width: 100%;

			height: functions.ie8( 1% );

			// padding on a small screen
			@include mixins.rem( padding, 0 20 );
			margin: 0 auto;

			position: relative;

			@supports (margin-block: 1em) {
				@include mixins.unset( max-width padding margin );
				@include mixins.rem( padding-inline, 20, false );
				padding-block: 0;
				margin-block: 0;
				margin-inline: auto;
				max-inline-size: 100%;
			}
		}
		
		// @include breakup.breakup-breakpoint( "small" ) {
		//
		// }

		@include breakup.breakup-breakpoint( "full" ) {

			padding: 0;
			max-width: variables.$bp-medium-em;

			@supports (margin-block: 1em) {
				max-width: unset;
				max-inline-size: variables.$bp-medium-em;
			}
			
			&--blog {
				max-width: 47em;

				@supports (margin-block: 1em) {
					max-width: unset;
					max-inline-size: 47em;
				}
			}

			&__primary {
				width: 74%;
				float: left;

				@supports (margin-block: 1em) {
					width: unset;
					inline-size: 74%;
					float: inline-start;
				}
			}
				
		}

}