@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
Header
\*------------------------------------*/

@use 'sass:math';

@include breakup.breakup-breakpoint( "global" ) {
	
	.banner {
		
		text-align: center;
		margin: 0;
		position: relative;
		z-index: 1;
		
		* + * {
			margin: 0;
		}
		
		.layout-container {
			max-width: 100%;
			padding: 0;
			
			@supports (margin-block: 1em) {
				max-width: unset;
				max-inline-size: 100%;
			}
		}
		
		.site-title {
			
			font-family: variables.$font-stack-body;
			@include mixins.rem( font-size, variables.$font-size-h1 );
			font-weight: normal;
			letter-spacing: 0.1em;
			line-height: 1.1;
			word-spacing: 0.25em;
			text-transform: uppercase;
			
			a {
				background: variables.$color-grey;
				color: variables.$color-grey-light;
				
				border: 0;
				@include mixins.rem( padding, 8 variables.$default-spacing );
				display: block;
				
				@supports (margin-block: 1em) {
					@include mixins.unset( padding );
					@include mixins.rem( padding-block, 8, false );
					@include mixins.rem( padding-inline, variables.$default-spacing, false );
				}
				
				&:hover,
				&:focus {
					background: variables.$color-green;
					color: variables.$color-white;
				}
			}
		}
		
		.site-subtitle {
			font-family: variables.$font-stack-body;
			@include mixins.rem( font-size, variables.$font-size-h3 );
			@include mixins.rem( padding, 7 5 );
			
			@supports (margin-block: 1em) {
				padding: unset;
				@include mixins.rem( padding-block, 7 );
				@include mixins.rem( padding-inline, 5 );
			}
		}
		
	}
	
	.alert {
		
		background: variables.$color-black;
		color: variables.$color-white;
		
		@include mixins.rem( margin, variables.$margin-default );
		@include mixins.rem( padding, 7 5 );
		text-align: center;
		
		@supports (margin-block: 1em) {
			@include mixins.unset( margin padding );
			@include mixins.rem( margin-block-end, variables.$default-spacing, false );
			margin-inline: 0;
			@include mixins.rem( padding-block, 7, false );
			@include mixins.rem( padding-inline, 5, false );
		}
		
		a {
			text-decoration-color: inherit;
			color: inherit;
		}
		strong {
			font-weight: normal;
		}
		
		& + header {
			margin-top: 0;
			
			@supports (margin-block: 1em) {
				margin-top: unset;
				margin-block-start: 0;
			}
			
			.site-title,
			.site-subtitle {
				@include mixins.rem( margin-bottom, math.div( variables.$default-spacing, 2 ) );
				
				@supports (margin-block: 1em) {
					margin-bottom: unset;
					@include mixins.rem( margin-block-end, math.div( variables.$default-spacing, 2 ), false );
				}
			}
		}
	}
	
	// better underlines
	.site-title a {
		text-decoration: none;
	}
	
}
