/*------------------------------------*\
		Header
\*------------------------------------*/

@use 'sass:math';

@include breakup-breakpoint( "global" ) {

		.banner {

			text-align: center;
			margin: 0;

			* + * {
				margin: 0;
			}

			.layout-container {
				max-width: 100%;
				padding: 0;

				@supports (margin-block: 1em) {
					max-width: unset;
					max-inline-size: 100%;
				}
			}

			.site-title {

				font-family: $font-stack-body;
				font-weight: normal;
				letter-spacing: 0.1em;
				word-spacing: 0.25em;
				text-transform: uppercase;
				
				a {
					background: $color-grey;
					color: $color-grey-light;
					
					border: 0;
					@include rem( padding, 8 $default-spacing );
					display: block;

					@supports (margin-block: 1em) {
						@include unset( padding );
						@include rem( padding-block, 8, false );
						@include rem( padding-inline, $default-spacing, false );
					}
					
					&:hover,
					&:focus {
						background: $color-green;
						color: $color-white;
					}
				}
			}

		}

		.alert {

				background: $color-black;
				color: $color-white;
		
				@include rem( margin, $margin-default );
				@include rem( padding, 7 5 );
				text-align: center;

				@supports (margin-block: 1em) {
					@include unset( margin padding );
					@include rem( margin-block-end, $default-spacing, false );
					margin-inline: 0;
					@include rem( padding-block, 7, false );
					@include rem( padding-inline, 5, false );
				}
		
				a {
					text-decoration-color: inherit;
					color: inherit;
				}
				strong {
					font-weight: normal;
				}

				& + header {
					margin-top: 0;

					@supports (margin-block: 1em) {
						margin-top: unset;
						margin-block-start: 0;
					}

					.site-title,
					.site-subtitle {
						@include rem( margin-bottom, math.div( $default-spacing, 2 ) );

						@supports (margin-block: 1em) {
							margin-bottom: unset;
							@include rem( margin-block-end, math.div( $default-spacing, 2 ), false );
						}
					}
				}
		}

		// better underlines
		.site-title a {
			text-decoration: none;
		}

}
