@charset "UTF-8";
/*------------------------------------*\
    Main CSS
\*------------------------------------*/
/*------------------------------------*\
    $VENDORS
	Other people’s code
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
	SASS Tools
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
/*	Debug controls
	========================================================================== */
/*	CDN
	========================================================================== */
/*	Breakpoint Management
	========================================================================== */
/*	Grid Management
	========================================================================== */
/*	Legacy support
	========================================================================== */
/*	Typography
	========================================================================== */
/*	Colors
	========================================================================== */
/*	Images
	========================================================================== */
/*	Defaults
	========================================================================== */
/*------------------------------------*\
    Functions
\*------------------------------------*/
/*------------------------------------*\
    Mixins
\*------------------------------------*/
/*------------------------------------*\
    Placeholders
\*------------------------------------*/
@media screen {
  html body, p, dl, dl dt,
  dl dd {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    font-weight: normal;
    line-height: 1.4;
  }
  .wf-active html body, html .wf-active body, .wf-active p, .wf-active dl, .wf-active dl dt, dl .wf-active dt,
  .wf-active dl dd,
  dl .wf-active dd {
    word-spacing: 2px;
  }
}
@media screen {
  .fields, .listing {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
@media screen {
  .hidden, object[data^="#"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@media screen {
  html body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
}
@media screen {
  table thead, .listing__item__meta {
    font-size: 12px;
    font-size: 0.75rem;
    font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    letter-spacing: 2px 	;
    text-transform: uppercase;
    word-spacing: 1px;
  }
}
/*------------------------------------*\
    $BASE
	Global element styles
\*------------------------------------*/
/*------------------------------------*\
    Body-level settings
\*------------------------------------*/
@media screen {
  @-moz-viewport {
    width: device-width;
    zoom: 1.0;
  }
  @-ms-viewport {
    width: device-width;
    zoom: 1.0;
  }
  @-o-viewport {
    width: device-width;
    zoom: 1.0;
  }
  @-webkit-viewport {
    width: device-width;
    zoom: 1.0;
  }
  @viewport {
    width: device-width;
    zoom: 1.0;
  }
  html {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #FF6BA6), color-stop(1px, transparent));
    background: -webkit-linear-gradient(#FF6BA6 1px, transparent 1px);
    background: linear-gradient(#FF6BA6 1px, transparent 1px);
    background-size: 100% .75;
  }
  html body {
    background: #fff;
    color: #2c2825;
    font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    max-width: 960px;
    max-width: 60rem;
  }
}
@media only screen and (min-width: 60em) {
  [role=main] {
    min-height: 400px;
    min-height: 25rem;
  }
}
/*------------------------------------*\
    Heading Levels
\*------------------------------------*/
@media screen {
  h1, h2, h3, h4, h5, h6 {
    font-family: "quatro-slab", Georgia, serif;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
  }
  .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6 {
    word-spacing: 2px;
  }

  h1 {
    font-size: 32px;
    font-size: 2rem;
  }

  section > h1,
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
@media screen {
  blockquote {
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    margin: 1.25rem auto;
    padding: 20px;
    padding: 1.25rem;
    max-width: 700px;
    max-width: 43.75rem;
  }
  blockquote > :first-child:not([class]):before {
    content: "\201C";
    margin-left: -8px;
    margin-left: -0.5rem;
  }
  blockquote > :last-child {
    margin: 0;
  }

  .blockquote__attribution {
    font-family: "prenton", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding-left: 40px;
    padding-left: 2.5rem;
  }
  .blockquote__attribution cite {
    font-style: normal;
  }

  p {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
  }

  [aria-hidden="true"] {
    display: none;
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px auto;
    margin: 1.25rem auto;
    max-width: 200px;
  }
}
@media only screen and (min-width: 43.125em) {
  blockquote {
    padding: 20px 20px;
    padding: 1.25rem 1.25rem;
  }
}
@media only screen and (min-width: 60em) {
  blockquote {
    padding: 20px 40px;
    padding: 1.25rem 2.5rem;
  }
}
/*------------------------------------*\
    Lists
\*------------------------------------*/
@media screen {
  ol,
  ul {
    line-height: 1.4;
    margin: 0 20px 20px;
    margin: 0 1.25rem 1.25rem;
  }

  dl dt,
  dl dd {
    font-weight: normal;
  }
}
/*------------------------------------*\
    Links
\*------------------------------------*/
@media screen {
  a {
    color: #34AD23;
    border-bottom: 1px dotted;
    border-bottom-color: rgba(52, 173, 35, 0.25);
    cursor: pointer;
    -webkit-transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
    transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
  }
  a, a:link, a:visited {
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    color: #27831a;
    border-bottom-color: #27831a;
  }
  a[href^=mailto], a[href^=tel] {
    white-space: nowrap;
  }
  a.email, a.tel {
    white-space: nowrap;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom-width: 0;
  }
  h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active, h3 a:hover, h3 a:focus, h3 a:active, h4 a:hover, h4 a:focus, h4 a:active, h5 a:hover, h5 a:focus, h5 a:active, h6 a:hover, h6 a:focus, h6 a:active {
    border-bottom-width: 1px;
  }
}
/*------------------------------------*\
    Text-level semantics
\*------------------------------------*/
@media screen {
  abbr {
    cursor: help;
    border: 0;
  }
  abbr[title] {
    border: 0;
  }

  mark {
    background: transparent;
    color: #2c2825;
    color: inherit;
    font-weight: normal;
    font-weight: inherit;
    font-style: normal;
    font-style: inherit;
  }

  b {
    font-weight: inherit;
  }

  i {
    font-style: inherit;
  }

  sub, sup {
    font-size: 10px;
    font-size: 0.625rem;
    font-style: inherit;
    font-weight: inherit;
    position: relative;
  }

  sub {
    bottom: -1em;
  }

  sup {
    bottom: 1em;
  }
}
/*------------------------------------*\
    Media Elements
\*------------------------------------*/
@media screen {
  object[data*="svg"] {
    pointer-events: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
  img[style] {
    width: 100% !important;
    height: auto !important;
  }

  picture {
    display: block;
  }

  .noscript-picture {
    margin: 0;
    padding: 0;
  }
}
/*------------------------------------*\
    Tables
\*------------------------------------*/
@media screen {
  table {
    border-collapse: collapse;
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    width: 100%;
    min-width: 100px;
  }
  table thead {
    border-bottom: 3px solid #ccc;
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  table thead th {
    font-weight: bold;
  }
  table thead th p {
    font-weight: bold;
    display: inline;
    margin: 0;
  }
  table tbody {
    font-size: 18px;
    font-size: 1.125rem;
  }
  table tr {
    border-top: 1px solid #ccc;
  }
  table td,
  table th {
    font-weight: normal;
    text-align: left;
    padding: 15px;
    padding: 0.9375rem;
    padding-left: 0;
  }
  table td:last-child,
  table th:last-child {
    padding-right: 0;
  }
  table td :last-child,
  table th :last-child {
    margin-bottom: 0;
  }
  table td[colspan],
  table th[colspan] {
    font-weight: bold;
  }
}
@media only screen and (max-width: 770px) {
  .layout-container__primary table {
    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
  }
  .layout-container__primary table caption {
    display: block;
  }
  .layout-container__primary table thead {
    display: none;
  }
  .layout-container__primary table tbody,
  .layout-container__primary table tr,
  .layout-container__primary table th,
  .layout-container__primary table td {
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
  }
  .layout-container__primary table tr {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
  }
  .layout-container__primary table th[data-title]:before,
  .layout-container__primary table td[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: bold;
  }
  .layout-container__primary table th:not([data-title]) {
    font-weight: bold;
  }
  .layout-container__primary table td:empty {
    display: none;
  }
}
@media only screen and (min-width: 43.125em) {
  table.striped {
    background: #fff;
  }
  table.striped thead {
    background: #ccc;
    border-bottom: 0;
  }
  table.striped tbody tr {
    background: #fff;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  table.striped tbody tr:nth-child(even) {
    background: #413d3a;
  }
  table.striped tbody tr:hover {
    background: #fff;
  }
  table.striped th,
  table.striped td {
    border: 1px solid #ccc;
    padding: 15px;
    padding: 0.9375rem;
  }
}
/*------------------------------------*\
    Form Styles
\*------------------------------------*/
@media screen {
  form {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
  }

  .fields__group {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
  }
  .fields__group:last-child {
    margin: 0;
  }
  .fields__group label {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
  }
  .fields__group input,
  .fields__group select,
  .fields__group textarea {
    color: #ccc;
    font-size: 12px;
    font-size: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid;
    margin: 5px 0;
    margin: 0.3125rem 0;
    padding: 5px;
    padding: 0.3125rem;
    -webkit-transition: background-color 0.25s ease, color 0.25s ease;
    transition: background-color 0.25s ease, color 0.25s ease;
  }
  .fields__group input,
  .fields__group textarea {
    background: #fff;
    color: #2c2825;
    display: block;
    width: 100%;
  }
  .fields__group input[type=search] {
    -webkit-appearance: textfield;
  }
  .fields__group select {
    font-size: 18px;
    font-size: 1.125rem;
    max-width: 100%;
  }
  .fields__group__note {
    font-size: 12px;
    font-size: 0.75rem;
  }
  .fields__required {
    color: #f00;
    font-weight: normal;
  }
  .fields .validation-error input,
  .fields .validation-error select,
  .fields .validation-error textarea {
    color: #f00;
  }

  @-moz-document url-prefix() {
    .fields select {
      font-size: 12px;
      font-size: 0.75rem;
    }
  }
}
@media only screen and (min-width: 43.125em) {
  input,
  textarea {
    width: 80%;
  }

  .fields__note {
    width: 80%;
  }
}
/*------------------------------------*\
    Animations
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
	Page layout
\*------------------------------------*/
/*------------------------------------*\
    Header
\*------------------------------------*/
.banner {
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
}

.alert {
  background: #2c2825;
  color: #fff;
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
  padding: 5px;
  padding: 0.3125rem;
  text-align: center;
}
.alert a {
  border-color: inherit;
  color: inherit;
}
.alert strong {
  font-weight: normal;
}

/*------------------------------------*\
    Main
\*------------------------------------*/
/*------------------------------------*\
    Footer
\*------------------------------------*/
.footer {
  padding: 0 0 20px;
  padding: 0 0 1.25rem;
}
.footer p {
  margin: 0;
}

/*------------------------------------*\
    $COMPONENTS
	Interface patterns
\*------------------------------------*/
/*------------------------------------*\
    Listing
\*------------------------------------*/
@media screen {
  .listing {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
  }
  .listing__item {
    margin: 0;
    padding: 10px 0;
    padding: 0.625rem 0;
  }
  .listing__item:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .listing__item__meta {
    color: #666;
  }
  .listing__item :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
/*------------------------------------*\
    Post
\*------------------------------------*/
@media screen {
  .post__meta {
    color: #666;
  }
  .post__footer {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-top: 1.25rem;
  }
}
