@charset "UTF-8";
/*------------------------------------*\
    Main CSS
\*------------------------------------*/
/*------------------------------------*\
    $VENDORS
	Other people’s code
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
	SASS Tools
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
/*	Debug controls
	========================================================================== */
/*	CDN
	========================================================================== */
/*	Breakpoint Management
	========================================================================== */
/*	Grid Management
	========================================================================== */
/*	Legacy support
	========================================================================== */
/*	Typography
	========================================================================== */
/*	Colors
	========================================================================== */
/*	Images
	========================================================================== */
/*	Defaults
	========================================================================== */
/*------------------------------------*\
    Functions
\*------------------------------------*/
/*------------------------------------*\
    Mixins
\*------------------------------------*/
/*------------------------------------*\
    Placeholders
\*------------------------------------*/
/*------------------------------------*\
    $BASE
	Global element styles
\*------------------------------------*/
/*------------------------------------*\
    Body-level settings
\*------------------------------------*/
@media only screen and (min-width: 60em) {
  [role=main] {
    min-height: 400px;
    min-height: 25rem;
  }
}
/*------------------------------------*\
    Heading Levels
\*------------------------------------*/
/*------------------------------------*\
    Block-level Semantics
\*------------------------------------*/
@media only screen and (min-width: 43.125em) {
  blockquote {
    margin: 20px;
    margin: 1.25rem;
    padding: 20px 20px;
    padding: 1.25rem 1.25rem;
  }
}
@media only screen and (min-width: 60em) {
  blockquote {
    margin: 20px;
    margin: 1.25rem;
    padding: 20px 40px;
    padding: 1.25rem 2.5rem;
  }
}
/*------------------------------------*\
    Lists
\*------------------------------------*/
/*------------------------------------*\
    Links
\*------------------------------------*/
/*------------------------------------*\
    Text-level semantics
\*------------------------------------*/
/*------------------------------------*\
    Media Elements
\*------------------------------------*/
/*------------------------------------*\
    Tables
\*------------------------------------*/
@media only screen and (max-width: 770px) {
  .layout-container__primary table {
    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
  }
  .layout-container__primary table caption {
    display: block;
  }
  .layout-container__primary table thead {
    display: none;
  }
  .layout-container__primary table tbody,
  .layout-container__primary table tr,
  .layout-container__primary table th,
  .layout-container__primary table td {
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
  }
  .layout-container__primary table tr {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
  }
  .layout-container__primary table th[data-title]:before,
  .layout-container__primary table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }
  .layout-container__primary table th:not([data-title]) {
    font-weight: bold;
  }
  .layout-container__primary table td:empty {
    display: none;
  }
}
@media only screen and (min-width: 43.125em) {
  table.striped {
    background: white;
  }
  table.striped thead {
    background: #666666;
    border-bottom: 0;
  }
  table.striped tbody tr {
    background: white;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  table.striped tbody tr:nth-child(even) {
    background: #413d3a;
  }
  table.striped tbody tr:hover {
    background: white;
  }
  table.striped th,
  table.striped td {
    border: 1px solid #666666;
    padding: 15px;
    padding: 0.9375rem;
  }
}
/*------------------------------------*\
    Form Styles
\*------------------------------------*/
@media only screen and (min-width: 43.125em) {
  input,
  textarea {
    width: 80%;
  }

  .fields__note {
    width: 80%;
  }
}
/*------------------------------------*\
    Animations
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
	Page layout
\*------------------------------------*/
/*------------------------------------*\
    Header
\*------------------------------------*/
.banner {
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
}

.alert {
  background: #2c2825;
  color: white;
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
  padding: 5px;
  padding: 0.3125rem;
  text-align: center;
}
.alert a {
  border-color: inherit;
  color: inherit;
}
.alert strong {
  font-weight: normal;
}

/*------------------------------------*\
    Main
\*------------------------------------*/
/*------------------------------------*\
    Footer
\*------------------------------------*/
.footer {
  padding: 0 0 20px;
  padding: 0 0 1.25rem;
}
.footer p {
  margin: 0;
}

/*------------------------------------*\
    $COMPONENTS
	Interface patterns
\*------------------------------------*/
/*------------------------------------*\
    Listing
\*------------------------------------*/
/*------------------------------------*\
    Post
\*------------------------------------*/
