{% comment %} 
<script>(function(){
	var link = document.createElement('link');
	link.rel = 'stylesheet';
	link.media = 'screen';
	link.href = '/c/fonts.min.css';
	document.getElementsByTagName('head')[0].appendChild(link);
}())</script>
<noscript>
	<link rel="stylesheet" href="/c/fonts.min.css" media="screen">
</noscript>
{% endcomment %}

<link rel="stylesheet" href="/c/default.min.css" media="all">
<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="/c/advanced.min.css" media="only screen">
<!--<![endif]-->
<!--[if (IE 8)&(!IEMobile)]>
	<link rel="stylesheet" href="/c/old-ie.min.css">
<![endif]-->