
	<script src="/j/main.js"></script>
{% if page.is_post %}
	{% include disqus.html %}
	<script src="/j/post.min.js" async></script>
	{% webmentions_js %}
{% endif %}
{% for script in page.javascripts.body %}
	<script src="/j/{{ script }}.js" async></script>
{% endfor %}

{% comment %}
{% capture page_url %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
<noscript>
	<img src="https://nojsstats.appspot.com/{{ site.google_analytics_tracking_id }}/{{ page_url }}" alt=""/>
</noscript>

<!-- Google Tag Manager -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}&amp;no-js=true"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.google_tag_manager_id }}');</script>
<!-- End Google Tag Manager -->

<!--Clicky-->
<script src="https://static.getclicky.com/js"></script>
<script>try{ clicky.init(101070683); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="https://in.getclicky.com/101070683ns.gif" /></p></noscript>
<!--/Clicky-->
{% endcomment %}
