
{% comment %}
  {% capture title %}{% if page.tag %}Browse by Tag: {{ page.tag | titlecase }}, From the Notebook of{% elsif page.title %}{{ page.title | strip_html | titlecase | replace:" Of"," of" }}{% endif %}{% if page.url contains 'notebook/links' %}{% elsif page.url contains 'notebook/' and page.title != 'The Notebook of' %}, From the Notebook of{% endif %} {{ site.title }}{% if page.url contains 'notebook/pg-' or page.url contains 'notebook/links/pg-' %}, Page {{ page.url | remove:'/notebook/pg-' | remove:'/notebook/links/pg-' | remove:'/index.html' }}{% endif %}{% endcapture %}
  {% capture og_title %}{% if page.title %}{% if site.titlecase %}{{ page.title | strip_html | titlecase | replace:" Of"," of" }}{% else %}{{ page.title | strip_html }}{% endif %}{% endif %}{% if page.url contains 'notebook/' %}{% if page.title contains 'Notebook of' %} {{ site.title }}{% endif %}{% else %} {{ site.title }}{% endif %}{% if page.url contains 'notebook/pg-' or page.url contains 'notebook/links/pg-' %}, Page {{ page.url | remove:'/notebook/pg-' | remove:'/notebook/links/pg-' | remove:'/index.html' }}{% endif %}{% endcapture %}
  {% capture desc %}{{ description | strip_html | smartypants | condense_spaces | truncate:200 }}{% endcapture %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title | titlecase | smartypants }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:type" content="{{ site.og.type }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:image" content="{{ site.url }}{{ site.og.image }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="{{ desc }}">
  <meta name="description" content="{{ desc }}">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" value="@AaronGustafson">
  <meta name="twitter:widgets:csp" content="on">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <meta property="fb:admins" content="100002880350996">
  {% if page.canonical %}<link rel="canonical" href="{{ page.canonical }}">{% endif %}
{% endcomment %}

{% if page.tag %}
  <title>{{ page.tag | prepend:" " | prepend:page.title_prefix }} | {{ site.title }}</title>
  {% seo title=false %}
{% else %}
  {% seo %}
{% endif %}
<link rel="apple-touch-icon" href="{{ site.logo }}">
<meta property="og:locale" content="en_US">

{% comment %}
{% if page.feed == true %}<link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">{% endif %}
{% endcomment %}

{% include feeds/list.html %}

<meta name="revisit-after" content="7 days">
<meta name="ROBOTS" content="index,follow">
<meta name="robots" content="NOODP">