/*------------------------------------*\
    Notebook
\*------------------------------------*/

.notebook article.entry--link {
	font-size: 85%;
	margin-inline: auto;

	width: 80%;

	.entry__title {
		font-size: 1.6em;
	}
}
