/*------------------------------------*\
    Tag Page
\*------------------------------------*/
body.tag-page {

	.layout-container__primary {
		float: none;
		width: auto;

		@supports (margin-block: 1em) {
			width: unset;
			inline-size: auto;
		}
	}

}