{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html id="aaron-gustafson_com" lang="en" dir="ltr">

	{% include head.html %}

	<body {% if page.body_class %} class="{{ page.body_class }}" {% endif %} >
		
		{% include header.html %}
		
		<main role="main">
			
			{{ content | expand_urls: root_url }}
			
			{% include fork-me.html %}
			
	    </main>
	  	
		{% include navigation.html %}
		
		{% include footer.html %}
		
	  	{% include footer-after.html %}
	
	</body>

</html>