{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html id="aaron-gustafson_com" lang="en" dir="ltr">

	{% include head.html %}

	<body {% if page.body_class %} class="{{ page.body_class }}" {% endif %} >
		
		<div class="alert"><strong>This site is <a href="/notebook/2014/a-grand-experiment/">undergoing an open redesign</a>, so if it looks strange, that’s why.</strong></div>
		
		{% include header.html %}
		
		<main role="main">
			
			{{ content | expand_urls: root_url }}
			
	    </main>
	  	
		<hr>
		
		{% include navigation.html %}
		
		<hr>
		
		{% include footer.html %}
		
	  	{% include footer-after.html %}
	
	</body>

</html>