{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html id="aaron-gustafson_com" lang="en" dir="ltr">

	{% include head.html %}

	<body {% if page.body_class %} class="{{ page.body_class }}" {% endif %} >

		{% comment %}
		{% if page.body_class == "hi" %}
			<img class="hero-shot" src="/c/i/home@400.jpg" alt=""
				 srcset="/c/i/home@400.jpg 400w, /c/i/home@750.jpg 750w, /c/i/home@1500.jpg 1500w, /c/i/home@2000.jpg 2000w, /c/i/home@3000.jpg 3000w">
		{% endif %}
		{% endcomment %}

		{% include header.html %}
		
		<main role="main">
			
			{{ content | expand_urls: root_url }}
			
	    </main>
	  	
		<hr class="rule rule--optional">
		
		{% include navigation.html %}
		
		{% include footer.html %}
		
	  	{% include footer-after.html %}
	
	</body>

</html>