<li id="comment-{{ comment.postId }}" class="webmentions__item">
	<article class="h-cite webmention 
		{% if not comment.author %}webmention--no-author{% endif %}
		{% if not comment.avatar %}webmention--no-photo{% endif %}
		">
		<div class="webmention__author p-author h-card">
			{% if comment.avatar %}
				<img class="webmention__author__photo u-photo" src="https://res.cloudinary.com/aarongustafson/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/{{ comment.avatar }}" width="48" height="48" alt="" title="{{ comment.author }}" loading="lazy">
			{% endif %}
			<b class="p-name">{{ comment.author }}</b>
		</div>
		<div class="webmention__content p-content">
			{{ comment.message | unescape | safe }}
		</div>
		<div class="webmention__meta">
			<time class="webmention__pubdate dt-published"
						datetime="{{ comment.date | machine_date }}">{{ comment.date | readable_date }}</time>
			<a class="webmention__source u-url" href="#comment-{{ comment.postId }}">Permalink<b class="hidden"> to comment {{ comment.postId }}</b></a>
		</div>
		{% if comment.replies.length > 0 %}
			<h2>Replies</h2>
			<ol class="webmentions__list">
				{% for reply in comment.replies %}
					{% include "partials/post/comment.html", comment: reply %}
				{% endfor %}
			</ol>
		{% endif %}
	</article>
</li>
