{% set wordcount %}{{ content | wordcount }}{% endset %}
{  
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "keywords": "{% if tags.length > 0 }}{{ tags | join(", ") }}{% endif %}",
  "wordCount": "{{ wordcount }}",
  "url": "{{ this_url }}",
  "dateCreated": "{{ page.date | ymd_date }}",
  "datePublished": "{{ page.date | ymd_date }}",
  "dateModified": "{{ last_updated_at | default( page.date, true ) | ymd_date }}",
  "author":{  
    "@type": "Person",
    "name": "{{ site.social.name }}",
    "sameAs": [  
      {% for url in site.social.links %}
        "{{ url }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },
  "publisher":{  
    "@type": "Organization",
    "name": "{{ site.social.name }}",
    "logo": {
      "@type": "ImageObject",
      "contentUrl": "{{ site.url + site.logo }}",
      "url": "{{ site.url }}"
    }
  },
  {% if image != "" %}
    "image":{  
      "@type": "ImageObject",
      "contentUrl": "{{ image }}",
      "url": "{{ image }}",
      "height": "669",
      "width": "1280"
    },
  {% endif %}
  "mainEntityOfPage":{  
    "@type": "WebPage",
    "@id": "{{ this_url }}",
    "dateModified": "{{ last_updated_at | default( page.date, true ) | ymd_date }}"
  },
  "articleBody": "{{ content | escape }}"
}