{% set this_url %}{{ page.url | absoluteUrl(site.url) }}{% endset %}
{% set this_hero %}{% if hero %}{{ hero.src | absoluteUrl(site.url) }}{% else %}{{ seo.image | absoluteUrl(site.url) }}{% endif %}{% endset %}
{% set svg_twitter %}{{ "/src/static/i/icons/twitter.svg" | svgContents | safe }}{% endset %}
{% set svg_hackernews %}{{ "/src/static/i/icons/hacker-news.svg" | svgContents | safe }}{% endset %}
{% set svg_facebook %}{{ "/src/static/i/icons/facebook.svg" | svgContents | safe }}{% endset %}
{% set svg_linkedin %}{{ "/src/static/i/icons/linkedin.svg" | svgContents | safe }}{% endset %}
{% set svg_pinterest %}{{ "/src/static/i/icons/pinterest.svg" | svgContents | safe }}{% endset %}
{% set svg_share %}{{ "/src/static/i/icons/share.svg" | svgContents | safe }}{% endset %}
	
<ul class="social-links social-links--share">
	<li class="social-links__item">
		<a rel="nofollow" class="social-link social-link--twitter" href="https://twitter.com/intent/tweet?original_referer={{ this_url }}&amp;source=tweetbutton&amp;url={{ this_url }}">
			{{ svg_twitter | replace('<svg ','<svg class="social-link__icon" ') | safe }}
			<b class="social-link__text">Share on Twitter (new tab)</b>
		</a>
	</li>
	<li class="social-links__item">
	 <a rel="nofollow" class="social-link social-link--hacker-news" href="https://news.ycombinator.com/submitlink?u={{ this_url }}&t={{ title | escape | replace(' ', '+' ) }}">
			{{ svg_hackernews | replace('<svg ','<svg class="social-link__icon" ') | safe }}
			<b class="social-link__text">Share on Hacker News</b>
		</a>
	</li>
	<li class="social-links__item">
		<a rel="nofollow" class="social-link social-link--facebook" href="http://www.facebook.com/sharer.php?u={{ this_url }}">
			{{ svg_facebook | replace('<svg ','<svg class="social-link__icon" ') | safe }}
			<b class="social-link__text">Post on Facebook</b>
		</a>
	</li>
	<li class="social-links__item">
		<a rel="nofollow" class="social-link social-link--linkedin" href="https://www.linkedin.com/cws/share?url={{ this_url }}&amp;original_referer={{ this_url }}">
			{{ svg_linkedin | replace('<svg ','<svg class="social-link__icon" ') | safe }}
			<b class="social-link__text">Share on LinkedIn</b>
		</a>
	</li>
	<li class="social-links__item">
		<a rel="nofollow" class="social-link social-link--pinterest" href="http://pinterest.com/pin/create/button/?url={{ this_url }}&amp;media={{ this_hero }}&amp;description={{ title | escape | replace(' ', '+' ) }}">
			{{ svg_pinterest | replace('<svg ','<svg class="social-link__icon" ') | safe }}
			<b class="social-link__text">Share on Pinterest</b>
		</a>
	</li>
</ul>

<script>
	!(function(window, document, navigator){

		// Filter older browsers
		if ( ! ( 'querySelectorAll' in document ) {
			return;
		}
		
		function prepForPopup() {
			var screen_width = "visualViewport" in window ?
						window.visualViewport.width : window.innerWidth,
					$links = document.querySelectorAll('.social-links--share a'),
					count = $links.length;

			if ( screen_width > 500 ) {
				while ( count-- ) {
					$links[count].addEventListener('click', popup, false);
					$links[count].querySelector('.social-link__text').innerHTML += " (in a popup)";
				}
			}    
		}
		function popup( e ) {
			var $link = e.target;
			while ( $link.nodeName.toLowerCase() != "a" ) {
				$link = $link.parentNode;
			}
			var popup = window.open( $link.href, 'share', 'height=500,width=600,status=no,toolbar=no,popup' );
			try {
				popup.focus();
				e.preventDefault();
			} catch(e) {
				// popup blocked, allow default behavior
			}
		}
		
		function swapForShareAPI() {
			var $links = document.querySelector('.social-links--share'),
					$parent = $links.parentNode,
					$button = document.createElement('button'),
					title = document.querySelector('h1.p-name,title').innerText,
					$description = document.querySelector('meta[name="og:description"],meta[name="description"]'),
					text = $description ? $description.getAttribute('content') : '',
					url = window.location.href;

			$button.innerHTML = 'Share <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 448.003 446.746"><path d="M362.065 172.023c47.523 0 85.938-38.559 85.938-85.941C448.003 38.559 409.59 0 362.065 0s-86.082 38.559-86.082 86.082c0 7.406 1.235 14.477 3.008 21.34l-99.09 50.582c-18.699-22.031-46.531-36.051-77.711-36.051C45.78 121.953 0 167.726 0 224.143c0 56.246 45.777 102.02 102.19 102.02 28.617 0 54.418-11.812 72.93-30.758l65.164 38.715c-2.773 8.453-4.652 17.312-4.652 26.688 0 47.383 38.559 85.938 86.082 85.938s85.938-38.559 85.938-85.938c0-47.523-38.418-86.082-85.938-86.082-24.688 0-46.805 10.547-62.504 27.211l-63.266-37.582a101.633 101.633 0 008.27-40.211c0-11.816-2.102-23.117-5.786-33.676l97.648-49.848c15.793 19.008 39.328 31.398 65.984 31.398l.005.005z"/></svg>';
			$button.addEventListener('click', function(e){
				navigator.share({ title, text, url })
			});

			$parent.insertBefore($button, $links);
			$links.remove();
		}
		
		if ("share" in navigator ) {
			swapForShareAPI();
		} else {
			prepForPopup();  
		}

	})(this, this.document, this.navigator);
</script>
