{% set domain_test = r/^http\:\/\/([^\/]+)/g %}

{% if has_webmentions %}
  <hr>

  <section id="webmentions" class="entry__comments dont-read" {% if not has_webmentions %}aria-hidden="true"{% endif %}>
  	
    {% set twitter = r/twitter\.com/ %}
		{% set mastodon = r/mastodon/ %}
    {% set show_name = true %}
    {% if replies.length > 0 %}
    	<div class="webmentions webmentions--replies">
        <h2 class="subsection__header">Webmentions</h2>
				<ol class="webmentions__list">
          {% for webmention in replies %}
            {% set long_name = webmention.name.length > 200 %}
            {% if not long_name %}
              <li id="webmention-{{ webmention['wm-id'] }}" class="webmentions__item">
                {% if site.debug %}
                  <pre><code>{{ webmention | dump(2) }}</code></pre>
                {% endif %}
                <article class="h-cite webmention 
                  {% if webmention.wm-property %}webmention--{{ webmention.wm-property }}{% endif %}
                  {% if not webmention.author %}webmention--no-author{% endif %}
                  {% if not webmention.author.photo %}webmention--no-photo{% endif %}
                  ">
                  {% if webmention.author.photo %}
                    {% include "partials/post/linkedface.html" %}
                  {% endif %}
                  
                  {% set title_link = false %}
                  {% set webmention_content %}{% filter trim %}
                    {% if twitter.test(webmention.url) or mastodon.test(webmention['wm-source']) %}
                      {% if webmention.content.html %}
                        {{ webmention.content.html | unescape | safe }}
                      {% else %}
                        {{ webmention.content.text | markdownify | safe }}
                      {% endif %}
                    {% elif webmention.name and webmention.url and not long_name %}
                      {% set title_link = true %}
                      <a class="webmention__source u-url" href="{{ webmention.url }}">{{ webmention.name }}</a>
                    {% elif webmention.name and not long_name %}
                      {{ webmention.name }}
                    {% elif webmention.summary %}
                      {{ webmention.summary.html | safe }}
                    {% endif %}
                  {% endfilter %}{% endset %}

                  {% if webmention_content %}
                    <div class="webmention__content p-content">
                      {{ webmention_content | unescape | safe }}
                    </div>
                  {% endif %}

                  <div class="webmention__meta">
                    {% if webmention.published %}
                      <time class="webmention__pubdate dt-published"
                            datetime="{{ webmention.published | machine_date }}">{{ webmention.published | readable_date }}</time>
                    {% endif %}
                    {% if webmention.url and not title_link %}|
                      <a class="webmention__source u-url" href="{{ webmention.url }}">Permalink<b class="hidden">: {{ webmention.url }}</b></a>
                    {% endif %}
                  </div>
                </article>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% set show_name = false %}
    {% if likes.length > 0 %}
      <div class="webmentions webmentions--likes">
        <h2 class="subsection__header">Likes</h2>
        <ol class="webmentions__list">
          {% for webmention in likes %}
            <li id="webmention-{{ webmention['wm-id'] }}" class="webmentions__item webmention webmention--like">
              {% include "partials/post/linkedface.html" %}
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% if shares.length > 0 %}
      <div class="webmentions webmentions--reposts">
        <h2 class="subsection__header">Shares</h2>
        <ol class="webmentions__list">
          {% for webmention in shares %}
            <li id="webmention-{{ webmention['wm-id'] }}" class="webmentions__item webmention webmention--repost">
              {% include "partials/post/linkedface.html" %}
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
  </section>
{% endif %}
