{% set domain_test = r/^http\:\/\/([^\/]+)/g %}
{% from "macros.njk" import html_template %}

<hr {% if not has_webmentions %}hidden{% endif %}>

<section id="webmentions" tabindex="-1"
         class="entry__comments dont-read"
         {% if not has_webmentions %}hidden{% endif %}
         >
  
  {% set twitter = r/twitter\.com/ %}
  {% set mastodon = r/mastodon/ %}
  {% set bluesky = r/bsky\.app/ %}
  {% set show_name = true %}
  <div class="webmentions webmentions--replies" {% if replies.length === 0 %}hidden{% endif %}>
    <h2 class="subsection__header">Webmentions</h2>
    <ol class="webmentions__list"
        data-webmention-collection="replies"
        data-webmention-types="posts, mentions, replies, bookmarks"
        data-webmention-template="webmention-comment"
        >
      {% if replies.length > 0 %}
        {% for webmention in replies %}
          {% set long_name = webmention.name.length > 200 %}
          {% if not long_name %}
            <li id="webmention-{{ webmention['wm-id'] }}" class="webmentions__item">
              {% if site.debug %}
                <pre><code>{{ webmention | dump(2) }}</code></pre>
              {% endif %}
              <div class="h-cite webmention webmention--reply
                {% if webmention.wm-property %}webmention--{{ webmention.wm-property }}{% endif %}
                {% if not webmention.author %}webmention--no-author{% endif %}
                {% if not webmention.author.photo %}webmention--no-photo{% endif %}
                ">
                {% if webmention.author.photo %}
                  {% include "partials/post/linkedface.njk" %}
                {% endif %}
                
                {% set title_link = false %}
                {% set webmention_content %}{% filter trim %}
                  {% if twitter.test(webmention.url) or mastodon.test(webmention['wm-source']) or bluesky.test(webmention.url) %}
                    {% if webmention.content.html %}
                      {{ webmention.content.html | unescape | safe }}
                    {% else %}
                      {{ webmention.content.text | markdownify | safe }}
                    {% endif %}
                  {% elif webmention.name and webmention.url and not long_name %}
                    {% set title_link = true %}
                    <a rel="nofollow" class="webmention__source u-url" href="{{ webmention.url }}">{{ webmention.name }}</a>
                  {% elif webmention.name and not long_name %}
                    {{ webmention.name }}
                  {% elif webmention.summary %}
                    {{ webmention.summary.html | safe }}
                  {% endif %}
                {% endfilter %}{% endset %}

                {% if webmention_content %}
                  <div class="webmention__content p-content">
                    {{ webmention_content | unescape | replace("<a href=", '<a rel="nofollow" href=') | safe }}
                  </div>
                {% endif %}

                <div class="webmention__meta">
                  {% if webmention.published %}
                    <time class="webmention__pubdate dt-published"
                          datetime="{{ webmention.published | machine_date }}">{{ webmention.published | readable_date }}</time>
                  {% endif %}
                  {% if webmention.url and not title_link %}|
                    <a rel="nofollow" class="webmention__source u-url" href="{{ webmention.url }}">Permalink<b class="hidden">: {{ webmention.url }}</b></a>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ol>
  </div>

  {% set show_name = false %}

  <div class="webmentions webmentions--likes" {% if likes.length === 0 %}hidden{% endif %}>
    <h2 class="subsection__header">Likes</h2>
    <ol class="webmentions__list"
        data-webmention-collection="likes"
        data-webmention-types="likes"
        data-webmention-data-required="author"
        data-webmention-template="webmention-face"
        data-webmention-template-class="webmention--like"
        >
      {% if likes.length > 0 %}
        {% for webmention in likes %}
          <li id="webmention-{{ webmention['wm-id'] }}" class="webmentions__item webmention webmention--like">
            {% include "partials/post/linkedface.njk" %}
          </li>
        {% endfor %}
      {% endif %}
    </ol>
    
  </div>

  <div class="webmentions webmentions--reposts" {% if shares.length === 0 %}hidden{% endif %}>
    <h2 class="subsection__header">Shares</h2>
    <ol class="webmentions__list"
        data-webmention-collection="reposts"
        data-webmention-types="reposts"
        data-webmention-template="webmention-face"
        data-webmention-template-class="webmention--repost"
        >
      {% if shares.length > 0 %}
        {% for webmention in shares %}
          <li id="webmention-{{ webmention['wm-id'] }}" class="webmentions__item webmention webmention--repost">
            {% include "partials/post/linkedface.njk" %}
          </li>
        {% endfor %}
      {% endif %}
    </ol>
  </div>

</section>
