{% set post_url %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
{% set summary %}{% if post.data.description %}{{ post.data.description }}{% elif post.data.page.excerpt %}{{ post.data.page.excerpt }}{% endif %}{% endset %}
{%- set type %}{{ post.inputPath | content_type }}{% endset -%}
{%- set icon -%}
  {%- if type == "post" -%}✍🏻
  {%- elif type == "link" -%}🔗
  {%- elif type == "article" -%}📄
  {%- elif type == "book" -%}📗
  {%- elif type == "talk" -%}📢
  {%- elif type == "podcast" -%}🎧
  {%- elif type == "press" -%}🎤
  {%- endif -%}
{% endset -%}
{% set title_text %}{% if prepend_title and icon %}{{ icon }} {% endif %}{{ post.data.title | striptags }}{% endset %}
{% set feed_url = post_url %}
{% if type != "post" and type != "link" and post.data.url %}
  {% set feed_url = post.data.url %}
{% endif %}
{
  "id": {{ post_url | dump | safe }},
  "title": {{ title_text | dump | safe }},
  
  {% if summary %}
  "summary": {{ (summary | markdownify | trim_newlines) | dump | safe }},
  {% endif %}

  "content_html": {{ post.templateContent | dump | safe }},
  
  {% if post.data.twitter_text %}
  "social_text": {{ post.data.twitter_text | dump | safe }},
  {% endif %}
  
  "url": {{ feed_url | dump | safe }},
  {% if post.data.ref_url %}
    "external_url": {{ post.data.ref_url | dump | safe }},
  {% endif %}
  
  {% if post.data.tags %}
    "tags": {{ post.data.tags | dump | safe }},
  {% endif %}
  
  {% if post.data.hero %}
    "image": {{ (post.data.hero.src | absoluteUrl(site.url)) | dump | safe }},
  {% elif post.data.og_image %}
    "image": {{ post.data.og_image | dump | safe }},
  {% endif %}
  
  "date_published": {{ (post.date | dateToRfc3339) | dump | safe }}
}