{% set post_url %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
{% set summary %}{% if post.data.description %}{{ post.data.description }}{% elif post.data.page.excerpt %}{{ post.data.page.excerpt }}{% endif %}{% endset %}
{%- set type %}{{ post.inputPath | content_type }}{% endset -%}
{%- set icon -%}
  {%- if type == "post" -%}✍🏻
  {%- elif type == "link" -%}🔗
  {%- elif type == "article" -%}📄
  {%- elif type == "book" -%}📗
  {%- elif type == "talk" -%}📢
  {%- elif type == "podcast" -%}🎧
  {%- elif type == "press" -%}🎤
  {%- endif -%}
{% endset -%}
{
  "id": "{{ post_url }}",
  "title": "{% if prepend_title and icon %}{{ icon }} {% endif %}{{ post.data.title | replace('"', '\\"') | striptags | safe }}",
  
  {% if summary %}
  "summary": "{{ summary | markdownify | trim_newlines | replace('"', '\\"') | safe }}",
  {% endif %}

  "content_html": "{{ post.templateContent | trim_newlines | replace('"', '\\"') | safe }}",
  
  {% if type == "post" or type == "link" %}
    "url": "{{ post_url }}",
  {% else %}
    "url": "{{ post.data.url }}",
  {% endif %}
  {% if post.data.ref_url %}
    "external_url": "{{ post.data.ref_url }}",
  {% endif %}
  
  {% if post.data.tags %}
    "tags": {{ post.data.tags | dump | safe }},
  {% endif %}
  
  {% if post.data.hero %}
    "image": "{{ post.data.hero.src | absoluteUrl(site.url) }}",
  {% elif post.data.og_image %}
    "image": "{{ post.data.og_image }}",
  {% endif %}
  
  "date_published": "{{ post.date | dateToRfc3339 }}"
}