{% set post_url %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
{% set summary %}{% if post.data.description %}{{ post.data.description }}{% elif post.data.page.excerpt %}{{ post.data.page.excerpt }}{% endif %}{% endset %}
{
  "id": "{{ post_url }}",
  "title": "{{ prepend_title + post.data.title | replace('"', '\\"') | safe }}",
  
  "summary": "{{ summary | markdownify | replace('\n','') | replace('\r', '') | replace('"', '\\"') | safe }}",
  
  "content_html": "{{ post.templateContent | replace('\n','') | replace('\r', '') | replace('"', '\\"') | safe }}",
  
  "url": "{{ post_url }}",
  {% if post.data.ref_url %}
    "external_url": "{{ post.data.ref_url }}",
  {% endif %}
  
  {% if post.data.tags %}
    "tags": {{ post.data.tags | dump | safe }},
  {% endif %}
  
  {% if post.data.image %}
    "image": "{{ post.data.image }}",
  {% endif %}
  
  "date_published": "{{ post.date | dateToRfc3339 }}"
}