---
github_edit: "_layouts/blog.html"
---
{% extends "layouts/base.html" %}
{% from "macros.njk" import paginate, post_date, tag_list %}

{% block content %}

  {% set the_title %}{% if display_title %}{{ display_title }}{% else %}{{ title }}{% endif %}{% endset %}
  <article role="article" class="page layout-container layout-container--blog">

    <h1 class="page__title subsection__header">{{ the_title | title | widont }}</h1>
    
    <div class="layout-container__primary">
      
      {% for post in posts %}
        {% set content %}{% if post.data.page.excerpt %}<p>{{ post.data.page.excerpt | markdownify | safe }}</p>{% else %}{{ post.templateContent | safe }}{% endif %}{% endset %}
        {% set is_excerpted = ( post.templateContent != content ) %}
        
        <article class="entry entry--excerpt entry--{{ post.data.collection }}{% if post.data.hero or post.data.og_image %} entry--with-hero{% endif %}">
          <header class="entry__header">
            <h1 class="entry__title entry-title">
              {% if is_excerpted %}
                <a rel="bookmark" href="{{ post.url }}">{{ post.data.title | widont | markdownify | safe }}</a>
              {% elif post.data.ref_url and not post.data.is_404 %}
                <a rel="external original-article" href="{{ post.data.ref_url }}">{{ post.data.title | widont | markdownify | safe }}</a>
              {% else %}
                {{ post.data.title | widont | markdownify | safe }}
              {% endif %}
            </h1>
            {% if not (post.data.meta == false) %}
              <dl class="entry__meta">
                <dt class="hidden">{% if post.data.ref_url %}Saved on{% else %}Posted on{% endif %}</dt>
                <dd>{{ post_date( post.date, post.data.last_updated_at) }}</dd>
                {% if via %}
                  <dt class="hidden">Via</dt>
                  <dd>↬ <a href="{{ via.url }}">{{ via.name }}</a></dd>
                {% endif %}
                {% if post.data.ref_url %}
                <dt class="hidden">Source</dt>
                <dd>
                  {% if post.data.is_404 %}
                    {{ post.data.ref_source }}
                  {% else %}
                    <a rel="external original-article" href="{{ post.data.ref_url }}">{{ post.data.ref_source }}</a>
                  {% endif %}
                </dd>
                {% endif %}
                {% if post.data.tags %}
                  <dt class="dont-read hidden">Tagged</dt>
                  <dd class="dont-read">{{ tag_list( post.data.tags ) }}</dd>
                {% endif %}
              </dl>
            {% endif %}
          </header>

          <div class="entry__content entry__content--excerpt entry-content">
            {% if post.data.hero %}
              <img data-responsiver="thumbnail" src="{{ post.data.hero.src | absoluteUrl(site.url) }}" alt="{{ post.data.hero.alt }}" class="entry__thumbnail" width="100" height="100">
            {% endif %}
            {% if post.data.og_image %}
              <img data-responsiver="thumbnail" src="{{ post.data.og_image }}" alt="" class="entry__thumbnail" width="100" height="100">
            {% endif %}
            {{ content | safe }}
          </div>

          {% if is_excerpted or post.data.is_404 %}
            <footer class="entry__footer">
              <p>
                {% if is_excerpted %}
                  <a rel="bookmark" href="{{ post.url }}">You can finish reading
                  <cite>{{ post.data.title | safe }}</cite> in less than {{ post.templateContent | readingTime }}</a>
                {% elif post.data.is_404 %}
                  This link is 404-ing{% if post.data.archived %}, but <a rel="bookmark" href="{{ post.data.archived }}">you can view an archived version on the Wayback Machine</a>{% endif %}.
                {% endif %}
              </p>
            </footer>
          {% endif %}
        </article>
        {% if not forloop.last %}
          <hr class="rule">
        {% endif %}
      {% endfor %}

      {{ paginate( "Page", pagination ) }}

      </div>

    {% if sidebar != false %}
      <hr class="rule rule--optional">

      <aside class="layout-container__secondary">
        {% if site.asides.blog %}
          {% for sidebar in site.asides.blog %}
            {% include sidebar %}
          {% endfor %}
        {% elif site.asides.page %}
          {% for sidebar in site.asides.page %}
            {% include sidebar %}
          {% endfor %}
        {% else %}
          {% for sidebar in site.asides.default %}
            {% include sidebar %}
          {% endfor %}
        {% endif %}
      </aside>
    {% endif %}

  </article>
{% endblock %}
