{% extends "layouts/base.njk" %}
{% from "macros.njk" import social_links %}

{% block content %}
  <article class="page page--home layout-container">
    {{ content | safe }}

    <h2 class="subsection__header"><b class="hidden">Me, </b>Elsewhere</h2>
    {{ social_links( profiles | selectattr("active") ) | safe }}
  </article>
{% endblock %}
