---
github_edit: "_layouts/series.njk"
---
{% extends "layouts/base.njk" %}

{% block content %}
  {% set posts = collections.posts | bySeriesTag( tag ) | reverse %}
  
  <article role="article" class="page layout-container layout-container--blog">
    <h1 class="page__title">{{ title | title  | safe }}</h1>
    
    <p>{{ description | markdownify | safe }}</p>
    
    <div id="blog-archives">
      {% set teaser_heading_level = "h2" %}
      {% for post in posts %}
        {% include "partials/post/teaser.njk" %}
      {% endfor %}
    </div>
  </article>
{% endblock %}