---
github_edit: "_layouts/series.html"
---
{% extends "layouts/base.html" %}

{% block content %}
  {% set the_title %}{% endset %}
  {% set posts = collections.posts | bySeriesTag( tag ) | reverse %}
  {% set svg_essay %}{{ "/src/static/i/icons/essay.svg" | svgContents | safe }}{% endset %}
  
  <article role="article" class="page layout-container layout-container--blog">
    <h1 class="page__title">{{ title | title | widont | safe }}</h1>
    
    <p>{{ description | markdownify | safe }}</p>
    
    <div id="blog-archives">
      {% for post in posts %}
        {% set type = post.inputPath | content_type %}
        <article class="entry entry--teaser entry--post">
          <p class="entry__type" title="Post" aria-label="Post">{{ svg_essay | safe }}</p>
          <div class="entry__details">
            <h2 class="entry__title entry-title">
              <a rel="bookmark" href="{{ post.url }}">{{ post.data.title | widont }}</a>
            </h2>
            <p class="entry__meta">Posted on <time class="dt-published" datetime="{{ post.data.date | machine_date }}">{{ post.data.date | readable_date }}</time></p>
          </div>
        </article>
      {% endfor %}
    </div>
  </article>
{% endblock %}