/*------------------------------------*\
    Anchorable
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {
    
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .anchorable {
        
        font-family: $font-stack-body;
        position: relative;
        
        &__icon {
            vertical-align: top;
            
            display: inline-block;
            @include rem( padding, $default-spacing/2 );
            @include rem( width, 15 );
            @include rem( height, 15 );
            
            path {
                fill: $color-background;
                transition: fill .5s;
            }
        }
        
        &__anchor__text {
            @include breakup-placeholder( hidden );
            left: 0;
            bottom: 0;
        }
        
        &__anchor {
            background: $color-white;
            
            text-decoration: none;
            @include rem( line-height, 15 );
    
            border: 0;
            display: inline-block;
            margin: 0;
            padding: 0;
            
            // hide on small screens (will still be accessible though)
            position: absolute;
            left: -999em;
            
            &:hover path,
            &:focus path {
                fill: $color-black;
                transition: fill .5s;
            }
            
        }
        
        &:hover path,
        &:focus path {
            fill: $color-black;
            transition: fill .5s;
        }
        
        &__alert {
            font-weight: normal;
            color: $color-grey;
            @include rem( font-size, $font-size-tiny );
            @include rem( line-height, 15 );
            
            display: block;
            margin: 0;
            
            &--fading {
                animation: 2.2s linear 0s 1 fade-out;
            }
        }
    }
    
    @supports (background-image:linear-gradient(black,white)) {
        
        .anchorable__anchor:link,
        .anchorable__anchor:visited,
        .anchorable__anchor:hover,
        .anchorable__anchor:focus,
        html.wf-active .anchorable__anchor:link,
        html.wf-active .anchorable__anchor:visited,
        html.wf-active .anchorable__anchor:hover,
        html.wf-active .anchorable__anchor:focus {
            background: $color-background;
        }

    }
}

@include breakup-breakpoint( "medium" ) {
    .anchorable__anchor {
        top: 0;
        left: 100%;
        @include rem( margin-left, 5 );
    }
}

@include breakup-tweakpoint( '(min-width: 64em)', 'full' ) {
    .anchorable__anchor {
        left: auto;
        right: 100%;
        margin-left: 0;
        @include rem( margin-right, 5 );
    }
}
