/*------------------------------------*\
    Buttons
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    #carbonads {
    @include rem( margin-top, $default-spacing/2 );
    text-align: right;

    .carbon-wrap {
      display: block;
      text-align: left;
    }

    .carbon-poweredby {
      color: $color-grey;
      @include rem( font-size, $font-size-tiny );
      
      @include no-underline;
    }
    }

}