/*------------------------------------*\
    Gist
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    div.gist {
        
        @include rem( font-size, $font-size-code );
        @include rem( margin, $margin-default );
        
        table {
            margin: 0;
        
            tr {
                border: 0;
                margin: 0;
            }
            
            td {
                margin: 0;
            }

            .line-numbers {
                width: 3em;
            }
        
        }
        
        a {
            background: transparent;
        }

        .line-numbers,
        .gist-meta {
            speak: none;
        }
        
        .line-number,
        .line,
        .gist-meta {
            margin-top: 0;
        }

        table,
        tbody,
        div.file-data {
            font-size: 100%;
        }

        .blob-wrapper {
            padding: 4px 0;
        }
        .blob-code {
            // Don’t want to use important, but Github’s stylesheet does
            padding: 2px 10px !important;
        }

    }

    html.wf-active div.gist a {
        background: transparent;
        text-shadow: none;
    }
    
}

// De-table on smaller screens
// (using staff directory as a gauge)
@include breakup-media( "(max-width: 770px)" ) {
    div.gist .line-numbers,
    div.gist .line-data {
        display: table-cell;
    }
}