/*------------------------------------*\
  Listing
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {
  
  .listing {
    
    @include breakup-placeholder( delist );
    
    &__item {
      
      &__title {
        @include rem( font-size, $font-size-body );
      }
      
      &__meta {
        color: $color-text-light;
        @include breakup-placeholder( small-caps );
        @include rem( margin, 2 0 0 );
      }
      
      &__description {
        margin: 0;
      }
      
      &__content,
      &__link {
        margin-top: 0;
      }
      
    }
    
    &--links &__item {
      margin: 0;
    }
    
    &--links &__item--link {
      @include rem( margin-bottom, $default-spacing / 2 );
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      @include rem( grid-gap, $default-spacing );
    }

    &--icons &__item {
      display: grid;
      grid-template-areas: "icon title" "icon meta";
      grid-template-columns: #{24 + $default-spacing/2}px 1fr;

      & + .listing__item {
        @include rem( margin-top, $default-spacing );
      }
      .listing__item__type {
        grid-area: icon;
      }
      .listing__item__title {
        grid-area: title;
        margin-top: 0;
      }
      .listing__item__meta {
        grid-area: meta;
      }
    }
    
  }
  
}

// photo comes in at medium
@include breakup-breakpoint( "medium" ) {
  
  .listing {
    
    &--gallery {
      
      // Flexbox!
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      
      figcaption {
        margin-top: 0;
      }
    }
    
    &--gallery &__item {
      /* 1/3 width with a 20px gap (fudged) */
      flex: 0 0 calc( 100% / 2 - 0.875rem );
      
      @include rem( margin-bottom, $default-spacing );
      margin-top: 0;
      
      &:nth-child(2n+1) {
        @include rem( margin-right, $default-spacing );
      }
    }
    
  }
}

// photo comes in at medium
@include breakup-breakpoint( "full" ) {
  
  .listing--gallery,
  .listing--grid {
    @include rem( margin, 20 -80 0 );
  }

}

