* {
	display: block;
}

feed {
	margin: 2em;
	background: #fff;
	border: 1px solid #ddd;
	padding: 1em;
	font-family: "Lucida Grande", helvetica, arial, sans-serif;
}

title {
	font-size: x-large;
}

entry {
	margin: 25px 0 20px 0;

	@supports (margin-block: 1em) {
		margin: unset;
		margin-block-start: 25px;
		margin-block-end: 20px;
		margin-inline: 0;
	}
}

entry > title {
	font-size: medium;
	font-weight: bold;
}

entry > link::after {
	content: attr(href);
	color: grey;
	font-size: small;
	margin-top: 6px;
	margin-bottom: 6px;

	@supports (margin-block: 1em) {
		margin: unset;
		margin-block: 6px;
	}
}

// two links? hide the first one
entry > link:has(+ link)::after {
	display: none;
}

generator,
updated,
id,
author,
entry > published,
entry > updated,
entry > id,
entry > author,
entry > content,
entry > summary {
	display: none;
}

entry > amg:twitter {
	display: none;
}
