/*------------------------------------*\
    CSS for IE < 9
\*------------------------------------*/

@charset "UTF-8";

@use "vendors/_vendors";
@use "base/_base";
@use "layout/_layout";
@use "components/_components";
//@import "pages/_pages";
