{% unless page.show_events == false %}
  {% for event in site.data.events-future limit:4 %}

    {% if forloop.first %}
      <section class="module module--events">
        <h1 class="module__title">Let’s Meet Up</h1>
        {{ site.data.microcopy.sidebar.events | markdownify }}
        <ul class="listing listing--events">
    {% endif %}

    <li class="listing__item listing__item--{{ forloop.index }} event event--future">
      <h2 class="listing__item__title event__title">
        {% if event.url %}
          <a href="{{ event.url }}">{{ event.title }}</a>
        {% else %}
          {{ event.title }}
        {% endif %}
      </h2>
      <p class="listing__item__meta">
        <b class="event__date">{{ event.date | date: "%B %Y" }}</b><br>
        <b class="event__location">{{ event.location }}</b>
      </p>
    </li>
  
    {% if forloop.last %}
          <li class="more"><a href="/speaking-engagements/#future-events">See More<b class="hidden"> Events</b></a></li>
        </ul>
      </section>
    {% endif %}
  
  {% endfor %}
{% endunless %}