---
permalink: "/feeds/all.json"
eleventyExcludeFromCollections: true
---
{
  {% set feed_title = "Posts & Links" %}
  {% include "feeds/preamble.json.njk" %}
  "items": [
    {% for post in collections.feedAll | limit(20) %}
      {% set prepend_title %}{% if post.data.ref_url %}Link: {% else %}Post: {% endif %}{% endset %}
      {% include "feeds/post.json.njk" %}
      {% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}