---
title: "Latest Posts & Links"
permalink: "/feeds/all.xml"
eleventyExcludeFromCollections: true
---
{% include "feeds/preamble.xml.njk" %}
{% set prepend_title=true %}
{% for post in collections.feedAll | limit(20) %}
  {% if loop.first %}
    <updated>{{ post.date | dateToRfc3339 }}</updated>
  {% endif %}
  {% include "feeds/post.xml.njk" %}
{% endfor %}
</feed>
