---
permalink: "/feeds/all.json"
eleventyExcludeFromCollections: true
---
{
  {% set feed_title = "Latest Posts & Links" %}
  {% set prepend_title=true %}
  {% include "feeds/preamble.json.njk" %}
  "items": [
    {% for post in collections.feedAll | limit(20) %}
      {% include "feeds/post.json.njk" %}
      {% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}