---
title: "Latest Links"
description: "The latest 20 links."
permalink: "/feeds/latest-links.json"
eleventyExcludeFromCollections: true
---
{
  {% include "feeds/preamble.json.njk" %}
  "items": [
    {% for post in collections.links | limit(20) %}
      {% set prepend_title = "" %}
      {% include "feeds/post.json.njk" %}
      {% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}