---
title: "Posts"
description: "The latest 20 posts."
permalink: "/feeds/latest-posts.xml"
eleventyExcludeFromCollections: true
---
{% include "feeds/preamble.xml.njk" %}
{% for post in collections.posts | limit(20) %}
  {% set prepend_title = "" %}
  {% if loop.first %}
    <updated>{{ post.date | dateToRfc3339 }}</updated>
  {% endif %}
  {% include "feeds/post.xml.njk" %}
{% endfor %}
</feed>