---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "/feeds/{{ tag | lower | slugify }}.xml"
eleventyComputed:
  title: "Content tagged {{ tag }}"
  description: "The latest 20 posts and links tagged {{ tag }}."
---
{% include "feeds/preamble.xml.njk" %}
{% set prepend_title = true %}
{% for post in collections[ tag ] | reverse | limit(20) %}
	{% if loop.first %}
    <updated>{{ post.date | dateToRfc3339 }}</updated>
  {% endif %}
  {% include "feeds/post.xml.njk" %}
{% endfor %}
</feed>
