---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "/feeds/{{ tag | lower | slugify }}.json"
eleventyComputed:
  title: "Content tagged {{ tag }}"
  description: "The latest 20 posts and links tagged {{ tag }}."
---
{
  {% set feed_title %}Content tagged {{ tag }}{% endset %}
	{% set prepend_title = true %}
  {% include "feeds/preamble.json.njk" %}
  "items": [
    {% for post in collections[tag] | reverse | limit(20) %}
      {% include "feeds/post.json.njk" %}
      {% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}