---
layout: page
title: My Speaking Engagements (Past &amp; Present)
description: "I love sharing what I know and I’ve been granted many opportunities to do this over the years. Here’s a collection of the conferences I’ve spoken at and workshops I’ve given."
body_class: speaking-engagements
show_title: false
show_events: false
footer: true
sidebars: false
sharing: false
javascripts:
  body: ['speaking-engagements.min']
---

<h1 class="page__title">A Complete List of My Conferences &amp; Workshops</h1>

<p>{{ site.data.microcopy.speaking_engagements.intro_pre_count }}
{% for event in site.data.events %}
	{% if forloop.index == 1 %}
		{{ forloop.length }}
	{% endif %}
{% endfor %}
{{ site.data.microcopy.speaking_engagements.intro_post_count }}</p>

{{ site.data.microcopy.speaking_engagements.contact | markdownify }}

{% assign future = site.data.events | sort: 'date' | only_future %}
{% assign past = site.data.events | sort: 'date' | reverse | only_past  %}

<section class="subsection">

	<h2 id="future-events" class="subsection__header">In the Future</h2>

	{% unless future %}
		{{ site.data.microcopy.speaking_engagements.no_upcoming | markdownify }}
	{% endunless %}

	{% for event in future %}
		{% if forloop.first %}
			<ol class="listing listing--events">
		{% endif %}

		<li class="listing__item listing__item--{{ forloop.index }} event event--future"
			data-date="{{ event.date | date: '%Y-%m-%d' }}">
			{% if event.url %}
				<a href="{{ event.url }}">
			{% endif %}
			
			<h3 class="listing__item__title event__title">{{ event.title }}</h3>
			<p class="listing__item__meta">
				<b class="event__date">{{ event.date | date: "%B %Y" }}</b>
				<b class="event__location">{{ event.location }}</b>
			</p>
			{% comment %}
			<div class="event__details">
				{% if event.keynotes %}
					<h4>Keynote{% if event.keynotes.length != 1 %}s{% endif %}</h4>
					<ul class="event__talks">
						{% for keynote in event.keynotes %}
							<li class="event__talk">{{ keynote.title }}
								{% if keynote.slides %}<a class="event__talk__slides" href="{{ keynote.slides }}">Slides</a>{% endif %}
								{% if keynote.text %}<a class="event__talk__transcript" href="{{ keynote.text }}">Transcript</a>{% endif %}
								{% if keynote.video %}<a class="event__talk__video" href="{{ keynote.video }}">Video</a>{% endif %}
								{% if keynote.audio %}<a class="event__talk__audio" href="{{ keynote.audio }}">Audio</a>{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if event.talks %}
					<h4>Talk{% if event.talks.length != 1 %}s{% endif %}</h4>
					<ul class="event__talks">
						{% for talk in event.talks %}
							<li class="event__talk">{{ talk.title }}
								{% if talk.slides %}<a class="event__talk__slides" href="{{ talk.slides }}">Slides</a>{% endif %}
								{% if talk.text %}<a class="event__talk__transcript" href="{{ talk.text }}">Transcript</a>{% endif %}
								{% if talk.video %}<a class="event__talk__video" href="{{ talk.video }}">Video</a>{% endif %}
								{% if talk.audio %}<a class="event__talk__audio" href="{{ talk.audio }}">Audio</a>{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if event.workshops %}
					<h4>Workshop{% if event.workshops.length != 1 %}s{% endif %}</h4>
					<ul class="event__talks">
						{% for workshop in event.workshops %}
							<li class="event__talk">{{ workshop.title }}
								{% if workshop.slides %}<a class="event__talk__slides" href="{{ workshop.slides }}">Slides</a>{% endif %}
								{% if workshop.text %}<a class="event__talk__transcript" href="{{ workshop.text }}">Transcript</a>{% endif %}
								{% if workshop.video %}<a class="event__talk__video" href="{{ workshop.video }}">Video</a>{% endif %}
								{% if workshop.audio %}<a class="event__talk__audio" href="{{ workshop.audio }}">Audio</a>{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			{% endcomment %}

			{% for city in site.data.cities %}
				{% if city.name == event.location %}
					<p class="event__location-picture" style="background-image:url({{ city.photo }})" title="Photo by {{ city.credit_name }}, {{ city.credit_url }}"></p>
				{% endif %}
			{% endfor %}
			
			{% if event.url %}
				</a>
			{% endif %}
		</li>

		{% if forloop.last %}
			</ol>
		{% endif %}
	{% endfor %}

</section>

<section class="subsection">

	<h2 id="past-events" class="subsection__header">In the Past</h2>

	<ol class="listing listing--events">
		{% for event in past %}
			<li class="listing__item listing__item--{{ forloop.index }} event event--past"
				data-date="{{ event.date | date: "%Y-%m-%d" }}">
				
				{% if event.url %}
					<a href="{{ event.url }}">
				{% endif %}

				<h3 class="listing__item__title event__title">{{ event.title }}</h3>
				<p class="listing__item__meta">
					<b class="event__date">{{ event.date | date: "%B %Y" }}</b>
					<b class="event__location">{{ event.location }}</b>
				</p>

				{% for city in site.data.cities %}
					{% if city.name == event.location %}
						<p class="event__location-picture" style="background-image:url({{ city.photo }})" title="Photo by {{ city.credit_name }}, {{ city.credit_url }}"></p>
					{% endif %}
				{% endfor %}
			
				{% if event.url %}
					</a>
				{% endif %}
				
				{% comment %}

					{% if event.keynotes or event.talks or event.panels or event.workshops %}
						<details class="listing__extra">
							<summary class="listing__extra__title">Details</summary>
							{% if event.keynotes %}
								<p class="event__content">
									{% for keynote in event.keynotes %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Keynote{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										{% if keynote.slides %}<a class="event__presentation-title" href="{{ keynote.slides }}">{{ keynote.title }}</a>{% else %}
										<b class="event__presentation-title">{{ keynote.title }}</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},{% endif %}
									{% endfor %}
								</p>
							{% endif %}
							{% if event.talks %}
								<p class="event__content">
									{% for talk in event.talks %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Talk{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										{% if talk.slides %}<a class="event__presentation-title" href="{{ talk.slides }}">{{ talk.title }}</a>{% else %}
										<b class="event__presentation-title">{{ talk.title }}</b>{% endif %}{% if talk.with %}
										<b class="event__presentation-with">(with {{ talk.with }})</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},
										{% endif %}
									{% endfor %}
								</p>
							{% endif %}
							{% if event.panels %}
								<p class="event__content">
									{% for panel in event.panels %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Panel{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										{% if panel.slides %}<a class="event__presentation-title" href="{{ panel.slides }}">{{ panel.title }}</a>{% else %}
										<b class="event__presentation-title">{{ panel.title }}</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},{% endif %}
									{% endfor %}
								</p>
							{% endif %}
							{% if event.workshops %}
								<p class="event__content">
									{% for workshop in event.workshops %}
										{% if forloop.index == 1 %}
											<b class="event__presentation-type">Workshop{% if forloop.length > 1 %}s{% endif %}</b>:
										{% endif %}
										{% if forloop.length > 1 and forloop.index == forloop.length %}
											and
										{% endif %}
										<b class="event__presentation-title">{{ workshop.title }}</b>{% if workshop.with %} <b class="event__presentation-with">(with {{ workshop.with }})</b>{% endif %}{% if forloop.length > 2 and forloop.index != forloop.length %},
										{% endif %}
									{% endfor %}
								</p>
							{% endif %}
						</details>
					{% endif %}
				{% endcomment %}
			</li>
		{% endfor %}
	</ol>

</section>