/*------------------------------------*\
    Header
\*------------------------------------*/

@include breakup-breakpoint("default") {

    .banner {
        @include rem( padding, $default-spacing );
    }

    .alert {
        background: $color-black;
        color: $color-white;
    
        @include rem( margin, $margin-default );
        @include rem( padding, 5 );
        text-align: center;
    
        a {
            border-color: inherit;
            color: inherit;
        }
        strong {
            font-weight: normal;
        }
    }
    
}