/*------------------------------------*\
    Placeholders
\*------------------------------------*/

// Placeholders should be declared as follows: 
//
// @include breakup-create-placeholder( placeholder-name ){
//      color: red;    
// }
//
// They can then be used in any scope via
//
// @include breakup-placeholder( placeholder-name );
// 
// Based on a combination of Breakup and the work of
// Hugo Giraudel
// http://www.sitepoint.com/cross-media-query-extend-sass/

// H1
@include breakup-create-placeholder( h1 ) {
    @include rem( font-size, $font-size-h1 );
	font-family: $font-stack-serif;
}

// H2
@include breakup-create-placeholder( h2 ) {
    @include rem( font-size, $font-size-h2 );
	font-family: $font-stack-serif;
}

// H3
@include breakup-create-placeholder( h3 ) {
    @include rem( font-size, $font-size-h3 );
	font-family: $font-stack-serif;
}

// H4
@include breakup-create-placeholder( h4 ) {
    @include rem( font-size, $font-size-h4 );
	font-family: $font-stack-serif;
}

// Default Text
@include breakup-create-placeholder( text ) {
    @include rem( margin, $margin-default );
	font-weight: normal;
	line-height: $line-height-default;
}

// Remove list formatting
@include breakup-create-placeholder( delist ) {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Hidden
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@include breakup-create-placeholder( hidden ) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    {
        clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
    }
    clip: rect(1px, 1px, 1px, 1px);
}

// Un-hidden
// Turns off the hidden effect
@include breakup-create-placeholder( unhidden ) {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}

// Font Smoothing
@include breakup-create-placeholder( font-smoothing ) {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

// Ligatures
@include breakup-create-placeholder( ligatures ) {
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
}

// Overflow hidden
@include breakup-create-placeholder( overflow-hide ) {
	overflow: hidden;
	text-indent: -999em;
	white-space: nowrap;
}

// Small Caps
@include breakup-create-placeholder( small-caps ) {

    @include rem( font-size, $font-size-small );
    font-family: $font-stack-sansserif;
    font-weight: $font-weight-sansserif-bold;
	letter-spacing: 1px;
	letter-spacing: ie8( 2px );
	text-transform: uppercase;
	word-spacing: 1px;

}

// Hardware Acceleration
@include breakup-create-placeholder( hardware-accelerate ) {
	@include transform( translate3d(0,0,0) );
}

// Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
@include breakup-create-placeholder( clearfix ) {
    
    // IE6 and IE7
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    {
        *zoom: 1;
    }
    
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }

}

// Focus indicator
@include breakup-create-placeholder( focus-ring ) {
    
    &:focus {
        outline-color: #5B9DD9;
        outline-offset: 0px;
        outline-style: auto;
        outline-width: 5px;        
    }
    
}