/*------------------------------------*\
    Variables
\*------------------------------------*/

/*	Debug controls
	========================================================================== */
$debug-grid: false; // true;


/*	CDN
	========================================================================== */
$cdn_domain: ""; //"//e.ed-cdn.com";


/*	Breakpoint Management
	========================================================================== */
$bp-tiny: 320;
$bp-tiny-em: 20em;
$bp-small: 460;
$bp-small-em: 28.75em;
$bp-medium: 690;
$bp-medium-em: 43.125em;
$bp-full: 960;
$bp-full-em: 60em;
$breakup-breakpoints: (
    "global":       "screen",
    "tiny":         "only screen and (min-width: #{$bp-tiny-em})",
    "small":        "only screen and (min-width: #{$bp-small-em})",
    "medium":       "only screen and (min-width: #{$bp-medium-em})",
    "full":         "only screen and (min-width: #{$bp-full-em})",
    "print":        "print",
    "old-ie":       "screen"
);


/*	Grid Management
	========================================================================== */
$grid-full-column-sizes: "( 60px 20px )";
$grid-breakpoints: (
    "tiny":     3,
    "small":    6,
    "medium":   8,
    "full":     12
);


/*	Legacy support
	========================================================================== */
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;
$support-for-original-webkit-gradients: true;


/*	Typography
	========================================================================== */
// Font Stacks
$font-stack-sansserif: "prenton", "Helvetica Neue", Helvetica, sans-serif;
$font-stack-serif: "quatro-slab", Georgia, serif;
$font-stack-mono: "inconsolata", "Courier New", Courier, monospace;
$font-stack-headings: $font-stack-serif;
$font-stack-body: $font-stack-sansserif;
$font-stack-nav: $font-stack-serif;

// Font-weights
$font-weight-sansserif: 400;
$font-weight-sansserif-bold: 700;
$font-weight-serif: 500;
$font-weight-mono: 500;

// Font sizes
$font-size-default: 16;
$font-size-h1: 32;
$font-size-h2: 24;
$font-size-h3: 18;
$font-size-body: $font-size-default;
$font-size-nav: 18;
$font-size-code: 14;
$font-size-small: 12;
$font-size-tiny: 10;

// Line heights
$line-height-default: 1.4;

// spacing
$default-spacing: 22;
$margin-default: 0 0 $default-spacing;

// table spacing
$table-spacing: 15;

/*	Colors
	========================================================================== */
// Color Names
$color-black: #2c2825;
$color-white: #fff;
$color-grey: #666;
$color-grey-light: #DDD;
$color-off-white: #F9F9F9;
$color-green: #34AD23;
$color-green-dark: darken( $color-green, 10% );

// Functional Colors
$color-background: $color-white;
$color-text: $color-black;
$color-text-light: $color-grey;
$color-link: $color-green;
$color-link-hover: $color-green-dark;
$color-border: $color-grey-light;
$color-rule: $color-grey-light;

/*	Images
	========================================================================== */
$css_images: "/c/i";

/*	Defaults
	========================================================================== */
$default-box-shadow: 1px 1px 0 $color-rule;
$default-transition: .25s ease;