---
layout: page
title: Interviews &amp; Appearances by
description: Strangely, some folks seem to want to pick my addled brain about the web and such. Here’s a collection of those.
show_title: false
comments: false
sharing: false
footer: true
---

<h1 class="page__title">Interviews &amp; Appearances</h1>

{{ site.data.microcopy.appearances.intro | markdownify }}

<ul class="listing">
	{% for appearance in site.data.appearances %}
		{% capture display_title %}{% if appearance.title %}{{ appearance.title }}{% else %}{{ appearance.outlet }}{% endif %}{% endcapture %}
		<li class="listing__item listing__item--{{ forloop.index }} appearance">
			<h3 class="listing__item__title appearance__title">
				{% if appearance.url %}
					<a href="{{ appearance.url }}">{{ display_title }}</a>
				{% else %}
					{{ display_title }}
				{% endif %}
			</h3>
			<p class="listing__item__meta appearance__meta">
				<b class="appearance__date">{{ appearance.date | date: "%B %Y" }}</b>
				{% if display_title != appearance.outlet %}
					<b class="appearance__venue">{{ appearance.outlet }}</b>
				{% endif %}
			</p>
			<div class="listing__item__description appearance__description">
				{{ appearance.description | markdownify }}
			</div>
		</li>
	{% endfor %}
</ul>

<p>{{ site.data.microcopy.appearances.citations_intro }}
	{% for book in site.data.book-citations %}
		{% if forloop.index == forloop.length %}
			and
		{% endif %}
		<a href="{{ book.url }}"><cite>{{ book.title }}</cite></a> by
		{{ book.author }}{% if forloop.index == forloop.length %}.{% else %},{% endif %}
	{% endfor %}
</p>