/*------------------------------------*\
    $BASE
  Global element styles
\*------------------------------------*/

// Body element (global fonts & such)
@use "body";

// Flow-level semantics
@use "headings";
@use "blocks";
@use "lists";

// Text-level semantics
@use "links";
@use "text";

// Specifics
@use "code";
@use "media";
@use "tables";
@use "forms";
@use "dialog";

// Animations
@use "animations";

// Scrollbars
@use "scrollbars";
