@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
Block-level Semantics
\*------------------------------------*/
@include breakup.breakup-breakpoint( "global" ) {
	
	* {
		margin-top: 0;
		margin-bottom: 0;
		
		@supports (margin-block: 1em) {
			margin: unset;
			margin-block: 0;
		}
	}
	
	* + * {
		@include mixins.rem( margin-top, variables.$default-spacing );

		@supports (margin-block: 1em) {
			margin-top: unset;
			@include mixins.rem( margin-block-start, variables.$default-spacing, false );
		}
	}
	
	noscript {
		display: none;
	}

	p:empty {
		display: none;
	}
	
	blockquote {
		
		@include mixins.rem( font-size, variables.$font-size-body );
		font-family: variables.$font-stack-serif;
		font-style: italic; 
		
		hanging-punctuation: first;
		hyphens: none;

		margin-left: auto;
		margin-right: auto;
		@include mixins.rem( padding, 0 variables.$default-spacing );
		@include mixins.rem( max-width, 700 );

		@supports (margin-block: 1em) {
			@include mixins.unset( margin-left margin-right padding max-width );
			margin-inline: auto;
			padding-block: 0;
			@include mixins.rem( padding-inline, variables.$default-spacing, false );
			@include mixins.rem( max-inline-size, 700, false );
		}
		
	}
	
	.blockquote__attribution {
		
		font-family: variables.$font-stack-sansserif;
		
		margin: 0;
		@include mixins.rem( padding-left, 2 * variables.$default-spacing );

		@supports (margin-block: 1em) {
			@include mixins.unset( margin padding-left );
			margin-block: 0;
			margin-inline: 0;
			@include mixins.rem( padding-inline-start, 2 * variables.$default-spacing, false );
		}
		
		cite {
			font-style: normal;
		}
		
	}
	
	p {
		font-weight: normal;
		/*hyphens: auto;*/
		line-height: variables.$line-height-default;
		
		.wf-active & {
			word-spacing: 2px;
		}
	}
	
	[aria-hidden="true"] {
		display: none;
	}
	
	hr {
		border: 0;
		border-top: 1px solid variables.$color-rule;
		
		height: 0;
		@include mixins.rem( margin, variables.$default-spacing auto );

		@supports (margin-block: 1em) {
			@include mixins.unset( border-top height margin );
			border-block-start: 1px solid variables.$color-rule;
			block-size: 0;
			margin-inline: auto;
			@include mixins.rem( margin-block, variables.$default-spacing, false );
		}
	}
	
	section + section {
		@include mixins.rem( margin-top, variables.$default-spacing * 2 );

		@supports (margin-block: 1em) {
			margin-top: unset;
			@include mixins.rem( margin-block-start, variables.$default-spacing * 2, false );
		}
	}
	
}

dialog::backdrop {
	background: rgba( variables.$color-black, .4 );
}
/* polyfill */
dialog + .backdrop {
	background: rgba( variables.$color-black, .4 );
}

@include breakup.breakup-breakpoint( "medium" ) {
	blockquote,
	dl {
		@include mixins.rem( padding, 0 variables.$default-spacing );

		@supports (margin-block: 1em) {
			padding: unset;
			padding-block: 0;
			@include mixins.rem( padding-inline, variables.$default-spacing, false );
		}
	}
}

@include breakup.breakup-breakpoint( "full" ) {
	blockquote,
	dl {
		@include mixins.rem( padding, 0 ( 3 * variables.$default-spacing ) );

		@supports (margin-block: 1em) {
			padding: unset;
			padding-block: 0;
			@include mixins.rem( padding-inline, ( 3 * variables.$default-spacing ), false );
		}
	}
}

@include breakup.breakup-breakpoint( "print" ) {
	p, ol, ol, dl {
		hyphens: auto;
		orphans: 3;
		widows: 3;
	}
}

// remove junk added by extensions
body > script:last-of-type ~ * {
	margin: 0;

	@supports (margin-block: 1em) {
		margin: unset;
		margin-block: 0;
		margin-inline: 0;
	}
}
