@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
Body-level settings
\*------------------------------------*/
@include breakup.breakup-breakpoint( "global" ) {
  
  // CSS Device Adaptation
  // http://dev.w3.org/csswg/css-device-adapt/
  // ==========================================================================
  @-moz-viewport{
    width: device-width;
    zoom: 1.0;
  }
  @-ms-viewport{
    width: device-width;
    zoom: 1.0;
  }
  @-o-viewport{
    width: device-width;
    zoom: 1.0;
  }
  @-webkit-viewport{
    width: device-width;
    zoom: 1.0;
  }
  @viewport{
    width: device-width;
    zoom: 1.0;
  }
  
  
  // Basline element definitions
  // ==========================================================================
  html {
    //@include baseline-guide;
    height: 100%;
	}
	
	body {
		@include breakup.breakup-placeholder( text );
		@include breakup.breakup-placeholder( font-smoothing );
		
		background: variables.$color-background;
		color: variables.$color-text;
		
		font-family: variables.$font-stack-body;
		font-weight: variables.$font-weight-sansserif;
		
		margin: 0 auto;
		height: 100%;
	
		word-wrap: break-word;
		overflow-wrap: break-word;

		@supports (margin-block: 1em) {
			@include mixins.unset( margin height );
			margin-inline: auto;
			block-size: 100%;
		}

		html.dark-mode & {
			background: variables.$color-background-dark;
			color: variables.$color-text-dark;
		}
	}

}
