@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
		Code styles
\*------------------------------------*/

@include breakup.breakup-breakpoint( "global" ) {

		code,
		kbd {
				background-color: variables.$color-black;
				background-color: rgba( variables.$color-black, .9 );
				border: 1px solid variables.$color-off-white;
				border-radius: 3px;
				color: variables.$color-off-white;
				font-family: variables.$font-stack-mono;
				font-style: normal;
				padding: .05em .25em;
				text-shadow: none;
				white-space: nowrap;

				@supports (margin-block: 1em) {
					@include mixins.unset( border padding );
					border-inline: 1px solid variables.$color-off-white;
					border-block: 1px solid variables.$color-off-white;
					padding-inline: .25em;
					padding-block: .05em;
				}
		}
		
		pre {
				background-color: variables.$color-black;
				border: 1px solid variables.$color-grey-light;
				border-radius: 3px;
				color: variables.$color-black;
				font-family: variables.$font-stack-mono;
				font-style: normal;
				
				margin-left: auto;
				margin-right: auto;
				padding: .05em .25em;
				
				overflow-x: auto;

				@supports (margin-block: 1em) {
					@include mixins.unset( border margin-left margin-right padding overflow-x );
					border-inline: 1px solid variables.$color-grey-light;
					border-block: 1px solid variables.$color-grey-light;
					margin-inline: auto;
					padding-inline: .25em;
					padding-block: .05em;
					overflow-inline: auto;
				}

				&:focus {
					outline: 3px double variables.$color-black;
					overflow-x: scroll;

					@supports (margin-block: 1em) {
						@include mixins.unset( overflow-x );
						overflow-inline: scroll;
					}

					html.dark-mode & {
						outline-color: variables.$color-off-white;
					}
				}

				code {
					background: transparent;
					border: 0;
					padding: 0;
					white-space: pre;
				}
		}
		
}

@include breakup.breakup-media("screen and (max-width: #{variables.$bp-full-em})") {
	pre[class*="language-"] {
		@include mixins.rem( margin-left, -19 );
		@include mixins.rem( margin-right, -19 );

		@supports (margin-block: 1em) {
			@include mixins.unset( margin-left margin-right );
			margin-inline: -19px;
		}
	}
}
