/*------------------------------------*\
    Code styles
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    code,
    kbd {
        background-color: $color-black;
        background-color: rgba( $color-black, .9 );
        border: 1px solid $color-off-white;
        border-radius: 3px;
        color: $color-off-white;
        font-family: $font-stack-mono;
        font-style: normal;
        padding: .05em .25em;
        text-shadow: none;
        white-space: nowrap;
    }
    
    pre {
        background-color: $color-off-white;
        border: 1px solid $color-grey-light;
        border-radius: 3px;
        color: $color-black;
        font-family: $font-stack-mono;
        font-style: normal;
        
        margin-left: auto;
        margin-right: auto;
        padding: .05em .25em;
        
        overflow-x: auto;
        
        code {
            background: transparent;
            border: 0;
            padding: 0;
            white-space: pre;
        }
    }
    
}