@use "../helpers/mixins";
@use "../helpers/variables";
@use "../vendors/breakup/breakup";

/*------------------------------------*\
Lists
\*------------------------------------*/

@use 'sass:math';

@include breakup.breakup-breakpoint( "global" ) {
	
	ol,
	ul {
		line-height: variables.$line-height-default;
		@include mixins.rem( margin-left, variables.$default-spacing);
		padding-left: 0;

		@supports (margin-block: 1em) {
			@include mixins.unset( margin-left padding-left );
			@include mixins.rem( margin-inline-start, variables.$default-spacing, false );
			padding-inline-start: 0;
		}
		
		nav & {
			@include breakup.breakup-placeholder( delist );
			margin: 0;
			
			li {
				margin: 0;
			}
		}
	}
	
	li + li {
		@include mixins.rem( margin-top, math.div( variables.$default-spacing, 4 ) );

		@supports (margin-block: 1em) {
			margin-top: unset;
			@include mixins.rem( margin-block-start, math.div( variables.$default-spacing, 4 ), false );
		}
	}
	
	dl {
		
		margin-left: auto;
		margin-right: auto;
		@include mixins.rem( padding, 0 variables.$default-spacing );
		@include mixins.rem( max-width, 700 );

		@supports (margin-block: 1em) {
			@include mixins.unset( margin-left margin-right padding max-width );
			margin-inline: auto;
			padding-block: 0;
			@include mixins.rem( padding-inline, variables.$default-spacing, false );
			@include mixins.rem( max-width, 700, false );
		}
		
		dt {
			font-weight: bold;
		}
		
		dd {
			margin-left: 0;
			margin-top: 0;
			padding-left: 0;
			
			break-inside: avoid;

			@supports (margin-block: 1em) {
				@include mixins.unset( margin-left margin-top padding-left );
				margin-block-start: 0;
				margin-inline-start: 0;
				padding-inline-start: 0;
			}
		}
		
	}
	
}

@include breakup.breakup-breakpoint( "full" ) {
	
	// Hanging!
	ol,
	ul {
		margin-left: 0;

		@supports (margin-block: 1em) {
			@include mixins.unset( margin-left );
			margin-inline-start: 0;
		}
		
		ol,
		ul {
			@include mixins.rem( margin-left, variables.$default-spacing);
			@include mixins.rem( margin-top, math.div( variables.$default-spacing, 2) );

			@supports (margin-block: 1em) {
				@include mixins.unset( margin-left margin-top );
				@include mixins.rem( margin-inline-start, variables.$default-spacing, false );
				@include mixins.rem( margin-block-start, math.div( variables.$default-spacing, 2), false );
			}
		}
		
	}
}