@use "../helpers/_helpers" as *;

/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: $color-grey-light transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;

	@supports (margin-block: 1em) {
		@include unset( width );
		inline-size: 6px;
	}
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: $color-grey-light;
	border-radius: 6px;
	border: 0px solid transparent;
}

html.dark-mode * {
	scrollbar-color: $color-black transparent;
}
