@use "../helpers/_helpers" as *;

/*------------------------------------*\
		Tables
\*------------------------------------*/
@use "sass:color";

table {
	border-collapse: collapse;

	@include rem(margin, $margin-default);
	width: 100%;
	min-width: 100px;

	@supports (margin-block: 1em) {
		@include unset(margin width min-width);
		@include rem(margin-block-end, $default-spacing, false);
		margin-inline: 0;
		block-size: 100%;
		min-inline-size: 100px;
	}

	thead {
		border-bottom: 3px solid $color-rule;

		@extend %small-caps;
		@include rem(font-size, $font-size-small);
		text-transform: uppercase;

		@supports (margin-block: 1em) {
			@include unset(border-bottom-width);
			border-block-end-width: 3px;
		}

		th {
			font-weight: bold;

			// Fix for bad WYSIWYG
			p {
				font-weight: bold;
				display: inline;
				margin: 0;
			}
		}
	}

	tbody {
		@include rem(font-size, $font-size-small);
	}

	tr {
		border-top: 1px solid $color-rule;

		@supports (margin-block: 1em) {
			@include unset(border-top-width);
			border-block-start-width: 1px;
		}
	}

	td,
	th {
		font-weight: normal;
		text-align: left;
		@include rem(padding, $table-spacing);
		padding-left: 0;

		@supports (margin-block: 1em) {
			padding-left: unset;
			padding-inline-start: 0;
		}

		&:last-child {
			padding-right: 0;

			@supports (margin-block: 1em) {
				padding-right: unset;
				padding-inline-end: 0;
			}
		}

		:last-child {
			margin-bottom: 0;

			@supports (margin-block: 1em) {
				margin-bottom: unset;
				margin-block-end: 0;
			}
		}

		// chances are, these were intended as headers
		&[colspan] {
			font-weight: bold;
		}
	}
}

// De-table on smaller screens
// (using staff directory as a gauge)
@media screen and (max-width: 770px) {
	.layout-container__primary table {
		border: 0;
		padding-bottom: 0;
		display: block;
		width: 100%;

		@supports (margin-block: 1em) {
			@include unset(padding-bottom width);
			inline-size: 100%;
			padding-block-end: 0;
		}

		caption {
			display: block;
		}

		thead {
			display: none;
		}

		tbody,
		tr,
		th,
		td {
			border: 0;
			display: block;
			padding: 0;
			text-align: left;
		}

		tr {
			@include rem(margin, $margin-default);

			@supports (margin-block: 1em) {
				margin: unset;
				@include rem(margin-block-end, $default-spacing, false);
				margin-inline: 0;
			}
		}

		th[data-title]:before,
		td[data-title]:before {
			content: attr(data-title) ":\00A0";
			font-weight: bold;
		}

		th:not([data-title]) {
			font-weight: bold;
		}

		td:empty {
			display: none;
		}
	}
}

@media screen and (min-width: #{$bp-medium-em}) {
	table.striped {
		background: $color-background;

		thead {
			background: $color-grey-light;
			border-bottom: 0;

			@supports (margin-block: 1em) {
				border-bottom-width: unset;
				border-block-end-width: 0;
			}
		}

		tbody tr {
			background: $color-white;
			transition: background-color $default-transition;

			&:nth-child(even) {
				background: color.mix($color-white, $color-black, 10%);
			}

			&:hover {
				background: $color-white;
			}
		}

		th,
		td {
			border: 1px solid $color-rule;
			@include rem(padding, $table-spacing);

			@supports (margin-block: 1em) {
				padding: unset;
				padding-block: $table-spacing;
				padding-inline: $table-spacing;
			}
		}
	}
}
