/*------------------------------------*\
    Tables
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    table {
    
        border-collapse: collapse;
    
        @include rem( margin, $margin-default );
        width: 100%;
      min-width: 100px;
    
        thead {

            border-bottom: 3px solid $color-rule;

            @include breakup-placeholder( small-caps );
            @include rem( font-size, $font-size-small );
            text-transform: uppercase;

            th {
                font-weight: bold;

          // Fix for bad WYSIWYG
          p {
            font-weight: bold;
            display: inline;
            margin: 0;
          }
            }
        }
    
        tbody {
            @include rem( font-size, $font-size-h3 );
        }
    
        tr {
            border-top: 1px solid $color-rule;
        }
    
        td,
        th {
            font-weight: normal;
            text-align: left;
            @include rem( padding, $table-spacing );
            padding-left: 0;
        
            &:last-child {
                padding-right: 0;
            }
        
            :last-child {
                margin-bottom: 0;
            }

        // chances are, these were intended as headers
        &[colspan] {
          font-weight: bold;
        }
        }
    }
}

// De-table on smaller screens
// (using staff directory as a gauge)
@include breakup-media( "only screen and (max-width: 770px)" ) {
        
    .layout-container__primary table {
    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;

    caption {
      display: block;
    }

    thead {
      display: none;
    }

    tbody,
    tr,
    th,
    td {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
    }

    tr {
      @include rem( margin, $margin-default );
    }

    th[data-title]:before,
    td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold;
    }

    th:not([data-title]) {
      font-weight: bold;
    }

    td:empty {
        display: none;
    }
    }
  
}
    
@include breakup-breakpoint( "medium" ) {
    
    table.striped {
        background: $color-background;
        
        thead {
            background: $color-grey-light;
            border-bottom: 0;
        }
        
        tbody tr {
            
            background: $color-white;
            transition: background-color $default-transition;
            
            &:nth-child(even) {
                background: mix( $color-white, $color-black, 10% );
            }
            
            &:hover {
                background: $color-white;
            }
            
        }

        th,
        td {
            border: 1px solid $color-rule;
            @include rem( padding, $table-spacing );
        }

    }
    
}

