// ==========================================================================
// Print Styles
// These styles are applied to smartphones through narrow tablets
// ==========================================================================

// globals prefs
@import "vendors/_vendors";
@import "helpers/_helpers";
@import "base/_base";
@import "components/vcard";
@import "components/listing";


// Page Setup
// ==========================================================================
@page {
	margin: .75in;
	padding: 0;
}
* {
    background: transparent;
}
body {
    background: $color-background;
    color: $color-text;
	font-size: 12pt;
	margin: 0;
	position: relative;
}
section,
[role="contentinfo"] {
	border-top: 1px solid;
	margin: 2em 0 0;
	padding: 2em 0 0;
}


// Elements
// ==========================================================================
a {
	text-decoration: none;
	&[href]:after {
		content: "(" attr(href) ")";
		font-size: 10pt;
		margin-left: 9pt;
	}
	&[href^="/"]:after {
		content: " (http://nichols.edu" attr(href) ")";
	}
	&[href^="#"]:after,
	&[href^="mailto:"]:after,
	&[href^="tel:"]:after {
		display: none;
	}
}
h1, h2, h3, h4, h5, h6 {
	page-break-inside: avoid;
	page-break-after: avoid;
	
	a[href]:after {
		display: block;
		margin-left: 0;
		margin-bottom: 10pt;
	}
	a[href^="#"]:after,
	a[href^="mailto:"]:after,
	a[href^="tel:"]:after {
		display: none;
	}
}
#logo a:after {
	display: none;
}
p, ol, ol, dl {
	orphans: 3;
	widows: 3;
}

// Link on new lines
// ==========================================================================


// Specific styles
// ==========================================================================
#header #logo {
    font-size: 1.5em;
    a {
        border: 0;
    }
}

// Discarded
// ==========================================================================
nav,
button,
picture,
img,
.button,
.breadcrumbs,
.page__image-header,
aside.layout-container__secondary,
.carousel--photo,
.nav-jump,
.module__type,
.filter-form,
.pagination,
.footer .layout-container,
.footer__elevator-pitch,
.footer__copyright span {
  display: none;
}
#copyright {
	display: block;
}
input[type=submit] {
  display: none;
}