{
    "at-rule-empty-line-before": "always",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-no-empty": true,
    "block-no-single-line": true,
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-space-before": "always",
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-no-invalid-hex": true,
    "color-named": "never",
    "comment-empty-line-before": "always",
    "comment-whitespace-inside": "always",
    "custom-property-no-outside-root": true,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": "never",
    "declaration-colon-space-before": "never",
    "function-calc-no-unspaced-operator": true,
    "function-comma-space-after": "always",
    "function-comma-space-before": "never",
    "function-parentheses-space-inside": "never",
    "function-url-quotes": "none",
    "indentation": "tab",
    "max-empty-lines": 3,
    "media-feature-colon-space-after": "never",
    "media-feature-colon-space-before": "never",
    "media-feature-no-missing-punctuation": true,
    "media-query-list-comma-newline-after": "never-multi-line",
    "media-query-list-comma-newline-before": "never-multi-line",
    "media-query-parentheses-space-inside": "never",
    "number-leading-zero": "always",
    "number-zero-length-no-unit": true,
    "rule-nested-empty-line-before": "never",
    "rule-non-nested-empty-line-before": "never",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-newline-before": "never-multi-line",
    "selector-list-comma-space-before": "never",
    "selector-pseudo-element-colon-notation": "double",
    "selector-type-case": "lower",
    "string-quotes": "double",
    "value-list-comma-space-after": "always",
    "value-list-comma-space-before": "never"
}