{% capture category %}{{ post.categories | size }}{% endcapture %}

<h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
<p class="post__meta"><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "%d %B %Y" }}</time></p>

{{ post.content | excerpt }}

{% unless category == '0' %}
	<footer>
 		<span class="categories">Posted in {{ post.categories | category_links }}</span>
	</footer>
{% endunless %}