{% unless post.no_header %}
	
	<header class="post__header">
		<h1 class="post__title entry-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
    	
		{% unless post.meta == false %}
	
			<p class="post__meta">
        		{% include post/date.html %}
        		
				{% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
					| <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread" data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
        		{% endif %}
      		</p>
    
		{% endunless %}

  	</header>

{% endunless %}

<div class="entry__content entry__content--excerpt">
	{{ post.content | excerpt }}
</div>
 	
{% capture excerpted %}{{ post.content | has_excerpt }}{% endcapture %}
{% if excerpted == 'true' %}
	<footer>
		<a rel="full-article" href="{{ root_url }}{{ post.url }}">You can finish reading
			<cite>{{ post.title }}</cite> in less than {{ post.content | reading_time_as_i }} &rarr;</a>
	</footer>
{% endif %}