<script async>(function(){
	var link = document.createElement('link');
	link.rel = 'stylesheet';
	link.media = 'screen';
	link.href = '/c/fonts.css';
	document.getElementsByTagName('head')[0].appendChild(link);
}())</script>
<noscript>
	<link rel="stylesheet" href="/c/fonts.css" media="screen">
</noscript>
 
<link rel="stylesheet" href="/c/default.css" media="screen">
<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="/c/advanced.css" media="screen">
<!--<![endif]-->
<!--[if (IE 8)&(!IEMobile)]>
	<link rel="stylesheet" href="/c/old-ie.css" media="screen">
<![endif]-->
<link rel="stylesheet" href="/c/print.css" media="print">