<head profile="http://www.w3.org/1999/xhtml/vocab">
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	
	<title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
	<link href="{{ root_url }}/favicon.png" rel="icon">
	
	{% include grunticon.html %}
	
	{% include typekit.html %}
	
	{% include mobile.html %}
	
	{% include sharing.html %}
	
	<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">

	{% include google_analytics.html %}

</head>
