<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.aaron-gustafson.rake-go</string>
    <key>ProgramArguments</key>
    <array>
      <string>cd /Users/aarongu/Dropbox/Sites/aaron-gustafson.com/</string>
      <string>rake go</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>03</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/log/rake-go.aaron-gustafson.com.log</string>
    <key>StandardErrorPath</key>
    <string>/log/rake-go.aaron-gustafson.com.error.log</string>
  </dict>
</plist>