{% capture has_date %}{{ include.date | size }}{% endcapture %}
{% capture was_updated %}{{ include.last_updated_at | size }}{% endcapture %}

{% if include.date %}
  {% capture time %}
    <time class="dt-published" datetime="{{ include.date | datetime | date_to_xmlschema }}">{{ include.date | date_to_long_string }}</time>
  {% endcapture %}
{% endif %}

{% if was_updated != '0' %}
  {% capture updated_time %}
    (updated <b class="hidden">on</b>
    <time class="dt-updated" datetime="{{ include.last_updated_at | datetime | date_to_xmlschema }}">{{ include.last_updated_at | date_to_long_string }}</time>)
  {% endcapture %}
{% endif %}

{{ time }}{% if was_updated != '0' %}<br>{{ updated_time }}{% endif %}