---
layout: default
single: true
---

{% assign page.keywords = ( page.tags | join:", " ) %}
{% assign this_url = "{{ site.url }}{{ page.url }}" %}

<div class="layout-container layout-container--blog">
  <article role="article" class="layout-container__primary h-entry">
    <div class="entry">
      <header class="entry__header">
        <h1 class="entry__title p-name">{{ page.title | titlecase | widont | markdownify | remove:'<p>' | remove:'</p>' }}</h1>

        {% unless page.meta == false %}
          <dl class="entry__meta">
            <dt>Published</dt>
            <dd>
              {% include_cached post/date.html
                                date=page.date
                              last_updated_at=page.last_updated_at
              %}
              <b class="hidden">by <a class="p-author h-card" href="/about">Aaron Gustafson</a></b>
              {% if page.in_reply_to %} <b class="hidden">in reply to <a class="u-in-reply-to" href="{{ page.in_reply_to }}">{{ page.in_reply_to }}</a></b>{% endif %}
            </dd>
            
            <dt>Reading Time</dt>
            <dd>{{ content | reading_time_as_i }}</dd>

            <dt class="dont-read">Tagged</dt>
            <dd class="dont-read">
              {% include_cached post/tags.html
                                tags=page.tags
                                dir=site.tag_page_dir
              %}
            </dd>

            <dt class="dont-read">Reactions</dt>
            <dd class="dont-read">
              <ul class="entry__jump-links">
                {% comment %}<li class="entry__jump entry__jump--comments"><a href="{% if index %}{{ root_url }}{{ page.url }}{% endif %}#disqus_thread" data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ this_url }}{% endif %}">Comments</a></li>{% endcomment %}
                <li class="entry__jump entry__jump--webmentions"><a href="{% if index %}{{ root_url }}{{ page.url }}{% endif %}#webmentions">{% webmention_count page.url %} Webmentions</a></li>
              </ul>
            </dd>

            {% if page.crossposted %}
              <dt class="dont-read">Crossposted</dt>
              {% for crosspost in page.crossposted %}
                <dd class="dont-read"><a class="u-syndication" href="{{ crosspost[1] }}">{{ crosspost[0] }}</a></dd>
              {% endfor %}
            {% endif %}

            {% if page.translations %}
              <dt class="dont-read">Translated</dt>
              {% for translation in page.translations %}
                {% assign lang = translation[0] %}
                <dd class="dont-read"><a class="u-syndication" hreflang="{{ lang }}" href="{{ translation[1] }}">{{ site.data.langs[lang] }}</a></dd>
              {% endfor %}
            {% endif %}

          </dl>
        {% endunless %}
      </header>

      {% if page.reply_to_url %}
        <p class="entry__in-reply-to">You are reading a reply to 
          <a class="u-in-reply-to" href="{{ page.reply_to_url }}">{{ page.reply_to_title }}</a>.
        </p>
      {% endif %}

      {% if page.series %}
        <p class="entry__series">This is the {{ page.series.ordinal }} entry in the series 
          <a href="/notebook/tags/{{ page.series.tag }}">{{ page.series.name }}</a>.
        </p>
      {% endif %}

      <div class="entry__content e-content">
        {{ content }}
      </div>

      <footer class="entry__footer">
        {% if page.thanks %}
          <p>Many thanks to
          {% for person in page.thanks %}
            {% capture link %}<a href="{{ person.url }}">{{ person.name }}</a>{% endcapture %}
            {% if page.thanks.size == 1 %}
              {{ link }}
            {% elsif forloop.last %}
              and {{ link }}
            {% else %}
              {{ link }},
            {% endif %}
          {% endfor %}
          for helping me with this piece.
        {% endif %}

        {% unless page.sharing == false %}
          {% include post/sharing.html
                     site_url=site.url
                     page_url=page.url
                     source=page.ref_source
                     title=page.title
          %}
        {% endunless %}
        
        {% comment %}
        {% include_cached asides/related_posts.html %}
        {% endcomment %}
      </footer>

      {% include_cached post/promo.html %}

      {% comment %}
      {% if site.disqus_short_name and page.comments == true %}
        <hr>

        <section id="disqus" class="entry__comments dont-read">
          <h1>Comments</h1>
          <div id="disqus_thread" aria-live="polite">
          </div>
        </section>
      {% endif %}
      {% endcomment %}

      <hr>

      <section id="webmentions" class="entry__comments dont-read">
        <h1>Webmentions</h1>
        {% webmentions page.url posts replies links %}

        <h2>Likes</h2>
        {% webmention_likes page.url %}

        <h2>Shares</h2>
        {% webmention_reposts page.url %}
      </section>

    </div>
  </article>
  
  {% comment %}
  {% unless page.sidebar == false %}
    <hr class="rule rule--optional">

    <aside class="layout-container__secondary">
      {% if site.post_asides.size %}
          {% include_array post_asides %}
      {% else %}
           {% include_array default_asides %}
      {% endif %}
    </aside>
  {% endunless %}
  {% endcomment %}

</div>

<script type="application/ld+json">
  {% include_cached jsonld/post.html 
                    headline=page.title
                    genre=page.category
                    keywords=page.keywords
                    content=page.content
                    link=this_url
                    date=page.date
                    updated=page.last_updated_at
                    image=page.image
  %}
</script>