---
permalink: "/tags/{{ tag | lower | slugify }}/"
pagination:
  data: collections.tags
  size: 1
  alias: tag
eleventyComputed:
  title: "Browse by Tag: {{ tag }}"
showPageNumbers: false
body_class: "tag-page"
---
{% extends "layouts/base.html" %}

{% block content %}
	{% set the_title %}<b>Browse by Tag:</b> <b>{{ tag }}</b>{% endset %}
	{% set tag_slug %}{{ tag | lower | slugify }}{% endset %}
	{% set posts = collections[ tag ] %}
	
	<article role="article" class="page layout-container layout-container--blog">
		<h1 class="page__title subsection__header">{{ the_title | title | safe }}</h1>
		<div class="layout-container__primary">
			<p class="promo">You can subscribe to a feed of all content filed under “{{ tag }}” as <a type="text/xml" href="/feeds/{{ tag_slug }}.xml">XML (RSS)</a> or <a type="application/json" href="/feeds/{{ tag_slug }}.json">JSON</a>.</p>

			<div id="blog-archives">
				{% set teaser_heading_level = "h2" %}
				{% for post in posts | reverse %}
					{% include "partials/post/teaser.html" %}
				{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}
