/*------------------------------------*\
    Homepage
\*------------------------------------*/

// Mixin for events sections
// only for use on in this file
@mixin home-events-grid( $total-columns, $col-defs: null )
{
    $column-split: $total-columns / 3;
    
    // Grid [----]--------
    .calendar-event--1,
    .calendar-event--2 {
        // set the grid
        @include span( $column-split of $total-columns "#{$col-defs}" fluid );
    }
    // Grid --------[----]
    .calendar-event--3 {
        // set the grid
        @include span( last $column-split of $total-columns "#{$col-defs}" fluid );
    }
    // give a little breathing room in the grid
    .calendar-event--1 {
        @include rem( padding-right, 6 );
    }
    .calendar-event--2 {
        @include rem( padding, 0 3 );
    }
    .calendar-event--3 {
        @include rem( padding-left, 6 );
    }
}


// -------------------------------------------------------------------

.home {

    // Homepage = larger text
    .section--welcome .layout-container__primary {
        @include rem( font-size, 22 );
    }


    // Main Carousel
    .carousel--photo {
        
        margin: 0;
        overflow: hidden;
        
        @each $type, $color in $hp-carousel-colors
        {
            .carousel__item--#{$type} .carousel__item__type,
            .carousel-overlay--#{$type} .carousel__item__type {
                color: $color;
            }
            .carousel__item--#{$type} .button {
                background-color: $color;
                color: $color-white;
                
                &:hover,
                &:focus,
                &:active {
                    background-color: darken( $color, 5% );
                }
            }
            .carousel-overlay--#{$type} .carousel-overlay__button {
                background-color: $color-white;
                color: $color;
                
                &:hover,
                &:focus,
                &:active {
                    color: darken( $color, 15% );
                }
            }
        }
        
        .carousel__item__block {
            background: $color-white;
            @include box-shadow( $default-box-shadow );

            @include rem( margin, -70 $default-spacing $default-spacing );
            @include rem( padding, 38 $default-spacing $default-spacing );

            // contain the "type"
            position: relative;
            
            // reset the white space
            white-space: normal;
        }
        
        .carousel__item__photo {
            min-height: 185px;
        }
        
        .carousel__item__title {
            
            @include rem( font-size, $font-size-h3 );
            font-family: $font-stack-sansserif;
            font-weight: normal;
            
            @include rem( margin-bottom, 13 );

        }
        .module__type {
            border-top: 3px solid;
            @include rem( padding-top, 8 );
            
            position: absolute;
            top: 0;
        }

    }
    
    
    // Numbers
    .section--numbers {
        background: $color-white;
    }

    // Events
    .section--events {

        .calendar-event {

            // center and lock the size on small screens
            @include box-sizing( border-box );
            max-width: 20em;
            @include rem( margin, 0 auto 40 );
            padding-left: 0;

            &__date,
            &__title,
            &__download {
                display: block;
                text-align: center;
            }

            &__date {

                color: $color-text-light;

                @include breakup-placeholder( small-caps );
                @include rem( font-size, $font-size-tiny );
                font-weight: bold;

                // override the normal event date settings
                margin-left: 0;
                width: auto;

            }

            &__title {
                @include rem( font-size, $font-size-h3 );
            }

            &__teaser {
                @include rem( font-size, $font-size-h4 );
            }

        }

        .more {

            clear: both;

            text-align: center;

        }
    }

    @include breakup-breakpoint( "small" ) {

        .carousel--photo .carousel__item__block {
            margin-left: auto;
            margin-right: auto;
            width: span( 4 of map-get( $grid-breakpoints, "small" ) fluid );
        }
        
    }


    @include breakup-breakpoint( "medium" ) {

        .section--feature {
            padding-bottom: 0;
        }
        
        $grid-columns: map-get( $grid-breakpoints, "medium" );
        $carousel-block-width: ( parseInt( span( 4 of $grid-columns ) ) / 100 ) * $bp-full;

        .section--events {

            .calendar-event {
                max-width: 100%;
            }

            @include home-events-grid( $grid-columns );

        }

        .carousel--photo .carousel__item {
            position: relative;
            width: 100%;
        }
        
        .carousel--photo .carousel__item__photo {
            display: block;
            min-height: 185px;
            width: 100%;

            overflow: hidden;
            
            img {
                width: 100%;
                height: auto;
            }
        }

        .carousel--photo .carousel__item__block {
            @include rem( width, $carousel-block-width );
        }
    }

    @include breakup-breakpoint( "full" ) {

        $grid-columns: map-get( $grid-breakpoints, "full" );
        $carousel-block-width: ceil( ( parseInt( span( 6 of $grid-columns $grid-full-column-sizes ) ) / 100 ) * $bp-full );
        
        .carousel--photo .carousel__item__block {
            position: absolute;
            bottom: 35px;
            @include rem( width, $carousel-block-width );
        }
        .carousel--photo .carousel__item__block--left {
            left: 50%;
            @include rem( margin-left, 0 - $carousel-block-width );
        }
        .carousel--photo .carousel__item__block--right {
            right: 50%;
            @include rem( margin-right, 0 - $carousel-block-width );
        }

        .carousel--photo.carousel--enabled {
            $carousel-transition: 0.75s;

            // maintain the ratio 1440 x 600
            height: 0;
            padding-top: percentage( 600 / 1440 );

            .carousel__item {
                position: absolute;
                
                @include transition( left $carousel-transition ease );
            }
            
            .carousel-overlay {
                
                @include box-shadow( 2px 2px 0 rgba( #000, .5 ) );
                
                position: absolute;
                left: 0;
                right: 0;
                margin: 0;
                bottom: 35px;
                z-index: 2;
                @include rem( width, $carousel-block-width );

                @include transition( left $carousel-transition, right $carousel-transition, margin $carousel-transition );
                
                &--left {
                    left: 50%;
                    right: auto;
                    @include rem( margin-left, 0 - $carousel-block-width );
                }
                &--right {
                    left: auto;
                    right: 50%;
                    @include rem( margin-right, 0 - $carousel-block-width );
                }
                
                .carousel__item__block {
                    
                    // Undo other block styles
                    @include box-shadow(none);
                    position: static;
                    width: 100%;
                    
                    // fit to the overlay look & feel
                    @include box-sizing( border-box );
                    @include rem( width, $carousel-block-width );
                    margin: 0;
                }
                
                &__footer {
                    display: table;
                    border-collapse: separate;
                    border-spacing: 2px;
                    
                    // compensate for the border spacing
                    @include rem( width, $carousel-block-width + 4 );
                    margin: 0 -2px -2px;
                }
                &__button {
                    background: $color-white;
                    
                    @include breakup-placeholder( small-caps );
                    white-space: normal;
                    
                    border: 0;
                    display: table-cell;
                    @include rem( padding, 10 20 );
                    vertical-align: middle;

                    cursor: pointer;
                    
                    &--prev,
                    &--next {
                        @include rem( font-size, $font-size-h2 );
                        font-weight: bold;
                        text-align: center;
                        width: 15%;
                    }
                }
                &__page {
                    background: $color-white;
                    
                    font-family: $font-stack-serif;
                    
                    display: table-cell;
                    @include rem( padding, 10 );
                    vertical-align: middle;
                    text-align: center;
                    width: 15%;
                }
            }

        }
        
        .section--events {
            @include home-events-grid( $grid-columns, $grid-full-column-sizes );
        }

    }

}