/*------------------------------------*\
    Speaking Engagements
\*------------------------------------*/

.speaking-engagements {

	// Flexbox!
	.listing--events {

		@include breakup-breakpoint('global') {

			// Flexbox!
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			
			@include rem( margin, 20 auto 0 );

		}

		@include breakup-breakpoint('full') {
			@include rem( margin, 20 -80 0 );
		}

	}


	@include breakup-breakpoint('global') {

		.listing__item__meta {
			color: $color-off-white;
		}

		//.listing__extra {
		//
		//	border-top: 1px solid;
		//	margin: 20px -20px -20px;
		//
		//	&__title {
		//		padding: 10px 20px;
		//		transition: background-color .25s ease-in-out;
		//
		//		&:hover,
		//		&:focus {
		//			background-color: lighten($color-dark-teal,10%);
		//		}
		//	}
		//
		//	&[open] {
		//		padding: 0 20px 20px;
		//	}
		//
		//	&[open] .listing__extra__title {
		//		background-color: lighten($color-dark-teal,10%);
		//		margin: 0 -20px 20px;
		//	}
		//}

	}

	.event {

		@include breakup-breakpoint('global') {

			background: $color-green-dark;
			color: $color-off-white;
			text-shadow: 1px 1px 1px $color-green-dark;

			box-sizing: border-box;
			@include rem( padding, 20 );
			@include rem( margin, 0 0 20 0 );
			flex: 0 0 100%;

			// not needed without <details>
			//display: flex;
			//flex-direction: column;
			//justify-content: space-between;

			position: relative;
			overflow: hidden;

			a {
				color: $color-white;
				border-bottom: none;
			}

			.listing__item__title,
			.listing__item__meta {
				position: relative;
				z-index: 1;
			}

			.listing__item__title {

				@include rem( font-size, 18 );
				line-height: 1.1;
  				@include rem( margin-bottom, 12 );

  				&--future .listing__item__title {
					@include rem( font-size, 24 );
  				}

			}

			&__location-picture {

				background: transparent center center no-repeat;
				background-size: cover;
				box-shadow: inset 0 0 50px 7px $color-green-dark;

				opacity: .45;
				filter: grayscale(100%);

				margin: 0;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;

				transition: opacity .5s ease-in-out, transform .5s linear;

			}

			& a:focus .event__location-picture,
			&:hover .event__location-picture {

				opacity: .05;
				transform: scale(1.125);

			}

			&--future {

				border-color: $color-dark-teal;
				background: $color-dark-teal;
				box-shadow: inset 0 0 50px 7px $color-dark-teal;
				text-shadow: 1px 1px 1px $color-dark-teal;
				
			}

			//&__presentation-type {
			//	font-weight: bold;
			//}
//
			//&__presentation-title {
			//	font-style: italic;
			//}
//
			//&__presentation-with {
			//	font-size: .8em;
			//	white-space: nowrap;
			//}

		}

		@include breakup-breakpoint('small') {

			// 2 events per row, 20px gutter
			flex: 0 0 calc( 50% - 1.25rem / 2 );
            margin-left: 1.25rem;
			
			/* Remove left margin for row starters */
            &:nth-child(odd) {
                margin-left: 0;
            }
			
			// Reset margins on "future" events & remove the correct one
            &--future:nth-child(odd) {
                margin-left: 1.25rem;
            }
            &--future:nth-child(even) {
                margin-left: 0;
            }
			
			// first if more >= 1
		    &--future:nth-last-child(n+1):first-child {
		    	flex: 0 0 100%;
                margin-left: 0;

		    	.listing__item__title {
					@include rem( font-size, 36 );
				}
		    }

		}

		@include breakup-breakpoint('medium') {

			/* 1/3 width with a 20px gap (fudged) */
            flex: 0 0 calc( 100% / 3 - 0.875rem );

			// Reset margins
            &:nth-child(even),
            &:nth-child(odd) {
              margin-left: 1.25rem;
            }
            
            // Normal Grid margin removal
            &:nth-child(3n+1) {
              margin-left: 0;
            }
			
			&--future {

				// Only the lonely
				@include exactly(1) {
			        flex: 0 0 100%;
			        margin-left: 0;

			        .listing__item__title {
						@include rem( font-size, 36 );
					}
			    }

			    // Margin reset
                &:nth-child(3n+1) {
                    margin-left: 1.25rem;
                }

                // Quantity + nth
                &:nth-last-child(n+2):first-child ~ .event--future:nth-child(3n) {
                    margin-left: 0;
                }

				// first two if more >= 2
			    &:nth-last-child(n+2):first-child,
			    &:nth-last-child(n+2):first-child + .event--future {
			    	flex: 0 0 calc( 50% - 1.25rem / 2 );

			        .listing__item__title {
						@include rem( font-size, 24 );
					}
			    }

			}

		}

	}

}
