/*------------------------------------*\
    Speaking Engagements
\*------------------------------------*/

.listing--events {

	// Flexbox!
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;

	
}

.event {
	
	@include breakup-breakpoint('global') {
		border: 1px solid;
		@include rem( padding, 20 );
		@include rem( margin, 0 20 20 0 );
		box-sizing: border-box;
	}

	@include breakup-breakpoint('medium') {
		width: 46%;
	}

	@include breakup-breakpoint('full') {
		width: 30%;
	}

	&--future {

		// Only the lonely
		@include exactly(1) {
	        
	    }

		@include exactly(2) {
	        width: 46%;
	    }

	    &:nth-last-child(n+3):first-child,
	    

	}

}