---
layout: default
title: Aaron Gustafson at a Glance
comments: false
footer: true
---

<section id="hi" class="section section--hi">
	<div class="layout-container">
		<p>Hi there.</p>
		<p>My name is Aaron Gustafson and I work on the web.</p>
	</div>
</section>

<section id="about" class="section">
	<div class="layout-container">
		<div class="layout-container__primary">
		
			{% capture about %}{% include about.markdown %}{% endcapture %}
			{{ about | markdownify }}

		</div>
		<div class="layout-container__secondary">

			<h2>You can stalk me on the following networks:</h2>
			<ul class="link-list link-list--social">
				{% for link in site.data.links %}
					{% if link.category == 'profile' %}
						<li class="link-list__item link-list__item--{{ link.site | downcase }}">
							<a href="{{ link.url }}" title="{{ link.title }}">{{ link.site }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>
</section>

<section id="books" class="section">
	
	<h1 class="section__title hidden">Book Contributions</h1>
	
	<ul class="listing listing--books">
		{% for book in site.data.books limit:6 %}
			<li class="listing__item listing__item--{{ forloop.index }} book">
				<h3 class="listing__item__title"><cite>
					<b class="book__title">{{ book.title }}</b>
					{% if book.subtitle %}
						<b class="book__subtitle">{{ book.subtitle }}</b>
					{% endif %}
				</cite></h3>
				<p class="listing__item__meta">
					<b class="book__author">{{ book.author }}</b>
					{% if book.meta %}
						<b class="book__meta">{{ book.meta }}</b>
					{% endif %}
				</p>
				<div class="listing__item__content book__notes">
					{{ book.notes | markdownify }}
				</div>
				<p class="listing__item__link book__link"><a href="{{ book.sales_url }}">Purchase on {{ book.sales_channel }}</a></p>
			</li>
		{% endfor %}
	</ul>
	
	<p class="more">See a complete list of <a href="/books">my book contributions</a>.</p>
	
</section>

<section id="articles" class="section">
	
	<h1 class="section__title hidden">Articles</h1>
	
	<ul class="listing listing--articles">
		{% for article in site.data.articles limit:12 %}
			<li class="listing__item listing__item--{{ forloop.index }} article">
				{% if article.url %}
					<h3 class="listing__item__title article__title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
				{% else %}
					<h3 class="listing__item__title article__title">{{ article.title }}</h3>
				{% endif %}
				<p class="listing__item__meta article__publisher">
					<cite>{{ article.publisher }}</cite>,
					<time datetime="{{ article.published | date_to_xmlschema }}">{{ article.published | date: "%B %Y" }}</time>
				</p>
				<div class="listing__item__content article__notes">
					{{ article.notes | markdownify }}
				</div>
			</li>
		{% endfor %}
	</ul>

	<p class="more">See a complete list of <a href="/articles">my articles</a>.</p>
	
</section>

<section id="events" class="section">
	<div class="layout-container">
		<div class="layout-container__primary">
			
			<h1 class="section__title hidden">Upcoming Conferences &amp; Workshops</h1>
		
			<ul class="listing listing--events">
				{% for event in site.data.events-future limit:2 %}
					<li class="listing__item listing__item--{{ forloop.index }} event event--future">
						<h3 class="listing__item__title event__title">
							{% if event.url %}
								<a href="{{ event.url }}">{{ event.title }}</a>
							{% else %}
								{{ event.title }}
							{% endif %}
						</h3>
						<p class="listing__item__meta">
							<b class="event__date">{{ event.date | date: "%B %Y" }}</b>
							<b class="event__location">{{ event.location }}</b>
						</p>
					</li>
				{% endfor %}
			</ul>
	
			<h1 class="section__title hidden">Past Conferences &amp; Workshops</h1>
		
			<ul class="listing listing--events">
				{% for event in site.data.events-past limit:9 %}
					<li class="listing__item listing__item--{{ forloop.index }} event event--past">
						<h3 class="listing__item__title event__title">
							{% if event.url %}
								<a href="{{ event.url }}">{{ event.title }}</a>
							{% else %}
								{{ event.title }}
							{% endif %}
						</h3>
						<p class="listing__item__meta">
							<b class="event__date">{{ event.date | date: "%B %Y" }}</b>
							<b class="event__location">{{ event.location }}</b>
						</p>
					</li>
				{% endfor %}
			</ul>
	
			<p class="more">See a complete list of <a href="/events">my conferences &amp; workshops</a>.</p>
			
		</div>
		<div class="layout-container__secondary">

			<h2>If you’re interested in following my presentations:</h2>
			<ul class="link-list link-list--speaking">
				{% for link in site.data.links %}
					{% if link.category == 'speaking' %}
						<li class="link-list__item link-list__item--{{ link.site | downcase }}">
							<a href="{{ link.url }}" title="{{ link.title }}">{{ link.site }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>
</section>

<section id="other" class="section">
	
	<h1 class="section__title hidden">Appearances &amp; Interviews</h1>
	
	<ul class="listing">
		{% for appearance in site.data.appearances limit:9 %}
			{% capture display_title %}{% if appearance.title %}{{ appearance.title }}{% else %}{{ appearance.outlet }}{% endif %}{% endcapture %}
			<li class="listing__item listing__item--{{ forloop.index }} appearance">
				<h3 class="listing__item__title appearance__title">
					{% if appearance.url %}
						<a href="{{ appearance.url }}">{{ display_title }}</a>
					{% else %}
						{{ display_title }}
					{% endif %}
				</h3>
				<p class="listing__item__meta appearance__meta">
					<b class="appearance__date">{{ appearance.date | date: "%B %Y" }}</b>
					{% if display_title != appearance.outlet %}
						<b class="appearance__venue">{{ appearance.outlet }}</b>
					{% endif %}
				</p>
				<div class="listing__item__description appearance__description">
					{{ appearance.description | markdownify }}
				</div>
			</li>
		{% endfor %}
	</ul>

	<p class="more">See a complete list of <a href="/appearances">my appearances &amp; interviews</a>.</p>

</section>