---
layout: page
title: Stuff I’ve Written
description: "I love to write and over the years I’ve contributed to a shelf-worth of books and dozens of articles."
show_title: false
comments: false
sharing: false
footer: true
sidebar: false
body_class: publications
---

{% capture svg_book %}{% svg /i/icons/book.svg width=24 %}{% endcapture %}
{% capture svg_article %}{% svg /i/icons/article.svg width=24 %}{% endcapture %}

<h1 class="page__title">Everything I’ve Written</h1>

{{ site.data.microcopy.publications.intro | markdownify }}

<section id="books" class="section">
  <h2 class="section__title">Books</h2>

  <ul class="listing listing--books listing--grid">
    {% for book in site.data.books.authored %}
      <li class="listing__item listing__item--{{ forloop.index }} book">
        {% capture book_cover %}
          {% if book.cover %}
            <figure class="book__cover">
              <img class="book__cover__image"
                  src="https://res.cloudinary.com/aarongustafson/image/fetch/c_fill,f_auto,q_auto,h_400/{{ site.url }}/i/books/{{ book.cover }}.jpg"
                  height="200" width="{{ book.width }}" alt="">
            </figure>
          {% endif %}
        {% endcapture %}

        {% capture book_title %}
          <cite class="book__title">{{ book.title }}{% if book.subtitle %}: <b class="book__subtitle">{{ book.subtitle }}</b>{% endif %}</cite>
        {% endcapture %}
        
        <h3 class="listing__item__title">
          {% if book.url %}
            <a href="{{ book.url }}">
              {{ book_cover }}
              {{ book_title }}
            </a>
          {% else %}
            {{ book_cover }}
            {{ book_title }}
          {% endif %}
        </h3>

        {% comment %}
        {% if book.author != "Aaron Gustafson" %}
          <p class="listing__item__meta">
            <b class="book__author">{{ book.author }}</b>
            {% if book.meta %}
              <br>
              <b class="book__meta">{{ book.meta }}</b>
            {% endif %}
          </p>
        {% endif %}

        <div class="listing__item__content book__notes">
          {{ book.notes | markdownify }}
        </div>
        {% endcomment %}
      </li>
    {% endfor %}
  </ul>
    
  <p>{{ site.data.microcopy.publications.contributions_intro }}</p>

  <ul class="listing listing--books listing--icons">
    {% for book in site.data.books.contributed %}
      <li class="listing__item listing__item--{{ forloop.index }} book book--contributed">
        <p class="listing__item__type" title="Book" aria-label="Book">{{ svg_book }}</p>
        
        {% capture book_title %}
          <cite>{{ book.title }}{% if book.subtitle %}: <b class="book__subtitle">{{ book.subtitle }}</b>{% endif %}</cite>
        {% endcapture %}
        <h3 class="listing__item__title book__title">
          {% if book.url %}
            <a href="{{ book.url }}">{{ book_title }}</a>
          {% else %}
            {{ book_title }}
          {% endif %}
        </h3>

        <p class="listing__item__meta">by <b class="book__author">{{ book.author }}</b></p>
      </li>
    {% endfor %}
  </ul>

  <p>{{ site.data.microcopy.publications.forewords_intro }}</p>

  <ul class="listing listing--books listing--icons">
    {% for book in site.data.books.forewords %}
      <li class="listing__item listing__item--{{ forloop.index }} book book--contributed">
        <p class="listing__item__type" title="Book" aria-label="Book">{{ svg_book }}</p>
        
        {% capture book_title %}
          <cite>{{ book.title }}{% if book.subtitle %}: <b class="book__subtitle">{{ book.subtitle }}</b>{% endif %}</cite>
        {% endcapture %}
        <h3 class="listing__item__title book__title">
          {% if book.url %}
            <a href="{{ book.url }}">{{ book_title }}</a>
          {% else %}
            {{ book_title }}
          {% endif %}
        </h3>

        <p class="listing__item__meta">by <b class="book__author">{{ book.author }}</b></p>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="articles" class="section">
  <h2 class="section__title">Articles</h2>
  
  <ul class="listing listing--articles listing--icons">
    {% for article in site.data.articles %}
      <li class="listing__item listing__item--{{ forloop.index }} listing__item--icon article">
        <p class="listing__item__type" title="Article" aria-label="Article">{{ svg_article }}</p>
        <h3 class="listing__item__title article__title">
          {% if article.url %}
            <a href="{{ article.url }}">{{ article.title }}</a>
          {% else %}
            {{ article.title }}
          {% endif %}
        </h3>
        <p class="listing__item__meta article__publisher">
          <cite>{{ article.publisher }}</cite>,
          <time datetime="{{ article.published | date_to_xmlschema }}">{{ article.published | date: "%B %Y" }}</time>
        </p>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="contributions" class="section">
  <h2 class="section__title">Additional Work</h2>
  
  <p>{{ site.data.microcopy.publications.editing_intro }}
    {% for book in site.data.books.edited %}
      {% if forloop.index == forloop.length %}
        and
      {% endif %}
      <a href="{{ book.url }}"><cite>{{ book.title }}</cite></a> by
      {{ book.author }}{% if forloop.index == forloop.length %}.{% else %},{% endif %}
    {% endfor %}
  </p>
</section>